<co-page-layout>
  <co-page-main [coMaxWidth]="sideDrawer.isOpen ? 1200 : undefined">
    <co-toolbar>
      <co-toolbar-item>
        <nz-tabset (nzSelectedIndexChange)="nzSelectedIndexChange($event)">
          <nz-tab nzTitle="全部" > </nz-tab>
          <nz-tab [nzTitle]="titleTemplate"  *ngFor="let item of routeList; let i = index">
            <ng-template #titleTemplate>
              {{ item.name }}
              <span
                class="iconfont icon-edit"
                nz-icon
                nzIconfont="icon-edit"
                (click)="editRoute('edit', item, sideDrawer,$event)"
                [ngClass]="{ 'routelist-polActive': selectedIndex == i }"
              ></span>
            </ng-template>
          </nz-tab>
        </nz-tabset>
      </co-toolbar-item>
      <co-toolbar-item style="display: flex; flex-direction: row; align-items: center; margin-top: -10px;">
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="plus-circle" nzTheme="outline" (click)="onAddLine('Add', null, sideDrawer)"></i>
      </co-toolbar-item>
    </co-toolbar>
    <div class="inquiry-ocean-content" style="display: flex; flex-direction: column; height: 100%; background: #fff;">
      <form nz-form [formGroup]="searchForm">
        <!--    <div class="login-form">-->
        <co-search-area-layout coWidth="12%">
          <!-- <nz-form-item>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <nz-select formControlName="pol" nzPlaceHolder="{{ 'POL' | translate }}" nzShowSearch nzServerSearch
            nzAllowClear (nzOnSearch)="getBasicPortList($event)">
            <nz-option *ngFor="let option of basicPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item> -->
          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-select
                  formControlName="pols"
                  class="selectIptNoPadding"
                  nzPlaceHolder="{{ 'POL' | translate }}"
                  nzShowSearch
                  nzServerSearch
                  nzAllowClear
                  nzMode="multiple"
                  [nzMaxTagCount]="1"
                  (nzOnSearch)="getBasicPortList($event)"
                >
                  <nz-option *ngFor="let option of basicPolPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>

          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-select
                  formControlName="pods"
                  class="selectIptNoPadding"
                  nzPlaceHolder="{{ 'POD' | translate }}"
                  nzShowSearch
                  nzServerSearch
                  nzAllowClear
                  nzMode="multiple"
                  [nzMaxTagCount]="1"
                  (nzOnSearch)="getBasicPortList($event)"
                >
                  <nz-option *ngFor="let option of basicPodPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>

          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <!-- <nz-select formControlName="delivery" nzPlaceHolder="{{ 'Delivery' | translate }}" nzShowSearch
              nzServerSearch nzAllowClear (nzOnSearch)="getBasicPortList($event)">
              <nz-option *ngFor="let option of deliveryList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
              </nz-option>
            </nz-select> -->

                <nz-select
                  formControlName="deliverys"
                  nzPlaceHolder="{{ 'Delivery' | translate }}"
                  nzShowSearch
                  nzServerSearch
                  nzAllowClear
                  nzMode="multiple"
                  [nzMaxTagCount]="1"
                  (nzOnSearch)="getBasicPortList($event)"
                  class="selectIptNoPadding"
                >
                  <nz-option *ngFor="let option of deliveryList" [nzLabel]="option.nameLocalization" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>

          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-select
                  nzMode="multiple"
                  formControlName="shipCompanys"
                  nzPlaceHolder="{{ 'Carrier' | translate }}"
                  nzShowSearch
                  nzServerSearch
                  nzAllowClear
                  (nzOnSearch)="getCRMCarrierList({ name: $event, customerType: 1, sorting: 'code' })"
                >
                  <nz-option *ngFor="let option of carriers" [nzLabel]="option.code" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>

          <co-search-area-item style="width: 15%;">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-range-picker [formControl]="$any(searchForm.controls.dynamicQuery).controls.timeranges"></nz-range-picker>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>

          <co-search-area-item style="width: 20%;">
            <button nz-button [nzType]="'primary'" (click)="onSearch()">
              {{ 'Search' | translate }}
            </button>
            <button nz-button [nzType]="'default'" (click)="onClear()">{{ 'Reset' | translate }}</button>
            <button nz-button nzType="link" (click)="onShowMoreSearch()">
              {{ 'Advanced search' | translate }}
              <i nz-icon nzType="down" *ngIf="!showMoreSearch" nzTheme="outline"></i>
              <i nz-icon nzType="up" *ngIf="showMoreSearch" nzTheme="outline"></i>
            </button>
          </co-search-area-item>

          <co-search-area-item>
            <button nz-button *ngIf="showShareBtn" [disabled]="shareDisabled" (click)="onShowShareModal()">
              {{ 'Share' | translate }}
            </button>

            <button nz-button *ngIf="showInquiryBtn" nzType="primary" (click)="onShowModal()">
              {{ 'Inquiry' | translate }}
            </button>
          </co-search-area-item>
        </co-search-area-layout>
        <!--    </div>-->

        <!--    <div class="login-form2" >-->
        <co-search-area-layout coWidth="12%" *ngIf="showMoreSearch" formGroupName="dynamicQuery">
          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-select formControlName="shippingLineId" nzPlaceHolder="{{ 'Shippingline' | translate }}" nzAllowClear>
                  <nz-option *ngFor="let option of shippings" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>
          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <input type="text" nz-input formControlName="commodity" placeholder="{{ 'Commodity' | translate }}" />
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>
          <co-search-area-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <input type="text" nz-input formControlName="no" placeholder="{{ 'NO' | translate }}" />
              </nz-form-control>
            </nz-form-item>
          </co-search-area-item>
        </co-search-area-layout>
        <!--    </div>-->
      </form>
      <div class="inquiry-right">
        <div class="inquiry-right-content">
          <co-st
          #st
          data="/Rates/EsQuery/GetAllForES"
          [columns]="columns"
          [showFilters]="false"
          [ps]="searchParams.maxResultCount"
          [(pi)]="searchParams.pageNo"
          [req]="{ process: paramsProcess }"
          [res]="{ process: stResProcess }"
          (change)="checkChange($event)"
          calcScroll
          [page]="{ front: false }"
          [noResult]="noresult"
          style="height: 100%;"
          >
            <ng-template st-row="{{ tata }}" let-data *ngFor="let tata of tablestitle">
              <span *ngFor="let ratePrice of data.containerPriceList">
                <span
                  *ngIf="ratePrice.unit === tata"
                  class="col-green"
                  [ngClass]="{
                    tablelineThrough: !data.isValid
                  }"
                  >{{ ratePrice.rate == 0 ? '' : ratePrice.rate }}</span
                >
              </span>
            </ng-template>

            <ng-template st-row="Attention" let-data>
              <div class="detial_msg" style="width: 75px;">
                <i
                  nz-icon
                  nzType="star"
                  nzTheme="outline"
                  (click)="$event.stopPropagation(); onFollowChange(data)"
                  *ngIf="!data.isFavorite"
                ></i>

                <i
                  nz-icon
                  nzType="star"
                  nzTheme="fill"
                  (click)="$event.stopPropagation(); onFollowChange(data)"
                  *ngIf="data.isFavorite"
                ></i>
              </div>
            </ng-template>
            <ng-template st-row="shipCompany" let-data>
              {{ data?.shipCompany?.displayName }}
            </ng-template>
            <ng-template st-row="pol" let-data> {{ data?.pol?.displayFullName }} </ng-template>

            <ng-template st-row="delivery" let-data> {{ data?.delivery?.displayFullName }} </ng-template>
            <ng-template st-row="pod" let-data>
              {{ data?.pod?.displayFullName }}
            </ng-template>

            <ng-template st-row="updateBy" let-data>
              {{ data?.updateBy?.displayName }}
            </ng-template>

            <ng-template st-row="action" let-data>
              <a *ngIf="data.reject" (click)="onEdit(data, $event)">
                {{ 'Edit' | translate }}
              </a>
            </ng-template>
          </co-st>
          <ng-template #noresult>
            <div style="text-align: center; text-align: center;">
              <div>
                <img src="apps/crm/assets/images/nodata.png" style="display: block; width: 60px; margin: 0 auto; padding: 10px 0;" />
              </div>
              <div style="color: rgba(0, 0, 0, 0.45); font-size: 18px;" *ngIf="searchForm.get('isFollow').value">
                {{ 'If there is no follow information, please click the search button to load all the data' | translate }}
              </div>
              <div style="color: rgba(0, 0, 0, 0.45); font-size: 18px;" *ngIf="!searchForm.get('isFollow').value">
                {{ 'No Data' | translate }}
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <nz-drawer
        [nzClosable]="false"
        [nzBodyStyle]="drawerStyle"
        [nzWidth]="'1'"
        [nzVisible]="detialVisible"
        nzPlacement="right"
        [nzTitle]="drawerTitle"
        (nzOnClose)="closeDrawerModal()"
        [nzMaskStyle]="maskStyle"
      >
        <app-inquiry-detial
          #detial
          mouseMoveEvent
          (mousedown)="down($event)"
          (mousemove)="move($event)"
          (mouseUp)="up()"
        ></app-inquiry-detial>
      </nz-drawer>
    </div>
  </co-page-main>
  <co-page-side-drawer coWidthResizable (coOnClose)="$event.close()" [coTitle]="drawerfavoriteTitle" #sideDrawer></co-page-side-drawer>
</co-page-layout>

<ng-template #drawerfavoriteTitle>
  收藏路线
</ng-template>
<ng-template #drawerTitle>
  <span style="margin-left: 14px;">{{ 'Detial' | translate }}</span>
  <span *ngIf="busType?.businessType == 0" class="drawer-tag">{{ 'Contract price' | translate }}</span>
  <span *ngIf="busType?.businessType == 1">
    <span *ngIf="busType?.status == null" class="drawer-tag tag-orange">{{ 'Inquiry-to be quoted' | translate }}</span>
    <span *ngIf="busType?.status == 0" class="drawer-tag tag-green">{{ 'Inquiry-Quoted' | translate }}</span>
    <span *ngIf="busType?.status == 1" class="drawer-tag tag-red">{{ 'Inquiry-Invalid quote' | translate }}</span>
  </span>
  <i class="iconfont icon-guanbi icon-close" (click)="closeDrawerModal()"></i>
</ng-template>

<!-- 分享 -->
<nz-modal
  [(nzVisible)]="shareModal"
  [nzFooter]="shareFooter"
  nzWidth="70%"
  nzTitle="{{ 'Share Rates' | translate }}"
  (nzOnCancel)="cancelShareModal()"
  nzMaskClosable="false"
>
  <div *ngIf="validateShareForm && !showShareDtail">
    <form nzLayout="vertical" nz-form [formGroup]="validateShareForm" style="display: flex; flex-direction: column; height: 100%;">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'Select customer' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="{{ 'Please select' | translate }}">
              <nz-select
                nzShowSearch
                nzServerSearch
                (nzOnSearch)="getCustomer($event)"
                (ngModelChange)="setShareUser($event)"
                nzAllowClear
                formControlName="customer"
                nzPlaceHolder="{{ 'Please select' | translate }}"
              >
                <nz-option [nzLabel]="detial.name" [nzValue]="detial.id" *ngFor="let detial of shareCustomerList?.items"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'Inquirer' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="{{ 'Please select' | translate }}">
              <nz-select nzShowSearch nzAllowClear formControlName="people" nzPlaceHolder="{{ 'Please select' | translate }}">
                <nz-option [nzLabel]="detial.name" [nzValue]="detial.userId" *ngFor="let detial of shareuserList"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired>{{ 'Quotation validity' | translate }}</nz-form-label>
            <nz-form-control [nzSpan]="24" nzErrorTip="{{ 'Please select' | translate }}">
              <nz-range-picker [nzDisabledDate]="disabledShareDate" formControlName="time" style="width: 100%;"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-spin [nzSpinning]="shareFormLoading" style="flex: 1; padding: 50px 0;" nzTip="Loading..." *ngIf="shareFormLoading"></nz-spin>

      <div class="noCustomer" *ngIf="notcertified && !shareFormLoading">
        <div class="noCustomer-right">
          <div>
            <img src="apps/crm/assets/images/customer/noCustomer.png" />
          </div>
          <div>
            <div class="title">{{ 'Customer is not certified' | translate }}</div>
            <div class="message">{{ 'Sorry, you have not performed client authentication' | translate }}</div>
          </div>
        </div>
      </div>

      <div formArrayName="rates" class="rates" *ngIf="!shareFormLoading && dataItem && !notcertified">
        <div *ngFor="let form of $any(validateShareForm.controls.rates).controls; let i = index" [formGroupName]="i">
          <div class="rates-title">
            No.{{ i + 1 }}
            <!-- <div class="delete" (click)="deleteRatePort(i, 'originPort')">
              <i nz-icon nzType="delete" nzTheme="outline" style="color: #00000045;"></i>
            </div> -->
          </div>
          <div class="rates-body">
            <div style="background: #fff;">
              <div class="rateDetail" style="overflow-x: auto; border: 20px solid #fff;">
                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'Carrier' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        formControlName="company"
                        nzPlaceHolder="{{ 'Please select' | translate }}"
                        style="max-width: 100%;"
                      >
                        <nz-option [nzLabel]="detial.name" [nzValue]="detial.id" *ngFor="let detial of shareCompnayList?.items"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'POL' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      {{ dataItem[i].pol || '--' }}
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'POD' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      {{ dataItem[i].pod || '--' }}
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'Delivery' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      {{ validateShareForm.get('rates').value[i].delivery }}
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div *ngFor="let detial of dataItem[i].units">
                  <nz-form-item>
                    <nz-form-label>{{ detial.unit }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      <input nz-input [formControlName]="detial.unit" placeholder="{{ 'Please enter' | translate }}" />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'T/T DAYS' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      <input nz-input formControlName="tt" placeholder="{{ 'Please enter' | translate }}" />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item>
                    <nz-form-label>{{ 'Shipping terms' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      {{ validateShareForm.get('rates').value[i].term || '--' }}
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item style="width: 150px;">
                    <nz-form-label>{{ 'Duration Form' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      <nz-date-picker formControlName="durationFrom" style="max-width: 100%;"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div>
                  <nz-form-item style="width: 150px;">
                    <nz-form-label>{{ 'Duration To' | translate }}</nz-form-label>
                    <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                      <nz-date-picker formControlName="durationTo" style="max-width: 100%;"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div class="rateDetail2">
                <nz-form-item>
                  <nz-form-label>{{ 'Commodity' | translate }}</nz-form-label>
                  <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                    <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }" formControlName="Commodity"></textarea>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label>{{ 'Remark' | translate }}</nz-form-label>
                  <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                    <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }" formControlName="remark"></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div class="rateDetail3">
                <nz-form-item style="border-bottom: 1px dashed #e9e9e9;">
                  <nz-form-label
                    ><label
                      nz-checkbox
                      formControlName="polshow"
                      (ngModelChange)="setShareValid($event, i, 'pol')"
                      style="margin-right: 8px;"
                    ></label
                    >{{ 'Origin cost' | translate }}</nz-form-label
                  >
                </nz-form-item>

                <div formArrayName="originPort" *ngIf="validateShareForm.get('rates').value[i].polshow" style="overflow-x: auto;">
                  <div class="rateDetail-title">
                    <div>
                      <nz-form-item style="width: 50px;">
                        <nz-form-label>{{ 'Action' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'freeCode' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Currency' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Unit' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div *ngFor="let detial of dataItem[i].originLocalRatesTitle" class="ratediv">
                      <nz-form-item>
                        <nz-form-label>{{ detial }}</nz-form-label>
                      </nz-form-item>
                    </div>
                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Price' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Remark' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>
                  </div>

                  <div
                    class="rateDetail-data"
                    *ngFor="let form1 of $any(validateShareForm.controls.rates).controls[i].controls.originPort.controls; let z = index"
                    [formGroupName]="z"
                  >
                    <div>
                      <nz-form-item style="width: 50px;">
                        <nz-form-control>
                          <div class="delete" (click)="deletePort(i, z, 'originPort')">
                            <i nz-icon nzType="delete" nzTheme="outline" style="color: #00000045;"></i>
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <nz-select
                            nzShowSearch
                            nzAllowClear
                            formControlName="freeCode"
                            nzPlaceHolder="{{ 'Please select' | translate }}"
                            (ngModelChange)="freeCodeChange(i)"
                          >
                            <nz-option
                              [nzLabel]="detial.name"
                              [nzValue]="detial.id"
                              [nzDisabled]="detial['checked' + i]"
                              *ngFor="let detial of costItemList"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <nz-select nzShowSearch nzAllowClear formControlName="Currency" nzPlaceHolder="{{ 'Please select' | translate }}">
                            <nz-option [nzLabel]="detial.name" [nzValue]="detial.id" *ngFor="let detial of shareCurrency"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control>
                          <nz-select
                            formControlName="Unit"
                            nzAllowClear
                            nzPlaceHolder="{{ 'Please select' | translate }}"
                            (ngModelChange)="onSetUnitValid($event, i, z, 'originPort')"
                          >
                            <nz-option [nzValue]="2" [nzLabel]="'Ticket' | translate"></nz-option>
                            <nz-option [nzValue]="1" [nzLabel]="'ContainType' | translate"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div *ngFor="let data of dataItem[i].originLocalRatesTitle" class="ratediv">
                      <nz-form-item>
                        <nz-form-control
                          [ngClass]="{
                            'ant-form-item-has-error': $any(validateShareForm.controls.rates).controls[i].controls.originPort.controls[
                              z
                            ].controls[data].hasError('required')
                          }"
                        >
                          <input
                            nz-input
                            [formControlName]="data"
                            placeholder="{{ 'Please enter' | translate }}"
                            *ngIf="validateShareForm.get('rates').value[i].originPort[z].Unit === 1"
                          />

                          <span *ngIf="validateShareForm.get('rates').value[i].originPort[z].Unit === 2">--</span>

                          <div
                            class="ant-form-item-explain"
                            *ngIf="
                              $any(validateShareForm.controls.rates).controls[i].controls.originPort.controls[z].controls[data].hasError(
                                'required'
                              ) && validateShareForm.get('rates').value[i].originPort[z].Unit === 1
                            "
                          >
                            {{ 'please enter' | translate }}
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div>
                      <nz-form-item>
                        <nz-form-control
                          [ngClass]="{
                            'ant-form-item-has-error': $any(validateShareForm.controls.rates).controls[i].controls.originPort.controls[
                              z
                            ].controls.Price.hasError('required')
                          }"
                        >
                          <input
                            nz-input
                            formControlName="Price"
                            placeholder="{{ 'Please enter' | translate }}"
                            *ngIf="validateShareForm.get('rates').value[i].originPort[z].Unit === 2"
                          />

                          <span *ngIf="validateShareForm.get('rates').value[i].originPort[z].Unit === 1">--</span>

                          <div
                            class="ant-form-item-explain"
                            *ngIf="
                              $any(validateShareForm.controls.rates).controls[i].controls.originPort.controls[z].controls.Price.hasError(
                                'required'
                              ) && validateShareForm.get('rates').value[i].originPort[z].Unit === 2
                            "
                          >
                            {{ 'Please enter' | translate }}
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <input nz-input formControlName="Remark" placeholder="{{ 'Please enter' | translate }}" maxlength="100" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>

                <div
                  class="add"
                  (click)="addPort(i, 'originPort', dataItem[i].originLocalRatesTitle)"
                  *ngIf="validateShareForm.get('rates').value[i].polshow"
                >
                  <i nz-icon nzType="plus" nzTheme="outline"></i> {{ 'Add' | translate }}
                </div>
              </div>

              <div class="rateDetail4">
                <nz-form-item style="border-bottom: 1px dashed #e9e9e9;">
                  <nz-form-label
                    ><label
                      nz-checkbox
                      formControlName="podshow"
                      (ngModelChange)="setShareValid($event, i, 'pod')"
                      style="margin-right: 8px;"
                    ></label
                    >{{ 'Destination cost' | translate }}</nz-form-label
                  >
                </nz-form-item>

                <div formArrayName="destinationPort" *ngIf="validateShareForm.get('rates').value[i].podshow" style="overflow-x: auto;">
                  <div class="rateDetail-title">
                    <div>
                      <nz-form-item style="width: 50px;">
                        <nz-form-label>{{ 'Action' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'freeCode' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Currency' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Unit' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div *ngFor="let detial of dataItem[i].destinationLocalRatesTitle" class="ratediv">
                      <nz-form-item>
                        <nz-form-label>{{ detial }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Price' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-label>{{ 'Remark' | translate }}</nz-form-label>
                      </nz-form-item>
                    </div>
                  </div>

                  <div
                    class="rateDetail-data"
                    *ngFor="let form of $any(validateShareForm.controls.rates).controls[i].controls.destinationPort.controls; let z = index"
                    [formGroupName]="z"
                  >
                    <div>
                      <nz-form-item style="width: 50px;">
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <div class="delete" (click)="deletePort(i, z, 'destinationPort')">
                            <i nz-icon nzType="delete" nzTheme="outline" style="color: #00000045;"></i>
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <nz-select
                            nzShowSearch
                            nzAllowClear
                            formControlName="freeCode"
                            nzPlaceHolder="{{ 'Please select' | translate }}"
                            (ngModelChange)="dfreeCodeChange(i)"
                          >
                            <nz-option
                              [nzLabel]="detial.name"
                              [nzValue]="detial.id"
                              [nzDisabled]="detial['dchecked' + i]"
                              *ngFor="let detial of costItemList"
                            ></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <nz-select nzShowSearch nzAllowClear formControlName="Currency" nzPlaceHolder="{{ 'Please select' | translate }}">
                            <nz-option [nzLabel]="detial.name" [nzValue]="detial.id" *ngFor="let detial of shareCurrency"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <nz-select
                            formControlName="Unit"
                            nzAllowClear
                            nzPlaceHolder="{{ 'Please select' | translate }}"
                            (ngModelChange)="onSetUnitValid($event, i, z, 'destinationPort')"
                          >
                            <nz-option [nzValue]="2" [nzLabel]="'Ticket' | translate"></nz-option>
                            <nz-option [nzValue]="1" [nzLabel]="'ContainType' | translate"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div *ngFor="let detial of dataItem[i].destinationLocalRatesTitle" class="ratediv">
                      <nz-form-item>
                        <nz-form-control
                          [ngClass]="{
                            'ant-form-item-has-error': $any(validateShareForm.controls.rates).controls[i].controls.destinationPort.controls[
                              z
                            ].controls[detial].hasError('required')
                          }"
                        >
                          <input
                            nz-input
                            [formControlName]="detial"
                            placeholder="{{ 'Please enter' | translate }}"
                            *ngIf="validateShareForm.get('rates').value[i].destinationPort[z].Unit === 1"
                          />

                          <span *ngIf="validateShareForm.get('rates').value[i].destinationPort[z].Unit === 2">--</span>

                          <div
                            class="ant-form-item-explain"
                            *ngIf="
                              $any(validateShareForm.controls.rates).controls[i].controls.destinationPort.controls[z].controls[
                                detial
                              ].hasError('required') && validateShareForm.get('rates').value[i].destinationPort[z].Unit === 1
                            "
                          >
                            {{ 'Please enter' | translate }}
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div>
                      <nz-form-item>
                        <nz-form-control
                          [ngClass]="{
                            'ant-form-item-has-error': $any(validateShareForm.controls.rates).controls[i].controls.destinationPort.controls[
                              z
                            ].controls.Price.hasError('required')
                          }"
                        >
                          <input
                            nz-input
                            formControlName="Price"
                            placeholder="{{ 'Please enter' | translate }}"
                            *ngIf="validateShareForm.get('rates').value[i].destinationPort[z].Unit === 2"
                          />
                          <span *ngIf="validateShareForm.get('rates').value[i].destinationPort[z].Unit === 1">-- </span>
                          <div
                            class="ant-form-item-explain"
                            *ngIf="
                              $any(validateShareForm.controls.rates).controls[i].controls.destinationPort.controls[
                                z
                              ].controls.Price.hasError('required') && validateShareForm.get('rates').value[i].destinationPort[z].Unit === 2
                            "
                          >
                            {{ 'Please enter' | translate }}
                          </div>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                          <input nz-input formControlName="Remark" placeholder="{{ 'Please enter' | translate }}" maxlength="100" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                </div>

                <div
                  class="add"
                  (click)="addPort(i, 'destinationPort', dataItem[i].destinationLocalRatesTitle)"
                  *ngIf="validateShareForm.get('rates').value[i].podshow"
                >
                  <i nz-icon nzType="plus" nzTheme="outline"></i> {{ 'Add' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <app-share-ocean [data]="showShareDtailData" [cacheKey]="cacheKey" *ngIf="showShareDtail"></app-share-ocean>
  <ng-template #shareFooter>
    <button
      nz-button
      (click)="onSaveShareModal()"
      *ngIf="!showShareDtail"
      [nzLoading]="shareLoading"
      nzType="primary"
      [disabled]="notcertified"
    >
      {{ 'Share preview' | translate }}
    </button>
    <button nz-button (click)="showShareDtail = false" *ngIf="showShareDtail">{{ 'Back' | translate }}</button>
    <button nz-button (click)="onSaveAndSendShare()" [nzLoading]="loadingSave" nzType="primary" *ngIf="showShareDtail">
      {{ 'Save and send to customer' | translate }}
    </button>
    <!-- <button nz-button nzType="primary">保存并发给客户</button> -->
  </ng-template>
</nz-modal>

<crm-inquiry-submit-dialog
  *ngIf="modalVisible"
  [id]="inquiryId"
  (close)="modalVisible = false; inquiryId = null; onClose($event)"
></crm-inquiry-submit-dialog>
