<nz-layout style="height: 100%;">
  <nz-header>
    <div class="customerInfo-header">
      <div style="display: flex; height: 32px; font-weight: 800; line-height: 32px;">
        <p style="font-weight: 400; font-size: 20px;">{{ customerInfo?.localizationName }}</p>
        <div class="edit-customer" style="display: flex; align-items: center;">
          <nz-tag class="customerInfo-registered" *ngIf="customerInfo?.isRegistered">
            <img src="apps/crm/assets/images/csp-certification.png" width="25px"/>
            <span class="customer-title">{{ 'CSP certification passed' | translate }}</span>
          </nz-tag>
          <nz-tag
            class="customerInfo-unRegistered"
            *ngIf="!customerInfo?.isRegistered"
            (click)="!customerInfo?.isDeleted && cspAccountConfig()"
          >
            <img src="apps/crm/assets/images/un-csp-certification.png" width="25px"/>
            <span class="customer-title">{{ 'CSP not certified' | translate }}</span>
          </nz-tag>
        </div>
        <div class="edit-customer" style="display: flex; align-items: center; margin-left: 8px;">
          <nz-tag *ngIf="customerInfo?.examineState == 2" class="customerInfo-registered">
            <img src="apps/crm/assets/images/enterpris-certification.png" width="25px"/>
            <span class="customer-title">{{ 'Enterprise certification passed' | translate }}</span></nz-tag
          >
          <nz-tag
            *ngIf="customerInfo?.examineState == 3 || customerInfo?.examineState == 0"
            (click)="!customerInfo?.isDeleted && applyCode()"
            class="customerinfo-noCertified"
          >
            <img src="apps/crm/assets/images/enterpris-certification-ing.png" width="25px"/>
            <span class="customer-title">{{ 'Enterprise not certified' | translate }}</span>
          </nz-tag>
          <nz-tag *ngIf="customerInfo?.examineState == 1" class="customerinfo-certificing">
            <img src="apps/crm/assets/images/enterpris-certification-ing.png" width="25px"/>
            <span class="customer-title">{{ 'Enterprise certificationing' | translate }}</span></nz-tag
          >
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <button
          (click)="$navigate(['/crm/customers/organization', customerId], {queryParams: {_title: this.$L('Organization structure')}})"
          nz-button>{{ 'View customer organization structure' | translate }}</button>
        <button nz-button nz-dropdown [nzDropdownMenu]="moreOperateButton" nzType="default">
          {{ 'New' | translate }}
        </button>
        <nz-dropdown-menu #moreOperateButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="addContact()">
              {{ 'New Contact' | translate }}
            </li>
            <li nz-menu-item (click)="addLocation()">
              {{ 'Add Location' | translate }}
            </li>
            <li nz-menu-item (click)="addFollowUpRecord()">
              {{ 'Follow up record' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>

        <i class="button-more" nz-dropdown [nzDropdownMenu]="moreButton" nz-icon nzType="unordered-list"
           nzTheme="outline"></i>
        <nz-dropdown-menu #moreButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngIf="customerInfo?.examineState != 1 && !customerInfo?.code" (click)="applyCode()">
              {{ 'Apply Code' | translate }}
            </li>
            <li nz-menu-item *ngIf="!customerInfo?.isRenaming" (click)="applyName()">
              {{ 'Apply Name' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isRegistered" nz-menu-item (click)="cspAccountConfig()">
              {{ 'CSP account configuration' | translate }}
            </li>
            <li nz-menu-item (click)="transferCustomer()">
              {{ 'Transfer' | translate }}
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="bulkTurnCustomerSea()"
            >
              {{ 'Transfer to the high seas' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <div style="margin-top: 8px;">
      <span style="margin-right: 10px; color: #999;">{{ 'Customer type' | translate }}</span>
      <span style="margin-right: 40px;">
        <span>{{ CustomerType[customerInfo?.customerType] | translate }}</span>
      </span>
      <span style="margin-right: 10px; color: #999;">{{ 'Customer code' | translate }}</span>
      <span style="margin-right: 40px;">{{ customerInfo?.code || '--' }}</span>

      <span style="margin-right: 10px; color: #999;">{{ 'Customer owned' | translate }}</span>
      <span nz-popover [nzPopoverTitle]="null" [nzPopoverContent]="ownerUserListTemplate">{{
        (customerInfo?.ownerUserList)[0]?.allowUserName
        }}</span>
      <ng-template #ownerUserListTemplate>
        <div *ngFor="let item of customerInfo?.ownerUserList">
          {{ item?.allowUserName }}
        </div>
      </ng-template>
      <span
        nz-popover
        *ngIf="!customerInfo?.isDeleted"
        (click)="transferCustomer()"
        [nzPopoverTitle]="null"
        [nzPopoverContent]="'Transfer customer' | translate"
        style="margin-left: 8px; color: #1890ff;"
        nz-icon
        [nzIconfont]="'icon-zhuanyi'"
        class="iconfont icon-zhuanyi"
      ></span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-content nz-row [nzGutter]="16">
      <div style="height: 100%;" nz-col class="gutter-row" [nzSpan]="16">
        <!--          勿删，暂未实现-->
        <div class="customerinfo-top_link">
          <div class="customerinfo-top_linkleft">
            <div class="customerinfo-top_Tips">{{ 'Related list shortcut links' | translate }}</div>
            <div class="customerinfo-top_linkinfo">
              <div (click)="onLinkQuote()">
                <span nz-icon [nzIconfont]="'icon-dock-building'"
                      class="iconfont icon-dock-building"></span>{{ 'Quote' | translate }}({{
                statisticsInfo?.Quote
                }})
              </div>
              <div (click)="onLinkBooking()">
                <span nz-icon [nzIconfont]="'icon-zhangdan'"
                      class="iconfont icon-zhangdan"> </span>{{ 'Booking' | translate }}({{
                statisticsInfo?.Booking
                }})
              </div>
            </div>
          </div>
          <div class="customerinfo-top_linkright">
            <nz-date-picker nzMode="year" [(ngModel)]="date" nzFormat="yyyy"
                            [nzDisabledDate]="disabledDate"></nz-date-picker>
          </div>
        </div>
        <div style="height: 100%; padding-left: 16px; background: #fff;">
          <nz-tabset nzAnimated="false" (nzSelectChange)="onSelectChange($event)">
            <nz-tab [nzTitle]="'Contact list' | translate">
              <crm-contact-list [customerInfo]="customerInfo"></crm-contact-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Location list' | translate">
              <crm-location-list [customerInfo]="customerInfo"></crm-location-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Invoice' | translate">
              <crm-invoice-list [customerInfo]="customerInfo"></crm-invoice-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Partner' | translate">
              <customer-partner [customerId]="customerId"></customer-partner>
            </nz-tab>
            <nz-tab [nzTitle]="'Document' | translate">
              <crm-attachment-list [customerId]="customerId"></crm-attachment-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Details' | translate">
              <crm-customer-detail
                [isLoading]="isLoading"
                (onSubmitted)="getDetail($event)"
                (actionChange)="onActionChange($event)"
                [customerInfo]="customerInfo"
              ></crm-customer-detail>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="8" style="height: 100%; background: #fff;">
        <div style="display: flex; flex-direction: column; height: 100%; background: #fff;">
          <nz-tabset
            style="padding-left: 16px; "
            [ngStyle]="{ flex: recordExpand ? '1' : 'none', height: recordExpand ? '50%' : 'auto' }"
            nzAnimated="false"
            (nzSelectedIndexChange)="selectedIndexChange($event)"
          >
            <nz-tab [nzTitle]="'Email' | translate">
              <crm-customer-email [customerId]="customerId"></crm-customer-email>
            </nz-tab>
            <nz-tab [nzTitle]="'Follow up record' | translate">
              <crm-follow-up-record
                (onExpand)="onExpand($event)"
                (onSuccess)="onRecordSuccess($event)"
                [customerId]="customerId"
              ></crm-follow-up-record>
            </nz-tab>
            <nz-tab [nzTitle]="'日程' | translate">
              <crm-schedule (onSuccess)="onScheduleSuccess($event)" [customerId]="customerId"></crm-schedule>
            </nz-tab>
            <nz-tab [nzTitle]="'Team members' | translate">
              <crm-team-members [customerId]="customerId"></crm-team-members>
            </nz-tab>
          </nz-tabset>
          <crm-follow-up-record-list
            style="overflow: hidden;"
            [ngStyle]="{ flex: recordExpand ? '1' : 'unset', height: recordExpand ? '50%' : 'auto' }"
            [customerId]="customerId"
            [index]="index"
            #recordList
          ></crm-follow-up-record-list>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
