<nz-layout style="height: 100%;">
  <nz-header>
    <div class="customerInfo-header">
      <div style="display: flex; height: 32px; font-weight: 800; line-height: 32px;">
        <p style="font-weight: 400; font-size: 20px;">{{ customerInfo?.name }}</p>
        <div class="edit-customer" style="display: flex; align-items: center;">
          <nz-tag
            *ngIf="customerInfo?.isRegistered"
            style="
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 25px;
              margin-left: 8px;
              color: #000;
              font-size: 10px;
              text-align: center;
              background-color: #fffbe6;
              border-color: #ffe58f;
              border-radius: 10px;
            "
          >
            <img
              src="apps/crm/assets/images/csp-certification.png"
              width="25px"
              style="position: absolute; top: 0; left: 5px; width: 25px; height: 25px;"
            />
            <span
              style="margin-left: 25px; font-weight: 400; font-size: 12px;">{{ 'CSP certification passed' | translate }}</span>
          </nz-tag
          >
          <nz-tag
            *ngIf="!customerInfo?.isRegistered"
            style="
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 25px;
              margin-left: 8px;
              color: #000;
              font-size: 10px;
              text-align: center;
              background-color: #fff;
              border-color: rgba(0, 0, 0, 0.15);
              border-radius: 10px;
            "
          >
            <img
              src="apps/crm/assets/images/un-csp-certification.png"
              width="25px"
              style="position: absolute; top: 0; left: 5px; width: 25px; height: 25px;"
            />
            <span
              style="margin-left: 25px; font-weight: 400; font-size: 12px;">{{ 'CSP not certified' | translate }}</span>
          </nz-tag
          >
        </div>
        <div class="edit-customer" style="display: flex; align-items: center; margin-left: 8px;">
          <nz-tag
            *ngIf="customerInfo?.examineState == 2"
            style="
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 25px;
              margin-left: 8px;
              color: #000;
              font-size: 10px;
              text-align: center;
              background-color: #fffbe6;
              border-color: #ffe58f;
              border-radius: 10px;
            "
          >
            <img
              src="apps/crm/assets/images/enterpris-certification.png"
              width="25px"
              style="position: absolute; top: 0; left: 5px; width: 25px; height: 25px;"
            />
            <span style="margin-left: 25px; font-weight: 400; font-size: 12px;">{{
              'Enterprise certification passed' | translate
              }}</span></nz-tag
          >
          <nz-tag
            *ngIf="customerInfo?.examineState == 3 || customerInfo?.examineState == 0"
            style="
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 25px;
              margin-left: 8px;
              color: #000;
              font-size: 10px;
              text-align: center;
              background-color: #fff;
              border-color: rgba(0, 0, 0, 0.15);
              border-radius: 10px;
            "
          >
            <img
              src="apps/crm/assets/images/enterpris-certification-ing.png"
              width="25px"
              style="position: absolute; top: 0; left: 5px; width: 25px; height: 25px;"
            />
            <span
              style="margin-left: 25px; font-weight: 400; font-size: 12px;">{{ 'Enterprise not certified' | translate }}</span>
          </nz-tag
          >
          <nz-tag
            *ngIf="customerInfo?.examineState == 1"
            style="
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 25px;
              margin-left: 8px;
              color: #000;
              font-size: 10px;
              text-align: center;
              background-color: #edeff1;
              border-color: #cbd5dd;
              border-radius: 10px;
            "
          >
            <img
              src="apps/crm/assets/images/enterpris-certification-ing.png"
              width="25px"
              style="position: absolute; top: 0; left: 5px; width: 25px; height: 25px;"
            />
            <span style="margin-left: 25px; font-weight: 400; font-size: 12px;">{{
              'Enterprise certificationing' | translate
              }}</span></nz-tag
          >
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <!--          勿删，暂未实现-->
        <!--        <button nz-button>{{ 'View customer organization structure' | translate }}</button>-->
        <button nz-button nz-dropdown [nzDropdownMenu]="moreOperateButton" nzType="default">
          {{ 'New' | translate }}
        </button>
        <nz-dropdown-menu #moreOperateButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="addContact()">
              {{ 'New Contact' | translate }}
            </li>
            <li nz-menu-item (click)="addLocation()">
              {{ 'Add Location' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>

        <i class="button-more" nz-dropdown [nzDropdownMenu]="moreButton" nz-icon nzType="unordered-list"
           nzTheme="outline"></i>
        <nz-dropdown-menu #moreButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngIf="customerInfo?.examineState != 1 && !customerInfo?.code" (click)="applyCode()">
              {{ 'Apply Code' | translate }}
            </li>
            <li nz-menu-item *ngIf="customerInfo?.examineState != 1" (click)="applyName()">
              {{ 'Apply Name' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isRegistered" nz-menu-item (click)="cspAccountConfig()">
              {{ 'CSP account configuration' | translate }}
            </li>
            <li nz-menu-item (click)="transferCustomer()">
              {{ 'Transfer' | translate }}
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="bulkTurnCustomerSea()"
            >
              {{ 'Transfer to the high seas' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <div style="margin-top: 8px;">
      <span style="margin-right: 10px; color: #999;">{{ 'Customer type' | translate }}</span>
      <span style="margin-right: 40px;">
        <span *ngIf="customerInfo?.customerType == 1">
          {{ 'Carrier' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 2">
          {{ 'AirLine' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 3">
          {{ 'Forwarding' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 4">
          {{ 'CrmCustomer.DirectClient' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 5">
          {{ 'Trucker' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 6">
          {{ 'CustomsBroker' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 7">
          {{ 'WareHouse' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 8">
          {{ 'Storage' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 9">
          {{ 'RailWay' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 10">
          {{ 'Express' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 17">
          {{ 'Terminal' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 12">
          {{ 'Other' | translate }}
        </span>
      </span>
      <span style="margin-right: 10px; color: #999;">{{ 'Customer code' | translate }}</span>
      <span style="margin-right: 40px;">{{ customerInfo?.code || '--' }}</span>

      <span style="margin-right: 10px; color: #999;">{{ 'Customer owned' | translate }}</span>
      <span nz-popover [nzPopoverTitle]="null" [nzPopoverContent]="ownerUserListTemplate">{{
        (customerInfo?.ownerUserList)[0]?.allowUserName
        }}</span>
      <ng-template #ownerUserListTemplate>
        <div *ngFor="let item of customerInfo?.ownerUserList">
          {{ item?.allowUserName }}
        </div>
      </ng-template>
      <span style="margin-left: 8px; color: #1890ff;" nz-icon [nzIconfont]="'icon-zhuanyi'"
            class="iconfont icon-zhuanyi"></span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-content nz-row [nzGutter]="32">
      <div style="height: 100%;" nz-col class="gutter-row" [nzSpan]="16">
        <!--          勿删，暂未实现-->
        <!--        <div style="height: 80px; margin-bottom: 16px; background: #fff;"></div>-->
        <div style="height: 100%; padding-left: 16px; background: #fff;">
          <nz-tabset nzAnimated="false" (nzSelectChange)="onSelectChange($event)">
            <nz-tab [nzTitle]="'Contact list' | translate">
              <crm-contact-list [customerInfo]="customerInfo"></crm-contact-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Location list' | translate">
              <crm-location-list [customerInfo]="customerInfo"></crm-location-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Invoice' | translate">
              <crm-invoice-list [customerInfo]="customerInfo"></crm-invoice-list>
            </nz-tab>
            <nz-tab [nzTitle]="'Partner' | translate">
              <customer-partner [customerId]="customerId"></customer-partner>
            </nz-tab>
            <!--          勿删，暂未实现-->
            <!--            <nz-tab [nzTitle]="'Document' | translate"></nz-tab>-->
            <nz-tab [nzTitle]="'Details' | translate">
              <crm-customer-detail
                [isLoading]="isLoading"
                (onSubmitted)="getDetail($event)"
                (actionChange)="onActionChange($event)"
                [customerInfo]="customerInfo"
              ></crm-customer-detail>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>

      <div nz-col class="gutter-row" [nzSpan]="8" style="height: 100%;background: #fff;">
        <div style="height: 100%; padding-left: 16px; background: #fff;">
          <nz-tabset style="height: 50%;" nzAnimated="false">
            <nz-tab [nzTitle]="'Follow up record' | translate">
              <crm-follow-up-record (onSuccess)="onRecordSuccess($event)"
                                    [customerId]="customerId"></crm-follow-up-record>
            </nz-tab>
          </nz-tabset>
          <crm-follow-up-record-list [customerId]="customerId" #recordList></crm-follow-up-record-list>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

