<div class="location" *ngFor="let location of locations">
  <div class="location-detial">
    <div class="detial-icon">
      <img src="assets/icon/location_new.svg" />
    </div>
    <div>
      <div style="font-weight: 800;">{{ location.name }}</div>
      <div>{{ location.country }}{{ location.province }}</div>
      <div style="color: #999;">{{ location.streetAddress }}</div>
      <div style="color: #999;">{{ location.streetAddress2 }}</div>
    </div>
  </div>
  <div (click)="onDeleteLocation(location)" class="delete">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
  </div>
</div>
