<co-page-layout>
  <co-page-main>
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 8px;">
      <div style="display: flex; align-items: center;">
        <nz-select [(ngModel)]="searchParams.type" (ngModelChange)="onchangeCustomer($event)" style="width: 200px;">
          <nz-option [nzValue]="0" [nzLabel]="'I m in charge' | translate"></nz-option>
          <nz-option [nzValue]="1" [nzLabel]="'I participate in' | translate"></nz-option>
          <nz-option [nzValue]="2" [nzLabel]="'I claimed' | translate"></nz-option>
          <nz-option *ngIf="isManager" [nzValue]="3" [nzLabel]="'All' | translate"></nz-option>
          <nz-option *ngIf="isManager" [nzValue]="4" [nzLabel]="'My department' | translate"></nz-option>
          <nz-option [nzValue]="5" [nzLabel]="'Awaiting approval' | translate"></nz-option>
        </nz-select>
        <i class="button-more" nz-dropdown [nzDropdownMenu]="moreButton" nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <nz-dropdown-menu #moreButton="nzDropdownMenu">
          <ul nz-menu>
            <li
              (click)="!(selected.length != 1 || selected[0]?.updateNameExamineState == 1) && applyName()"
              [nzDisabled]="selected.length != 1 || selected[0]?.updateNameExamineState == 1"
              nz-menu-item
            >
              {{ 'Apply Name' | translate }}
            </li>
            <li nz-menu-item (click)="selected.length && transferCustomer()" [nzDisabled]="!selected.length">
              {{ 'Transfer' | translate }}
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="selected.length && bulkTurnCustomerSea()"
              [nzDisabled]="!selected.length"
            >
              {{ 'Transfer to the high seas' | translate }}
            </li>
            <li (click)="selected.length && mergeCustomer()" [nzDisabled]="!selected.length" nz-menu-item>
              {{ 'Merge Customer' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>

        <nz-divider nzType="vertical" style="height: 28px; margin: 0 8px 0 8px;"></nz-divider>
        <button nz-button (click)="onRefresh()">{{ 'Refresh' | translate }}</button>
      </div>
      <div>
        <nz-input-group [nzSuffix]="inputClearTpl" style="width: 300px;">
          <input type="text" (keyup.enter)="onSearch()" nz-input [(ngModel)]="searchParams.searchText" [placeholder]="'Search Code/Customer Name/Tel' | translate" />
        </nz-input-group>
        <ng-template #inputClearTpl
          ><i
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="searchParams.searchText"
            (click)="onReset()"
          ></i
        ></ng-template>
        <button nz-button nzType="primary" (click)="onSearch()" style="margin-left: 8px;">
          <i nz-icon nzType="search" nzTheme="outline"></i>{{ 'Search' | translate }}
        </button>
      </div>
    </div>
    <co-st
      [hidden]="searchParams.type == 5"
      #st
      [ps]="searchParams.pageSize"
      [(pi)]="searchParams.pageNo"
      [columns]="columns"
      [data]="customerInfo?.items"
      [total]="customerInfo?.totalCount"
      [loading]="loading"
      columnDefaultWidth="100"
      (change)="onTableChange($event)"
      calcScroll
      disableCalcX
      [showFilters]="false"
      [showCheckbox]="true"
      style="flex: 1;"
    >
      <ng-template st-row="examineState" let-data>
        <span *ngIf="data.examineState == 1">
          {{ 'WaitingExamine' | translate }}
        </span>
        <span *ngIf="data.examineState == 2">
          {{ 'PassExamine' | translate }}
        </span>
        <span *ngIf="data.examineState == 3">
          {{ 'RefuseExamine' | translate }}
        </span>
      </ng-template>

      <ng-template st-row="isRegistered" let-data>
        <span *ngIf="data.isRegistered">
          <span class="jy-ocean-StartingPlace" [ngClass]="{ primary: data.isRegistered }"> </span>{{ 'Open' | translate }}</span
        >
        <span *ngIf="!data.isRegistered">
          <span class="jy-ocean-StartingPlace" [ngClass]="{ danger: !data.isRegistered }"> </span>
          <span [ngClass]="{ dangerWord: !data.isRegistered }">{{ 'Nonactivated' | translate }}</span>
        </span>
      </ng-template>
      <ng-template st-row="isDangerFlag" let-data>
        <span *ngIf="data.isDangerFlag">{{ 'CustomerList.Yes' | translate }}</span>
        <span *ngIf="!data.isDangerFlag">{{ 'CustomerList.No' | translate }}</span>
      </ng-template>
      <ng-template st-row="isDeleted" let-data>
        <span *ngIf="data.isDeleted">{{ 'Invalid' | translate }}</span>
        <span *ngIf="!data.isDeleted">{{ 'Effective' | translate }}</span>
      </ng-template>
    </co-st>

    <!-- 待审批列表 -->
    <co-st
      [hidden]="searchParams.type != 5"
      #st
      [ps]="searchParams.pageSize"
      [(pi)]="searchParams.pageNo"
      [columns]="pendingcolumns"
      [data]="customerInfo?.items"
      [total]="customerInfo?.totalCount"
      columnDefaultWidth="100"
      (change)="onTableChange($event)"
      calcScroll
      disableCalcX
      [showFilters]="false"
      [showCheckbox]="true"
      style="flex: 1;"
    >
      <ng-template st-row="examineType" let-data>
        <span *ngIf="data.examineType == 1">{{ 'Name change approval' | translate }}</span>
        <span *ngIf="data.examineType == 2">{{ 'Code approval' | translate }}</span>
      </ng-template>
    </co-st>
  </co-page-main>
</co-page-layout>
