<button nz-button nzType="primary" style="margin-bottom: 16px;" (click)="onAdd('Add', null)">{{ 'New' | translate }}</button>
<co-st
  #st
  [columns]="columns"
  [data]="locations"
  [loading]="loading"
  [rowClassName]="getRowClassName"
  columnDefaultWidth="100"
  (change)="onTableChange($event)"
  calcScroll
  disableCalcX
  virtualScroll
  [showFilters]="false"
  style="flex: 1;"
>
  <ng-template st-row="cpc" let-data> {{ data.country }}-{{ data.province }}-{{ data.city }} </ng-template>

  <ng-template st-row="contacts" let-data>
    <div class="detial_msg" style="width: 130px;">
      <button nz-button nzSize="small" nz-popover nzPopoverTitle="" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
        {{ 'Contacts' | translate }}:{{ data.contacts.length }}
      </button>
      <ng-template #contentTemplate>
        <div *ngFor="let item of data.contacts" style="padding: 1em 0;">
          <div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <div>
                <span>{{ item.surname }}</span>
                <span>{{ item.name }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>{{ item.role }}</span>
              </div>
              <div>
                <button nzType="default" nz-button (click)="deleteContact(item)">{{ 'Remove' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
        <div style="color: #1890ff; text-align: center;" (click)="bingContact('Add', data)">{{ 'Bind more contacts' | translate }}</div>
      </ng-template>
    </div>
  </ng-template>
</co-st>
