<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
  <div class="table-title">
    <div class="card-title">
      <div class="gutter-box" *ngIf="i">
        <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="i = 0"></i>
      </div>
    </div>
    <button nz-button nzType="primary" (click)="onCreateLocation()" [disabled]="!isOwner">
      {{ 'New' | translate }}
    </button>
  </div>

  <div *ngIf="i; else elseTemplate" style="overflow: auto;">
    <div class="userBody" *ngIf="location; else showLoading">
      <div class="card-body" style="background-image: url(apps/crm/assets/images/customer/contact2.png);">
        <div class="divBottom" style="display: flex; justify-content: space-between; width: 100%;">
          <div>
            <img src="apps/crm/assets/images/customer/loaction.png" />
            <span>{{ location?.name || '--' }}</span>
          </div>

          <div class="edit-icon" *ngIf="isOwner">
            <i nz-icon class="del" nzType="form" nzTheme="outline" (click)="onShowLocation()"></i>
            <i nz-icon class="del" nzType="delete" nzTheme="outline" (click)="onDeleteLocation()"></i>
          </div>
        </div>

        <div class="contact-detial">
          <div style="width: 100%;">
            {{ location?.streetAddress }}
          </div>
          <div style="width: 100%;">
            {{ location?.streetAddress2 }}
          </div>
          <div>
            <span><i nz-icon nzType="mail" nzTheme="outline"></i>{{ 'Zip code' | translate }}：</span>{{ location?.zip || '--' }}
          </div>
          <div>
            <span><i nz-icon nzType="container" nzTheme="outline"></i>{{ 'Port code' | translate }}：</span
            >{{ location?.locationAddition.unlocode || '--' }}
          </div>
          <div style="width: 100%;">
            <span><i nz-icon nzType="profile" nzTheme="outline"></i>{{ 'Remark' | translate }}：</span
            >{{ location?.locationAddition.description || '--' }}
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>

      <!-- 关联联系人 -->
      <div>
        <nz-tabset [nzAnimated]="false" [nzTabBarExtraContent]="tablebutton" style="width: 100%; margin-top: 24px;">
          <nz-tab nzTitle="{{ 'Location-bound contacts' | translate }}">
            <crm-relation-contact [contacts]="SelectedContantsList" [locationId]="i" (datas)="bindContacts()"></crm-relation-contact>
          </nz-tab>
        </nz-tabset>
        <ng-template #tablebutton>
          <button nz-button nzType="primary" (click)="onBindContants()" [disabled]="!isOwner">
            {{ 'Bind more contacts' | translate }}
          </button>
        </ng-template>
      </div>
    </div>

    <ng-template #showLoading>
      <div style="text-align: center; margin-top: 30px;">
        <i nz-icon nzType="loading" nzTheme="outline" style="font-size: 30px;"></i>
        <p>{{ 'loading' | translate }}...</p>
      </div>
    </ng-template>
  </div>
  <ng-template #elseTemplate>
    <nz-table
      #filterTable2
      [nzData]="locations"
      [nzLoading]="tabLoading"
      [nzFrontPagination]="false"
      nzShowPagination="false"
      nzTableLayout="fixed"
      calcScroll
      style="flex: 1;"
    >
      <thead>
        <tr>
          <th nzWidth="150px">
            {{ 'Location Name' | translate }}
          </th>
          <th nzWidth="200px">{{ 'Country' | translate }}-{{ 'Province / State' | translate }}-{{ 'City' | translate }}</th>
          <th nzWidth="150px">
            {{ 'Address detail' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Zip code' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Created by' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Modified by' | translate }}
          </th>
          <th nzWidth="250px" nzRight="0">
            {{ 'Assign to contact' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of filterTable2.data; let i = index"
          [ngClass]="{ ou: i % 2 == 0, ji: i % 2 != 0 }"
          (dblclick)="locationsDetails(data.id)"
        >
          <td nzEllipsis style="color: #40a9ff; cursor: pointer;" (click)="locationsDetails(data.id)">
            {{ data.name }}
          </td>
          <td nzEllipsis>{{ data.country || '--' }} {{ data.province || '--' }} {{ data.city || '--' }}</td>
          <td nzEllipsis>{{ data.streetAddress }} {{ data.streetAddress2 }}</td>
          <td nzEllipsis>
            {{ data.zip || '--' }}
          </td>
          <td nzEllipsis>
            {{ data.creator }}
          </td>
          <td nzEllipsis>
            {{ data.lastModifier }}
          </td>
          <td nzEllipsis nzRight="0">
            <button nz-button nz-popover nzPopoverTitle="" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
              {{ 'Contact' | translate }}:{{ data.contacts.length }}
            </button>
            <ng-template #contentTemplate>
              <div *ngFor="let item of data.contacts" style="padding: 1em 0;">
                <span style="color: #40a9ff;">{{ item.name }}&nbsp;</span>
                <span>{{ item.email }}</span>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <div class="pagination">
      <nz-pagination
        nzHideOnSinglePage
        [nzPageIndex]="filterLocation.SkipCount"
        [nzPageSize]="filterLocation.MaxResultCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        [nzTotal]="totalCount"
      ></nz-pagination>
    </div>
  </ng-template>
</div>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isVisible"
  nzTitle="{{ 'Bind more contacts' | translate }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <nz-select
    [nzMaxTagCount]="3"
    nzMode="multiple"
    nzPlaceHolder="{{ 'Please select a contact' | translate }}"
    [(ngModel)]="selectedContantsListIds"
    style="width: 100%;"
  >
    <nz-option
      *ngFor="let option of allContacts"
      [nzLabel]="option.name + (option.surname ? option.surname : '')"
      [nzValue]="option.id"
    ></nz-option>
  </nz-select>
</nz-modal>

<create-location [customerId]="customerId" [partnerId]="partnerId" (datas)="onAddOrUpdateLocation($event)"></create-location>
