<div class="tabs" id="tabs">
  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="{{ 'Cooperating customers' | translate }}">
      <ng-template nz-tab>
        <div class="crm-body">
          <div class="search">
            <div>
              <div class="search-header">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input
                    type="text"
                    nz-input
                    placeholder="{{ 'Please enter key words' | translate }}"
                    [(ngModel)]="searchData"
                    (keyup)="onSearch($event)"
                  />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search" (click)="nowSearch()"></i>
                </ng-template>
              </div>
            </div>

            <div>
              <button class="button" nz-button nzType="default" [disabled]="choosedData.length === 0" (click)="transModal()">
                {{ 'Transfer' | translate }}
              </button>
              <button class="button" nz-button [nzType]="'primary'" (click)="showMerge()">
                {{ 'customer merge' | translate }}
              </button>
            </div>
          </div>

          <div class="body-list">
            <co-st
              style="height: 100%;"
              #st
              [data]="listOfData?.items"
              [columns]="columns"
              [showFilters]="false"
              [total]="listOfData?.totalCount"
              [loading]="loading"
              (change)="checkChange($event)"
              [page]="{ front: false }"
              [(ps)]="maxResultCount"
              calcScroll
              disableCalcX
            >
              <ng-template st-row="CustomerTableName" let-data>
                <a (click)="showDetial(data)">
                  {{ data.name || '--' }}

                  <span *ngIf="data.isMerged">({{ 'merged customers' | translate }})</span></a
                >
              </ng-template>
            </co-st>
          </div>
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="{{ 'Potential customers' | translate }}">
      <ng-template nz-tab> <app-no-deal-customer></app-no-deal-customer></ng-template>
    </nz-tab>
    <nz-tab nzTitle="{{ 'Share customers' | translate }}">
      <ng-template nz-tab> <app-shared-customers></app-shared-customers></ng-template>
    </nz-tab>
    <nz-tab nzTitle="{{ 'Unowned customers' | translate }}">
      <ng-template nz-tab> <app-unowned-client></app-unowned-client></ng-template>
    </nz-tab>
  </nz-tabset>
</div>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isVisibleTrans"
  nzTitle="{{ 'Transfer customer' | translate }}"
  [nzFooter]="tranFooter"
  (nzOnCancel)="cancelTrans()"
  nzOkText="{{ 'Transfer' | translate }}"
  nzCancelText="{{ 'Cancel' | translate }}"
  nzWidth="50%"
>
  <div style="height: 100%;">
    <transfer-tocustomer></transfer-tocustomer>
    <ng-template #tranFooter>
      <button nz-button nzType="primary" (click)="createTrans()" [nzLoading]="tranLoading">
        {{ 'Transfer' | translate }}
      </button>
    </ng-template>
  </div>
</nz-modal>
<app-customer-merge (getCustomerByPageList)="getCustomerByPageList()"></app-customer-merge>
