<section>
  <nz-spin [nzSpinning]="loading">
    <div>
      <button nzSize="small" nz-button (click)="updateCheckConfigureStatus()" nzType="primary">应用</button>
      <button nzSize="small" nz-button (click)="getCheckConfigure()" nzType="default">取消</button>
    </div>
    <div class="define-customer-type">
      <ng-container *ngFor="let con of config">
        <h5><i nz-icon nzType="down-square" nzTheme="fill" style="color:#1890FF;font-size: 16px;margin-right: 4px; "
               [style.transform]="!con.hidden?'rotate(180deg)':'unset'"
               (click)="con.hidden = !con.hidden"></i>{{con.label}}</h5>
        <ng-container *ngIf="!con.hidden">
          <div [class]="'class-'+i" *ngFor="let item of con.configureItemlist;let i = index">
            <div class="define-customer-title">{{item.label}}</div>
            <ng-container *ngIf="item.type==='checkbox'">
              <label nz-checkbox [(ngModel)]="item.allChecked" *ngIf="item.isCheckAll"
                     (ngModelChange)="updateAllChecked(item)" [nzIndeterminate]="item.indeterminate">
                {{"Check all" | translate}}
              </label>
              <nz-checkbox-group [(ngModel)]="item.list" [disabled]="!item.isCheckAll"
                                 (ngModelChange)="updateSingleChecked(item)"></nz-checkbox-group>
            </ng-container>
            <ng-container *ngIf="item.type==='radio'">
              <nz-radio-group (ngModelChange)="radioChange($event,item)" [(ngModel)]="item.value">
                <label nz-radio [nzValue]="o.value" *ngFor="let o of item.list">{{ o.label }}</label>
              </nz-radio-group>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </nz-spin>
</section>
