<div class="crm-body" id="body-list">
  <div class="search">
    <div>
      <div class="search-header">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="{{ 'Please enter customer name or code' | translate }}"
            [(ngModel)]="searchData"
            (keyup)="onSearch($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" (click)="getOwnerlessCustomerByPageList()"></i>
        </ng-template>
      </div>
    </div>

    <div class="button-head"></div>
  </div>

  <div class="body-list">
    <div style="margin-bottom: 20px;">
      <nz-alert
        nzType="info"
        nzMessage="{{
          'Tip: The system randomly pushes 10 pieces of unowned customer information every day, which can be turned into your potential customers after claiming.'
            | translate
        }}"
        nzShowIcon
      ></nz-alert>
    </div>

    <co-st
      style="height: 100%;"
      #st
      [data]="listOfData?.items"
      [columns]="columns"
      [showFilters]="false"
      [scroll]="{ x: '2000px' }"
      [total]="listOfData?.totalCount"
      [loading]="loading"
      (change)="checkChange($event)"
      [page]="{ front: false }"
      [(ps)]="maxResultCount"
      calcScroll
      disableCalcX
    >
      <ng-template st-row="action" let-data>
        <button
          nz-button
          nz-popover
          class="redButton"
          nzPopoverTitle=""
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomRight"
          nzSize="small"
          *ngIf="data.sharedUsers"
        >
          {{ '+' + data.sharedUsers.length }}
        </button>
        <ng-template #contentTemplate>
          <div *ngFor="let item of data.sharedUsers">
            <p>{{ item.userName }}</p>
          </div>
        </ng-template>
      </ng-template>
    </co-st>
  </div>
</div>
