<div class="crm-body" id="body-list">
  <div class="search">
    <div>
      <div class="search-header">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="{{ 'Please enter customer name or code' | translate }}"
            [(ngModel)]="searchData"
            (keyup)="onSearch($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" (click)="getOwnerlessCustomerByPageList()"></i>
        </ng-template>
      </div>
    </div>

    <div class="button-head"></div>
  </div>

  <div class="body-list">
    <div style="margin-bottom: 20px;">
      <nz-alert
        nzType="info"
        nzMessage="{{
          'Tip: The system randomly pushes 10 pieces of unowned customer information every day, which can be turned into your potential customers after claiming.'
            | translate
        }}"
        nzShowIcon
      ></nz-alert>
    </div>

    <co-st
      style="height: 100%;"
      #st
      [data]="listOfData?.items"
      [columns]="columns"
      [showFilters]="false"
      [total]="listOfData?.totalCount"
      [loading]="loading"
      (change)="checkChange($event)"
      [page]="{ front: false }"
      [(ps)]="maxResultCount"
      calcScroll
      disableCalcX
    >
      <ng-template st-row="Status" let-data>
        <span *ngIf="data.claimStatus === 0">{{ 'Unclaimed' | translate }}</span>
        <span *ngIf="data.claimStatus === 1" class="redColor">{{ 'Claimed' | translate }}</span>
        <button nz-button nzType="danger" *ngIf="data.claimStatus === 2">
          {{ 'Department manager assignment' | translate }}
        </button>
      </ng-template>

      <ng-template st-row="action" let-data>
        <a [routerLink]="['/crm/customers/unowndetial', data.id]">{{ 'View' | translate }}</a>
        <a
          *ngIf="data.claimStatus === 0 && data.pushUserId == currentUserId"
          style="padding-left: 20px;"
          (click)="claimCustomer(data.id)"
          >{{ 'claim' | translate }}</a
        >
        <a
          *ngIf="isSuper && data.claimStatus === 0 && data.pushUserId != currentUserId"
          style="padding-left: 20px;"
          (click)="transferCustomer(data.id, data.pushUserId)"
          >{{ 'Assign' | translate }}</a
        >
      </ng-template>
    </co-st>
  </div>
</div>
