<div class="crm-body" id="body-list">
  <div class="search">
    <div>
      <div class="search-header">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="{{ 'Please enter key words' | translate }}"
            [(ngModel)]="searchData"
            (keyup)="onSearch($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" (click)="nowSearch()"></i>
        </ng-template>
      </div>
    </div>

    <div class="button-head">
      <button class="button" nz-button [nzType]="'primary'" (click)="showMerge()">
        {{ 'customer merge' | translate }}
      </button>
      <button nz-button (click)="onShareModal()" nzType="primary">
        <i nz-icon nzType="menu-fold" nzTheme="outline"></i>{{ 'Shared resource library' | translate }}
      </button>
    </div>
  </div>

  <div class="body-list">
    <co-st
      style="height: 100%;"
      #st
      [rowClassName]="getrowClassName"
      [data]="listOfData?.items"
      [columns]="columns"
      [showFilters]="false"
      [scroll]="{ x: '2000px' }"
      [total]="listOfData?.totalCount"
      [loading]="loading"
      (change)="checkChange($event)"
      [page]="{ front: false }"
      [(ps)]="maxResultCount"
      calcScroll
      disableCalcX
    >
      <ng-template st-row="action" let-data>
        <button
          nz-button
          nz-popover
          class="redButton"
          nzPopoverTitle=""
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomRight"
          nzSize="small"
          *ngIf="data.sharedUsers"
        >
          {{ '+' + data.sharedUsers.length }}
        </button>
        <ng-template #contentTemplate>
          <div *ngFor="let item of data.sharedUsers">
            <p>{{ item.userName }}</p>
          </div>
        </ng-template>
      </ng-template>
    </co-st>
  </div>

  <nz-modal
    nzMaskClosable="false"
    [(nzVisible)]="isVisible"
    nzTitle="{{ 'Shared resource library' | translate }}"
    (nzOnCancel)="isVisible = false; customerInfo = null"
    [nzOkText]="null"
    nzWidth="80%"
    style="position: relative;"
    [nzFooter]="null"
  >
    <div class="modal-content share-resources-modal">
      <div class="left">
        <div style="display: flex; margin-bottom: 24px;">
          <nz-select
            nzPlaceHolder="{{ 'Please enter key words' | translate }}"
            [(ngModel)]="shareInputName"
            nzShowSearch
            style="width: 100% !important;"
            (nzOnSearch)="searchCustomer($event)"
            nzServerSearch
            nzAllowClear
          >
            <nz-option *ngFor="let option of customList" [nzLabel]="option.name" [nzValue]="option.id"> </nz-option>
          </nz-select>
          <button nz-button (click)="getTableData()" [nzLoading]="tableLoading" nzType="primary" style="margin-left: 24px;">
            {{ 'Search' | translate }}
          </button>
        </div>

        <nz-table
          #basicTable
          [nzData]="tableDatas?.items"
          [nzLoading]="tableLoading"
          [nzFrontPagination]="false"
          nzShowPagination="false"
          nzTableLayout="fixed"
          nzWidth="300"
          [nzScroll]="{ x: '800px', y: '300px' }"
        >
          <thead>
            <tr>
              <th nzEllipsis nzWidth="150px">{{ 'CustomerTableName' | translate }}</th>
              <th nzEllipsis nzWidth="150px">{{ 'Country, province' | translate }}</th>
              <th nzEllipsis nzWidth="150px">{{ 'Contact' | translate }}</th>
              <th nzEllipsis nzWidth="150px">{{ 'Phone' | translate }}</th>
              <th nzEllipsis nzWidth="150px">{{ 'First shipment time' | translate }}</th>
              <th nzEllipsis nzWidth="150px">{{ 'Sharer' | translate }}</th>
              <th nzEllipsis nzWidth="100px" nzRight="0">{{ 'Operating' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index" [ngClass]="{ ou: i % 2 == 0, ji: i % 2 != 0 }">
              <td nzEllipsis>{{ data.name }}</td>
              <td nzEllipsis>{{ data.country }}-{{ data.province }}</td>
              <td nzEllipsis>{{ data.contactName || '--' }}</td>
              <td nzEllipsis>{{ data.contactTel || '--' }}</td>
              <td nzEllipsis>{{ data.firsttimeShipDate || '--' }}</td>
              <td nzEllipsis></td>
              <td nzEllipsis nzRight="0">
                <div>
                  <a (click)="onBindCustomer(data)">{{ 'follow up' | translate }}</a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <div class="pagination" *ngIf="tableDatas">
          <nz-pagination
            [nzPageIndex]="tableSkipCount"
            [nzPageSize]="tableMaxResultCount"
            (nzPageIndexChange)="tablePageIndexChange($event)"
            [nzTotal]="tableDatas?.totalCount"
          ></nz-pagination>
        </div>
      </div>

      <div class="right" *ngIf="customerInfo">
        <crm-customer-source [customerInfo]="customerInfo" style="width: 100%;"></crm-customer-source>
      </div>
    </div>

    <!-- <div style="width:500px;">
  </div> -->
  </nz-modal>
</div>
<app-customer-merge (getCustomerByPageList)="getSharesList()"></app-customer-merge>
