<!-- 主页面 -->

<div class="partner-detial" id="partner-detial">
  <div class="cust-detail-head">
    <div class="head-partner-name">
      <div style="margin: 0 20px;">
        <div class="back">
          <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="onBack()"></i>
        </div>
      </div>
      <div style="font-weight: 800;">
        <strong style="font-size: 20px;">
          {{ partnerInfo?.name }}
        </strong>
        <div *ngIf="partnerInfo?.partnerCustomer?.isRegistered" class="certification">{{ 'Verified' | translate }}</div>
        <div *ngIf="!partnerInfo?.partnerCustomer?.isRegistered" class="certification">
          {{ 'Not certified' | translate }}
        </div>

        <div *ngIf="partnerInfo" style="margin-top: 8px;">
          <span *ngIf="partnerInfo?.localizationName" style="color: #999; margin-right: 10px;">{{ partnerInfo?.localizationName }}</span>
          {{ 'Code' | translate }}：{{ partnerInfo?.partnerCustomer?.code || '--' }}
        </div>
      </div>
    </div>

    <div class="customer-center">
      <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="{{ 'Contact list' | translate }}">
          <ng-template nz-tab>
            <contacts-list
              [customerId]="customerId"
              [partnerId]="partnerId"
              [isOwner]="isOwner"
              [editionRoleId]="partnerInfo?.partnerCustomer?.editionRoleId"
            >
            </contacts-list>
          </ng-template>
        </nz-tab>

        <nz-tab nzTitle="{{ 'Location list' | translate }}">
          <ng-template nz-tab>
            <location-list [customerId]="customerId" [partnerId]="partnerId" [isOwner]="isOwner"> </location-list>
          </ng-template>
        </nz-tab>

        <nz-tab nzTitle="{{ 'Authentication' | translate }}">
          <ng-template nz-tab>
            <customer-customer-auth
              #childComponent
              [customerId]="customerId"
              [partnerId]="partnerInfo?.partnerCustomer?.id"
              [isPartner]="true"
              [isOwner]="isOwner"
              [partnerIsOwner]="partnerInfo?.isOwner"
              [customerState]="partnerInfo?.partnerCustomer?.state"
              [isBind]="partnerInfo?.partnerCustomer?.isRegistered"
              [isCanBind]="partnerInfo.partnerCustomer ? true : false"
              (refushData)="initData()"
            >
            </customer-customer-auth>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
