<div class='toolbar'>
  <button nz-button nzSize='small' nzType='primary' [disabled]='form.invalid || receives.length < 1 || (sending | async)' (click)='submit()' [nzLoading]='sending | async'>发送</button>
</div>

<div nz-form class='form'>
  <nz-form-item [formGroup]='form'>
    <nz-form-label nzRequired>发件人</nz-form-label>
    <nz-form-control>
      <input nz-input disabled [value]='(sender | async)?.emailAddress' />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>收件人</nz-form-label>
    <nz-form-control>
      <nz-select nzShowSearch nzAllowClear nzServerSearch nzShowArrow [compareWith]='selectCompareWith' [nzAutoClearSearchValue]='false' nzMode='multiple' nzPlaceHolder='请输入关键字' [nzMaxTagCount]='1' [nzMaxTagPlaceholder]="ReceivesMaxTagPlaceHolder" (nzOnSearch)='searchReceives($event)' [(ngModel)]='receives' [ngModelOptions]="{standalone: true}">
        <ng-container *ngIf='receivesList | async as items'>
          <ng-container *ngIf='(receivesSearchLoading | async) === true'>
            <nz-option nzCustomContent>
              <nz-spin nzSimple></nz-spin>
            </nz-option>
          </ng-container>
          <nz-option *ngFor='let item of items' [nzLabel]='getReceivesLabel(item)' [nzValue]='item'></nz-option>
        </ng-container>
      </nz-select>
      <ng-template #ReceivesMaxTagPlaceHolder>+{{ receives.length }}</ng-template>
    </nz-form-control>
  </nz-form-item>

  <div class='email-option'>
    <div class='space'></div>
    <div class='func' (click)='ccModel.next(!ccModel.getValue())'>{{ (ccModel | async) ? '删除抄送' : '抄送' }}</div>
    <div class='func' (click)='bccModel.next(!bccModel.getValue())'>{{ (bccModel | async) ? '删除密送' : '密送' }}</div>
  </div>

  <nz-form-item *ngIf='ccModel | async'>
    <nz-form-label>抄送</nz-form-label>
    <nz-form-control>
      <nz-select [(ngModel)]='cc' nzMode="tags" [nzTokenSeparators]="[';']" [nzMaxTagCount]='1' [nzMaxTagPlaceholder]="CCMaxTagPlaceHolder" nzPlaceHolder="抄送" [ngModelOptions]="{standalone: true}"></nz-select>
      <ng-template #CCMaxTagPlaceHolder>+{{ cc.length }}</ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf='bccModel | async'>
    <nz-form-label>密送</nz-form-label>
    <nz-form-control>
      <nz-select [(ngModel)]='bcc' nzMode="tags" [nzTokenSeparators]="[';']" [nzMaxTagCount]='1' [nzMaxTagPlaceholder]="BCCMaxTagPlaceHolder" nzPlaceHolder="密送" [ngModelOptions]="{standalone: true}"></nz-select>
      <ng-template #BCCMaxTagPlaceHolder>+{{ bcc.length }}</ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item [formGroup]='form'>
    <nz-form-label nzRequired>主题</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName='subject' />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item [formGroup]='form'>
    <nz-form-label nzRequired>正文</nz-form-label>
    <div class='email-container'>
      <ckeditor formControlName='value' [config]='editorConfig'></ckeditor>
      <div class='tool'>
        <button nz-button nzSize='small' class='tool-func' (click)='SelectFile.click()'>
          <i nz-icon nzType="paper-clip" nzTheme="outline"></i>
        </button>
        <button nz-button nzSize='small' class='tool-func'>
          <i nz-icon nzType="eye" nzTheme="outline"></i>
        </button>
        <button nz-button nzSize='small' class='tool-func' *ngIf='!fullScreenMode' (click)='openFullScreen()'>
          <i nz-icon nzType="arrows-alt" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </nz-form-item>

  <nz-form-item [formGroup]='form'>
    <nz-form-label nzNoColon></nz-form-label>
    <div class='enclosure'>
      <div class='item' *ngFor='let item of fileList | async; index as index'>
        <div class='prefix'></div>
        <div class='text'>{{ item.fileName }}</div>
        <div class='suffix'>
          <i nz-icon nzType='close' nzTheme='outline' class='remove-file' (click)='removeFile(index)'></i>
        </div>
      </div>

      <div class='item' *ngFor='let item of selectedFile | async'>
        <div class='prefix'></div>
        <div class='text'>{{ item.data.name }}</div>
        <div class='suffix'>
          <nz-spin nzSimple [nzIndicator]="IndicatorTemplate"></nz-spin>
        </div>
      </div>
    </div>
  </nz-form-item>
</div>

<input #SelectFile type='file' multiple (change)='uploadFile($event)' />

<ng-template #IndicatorTemplate>
  <i nz-icon nzType="loading"></i>
</ng-template>
