<div class='toolbar'>
  <button nz-button nzType='primary' *ngIf='members | async as items' (click)='openAddTeamMembersModal(items)'>{{ 'Add' | translate }}</button>
  <ng-container *ngIf='selected.hasValue()'>
    <button nz-button (click)='openRemoveModal()'>{{ 'Delete' | translate }}</button>
    <button nz-button>{{ 'Initiate chat' | translate }}</button>
  </ng-container>
</div>
<div class='filter-bar'>
  <input nz-input [formControl]='keyword' [placeholder]="'Search' | translate" />
</div>
<ng-container *ngIf='members | async as items; else LoadingTpl;'>
  <ng-container *ngIf='(isLoading | async) === false; else LoadingTpl'>
    <div class='members' *ngIf='items.length > 0; else EmptyTpl;'>
      <div class='member' *ngFor='let item of items' [class.selected]='selected.isSelected(item.allowUserId)' (click)='selected.toggle(item.allowUserId)'>
        <img src='https://tva2.sinaimg.cn/crop.0.0.749.749.180/aef54a81jw8f5y5vh5427j20ku0ktgm4.jpg'>
        <p>{{ item.allowUserName }}</p>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #LoadingTpl>
  <nz-spin nzSimple></nz-spin>
</ng-template>

<ng-template #EmptyTpl>
  <nz-empty></nz-empty>
</ng-template>
