<div
  class="review-shipment-dialog"
  nz-resizable
  (nzResize)="onResize($event)"
  [style.width.px]="width"
  [ngStyle]="{ display: isVisible == true ? 'flex' : 'none' }"
  nzMaskClosable="false"
>
  <header class="drawer_head">
    <div>
      <span style="font-weight: 600;">{{ title }}</span>
    </div>
    <span (click)="handleCancel()" class="txt-close"><i nz-icon nzType="close" nzTheme="outline"></i></span>
  </header>

  <div class="location">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" *ngIf="validateForm" [autocomplete]="false">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="locationName">{{ 'Location Name' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Location name cannot be empty!' | translate }}">
              <input type="text" nz-input formControlName="locationName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12" *ngIf="isVisible">
          <nz-form-item>
            <nz-form-label nzFor="contacts">{{ 'Choose contact' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-select nzMode="multiple" nzAllowClear formControlName="contacts" [nzDropdownRender]="render" [nzMaxTagCount]="1">
                <nz-option *ngFor="let o of contacts" [nzValue]="o.id" [nzLabel]="o.name + (o.surname ? o.surname : '')"></nz-option>
              </nz-select>
              <ng-template #render>
                <div
                  class="add-item"
                  (click)="addContacts()"
                  *ngIf="!isAddContacts"
                  style="padding: 10px; cursor: pointer; color: #40a9ff;"
                >
                  <i nz-icon nzType="plus"></i> {{ 'New' | translate }}
                </div>
                <div *ngIf="isAddContacts" style="padding: 10px; border-top: 1px solid #f2f2f2;" class="editContact">
                  <form nz-form [formGroup]="validateContactForm" [nzLayout]="'vertical'">
                    <div nz-row [nzGutter]="24">
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label nzFor="name" nzRequired>{{ 'First name' | translate }}</nz-form-label>
                          <nz-form-control [nzErrorTip]="chinaNameError">
                            <input type="text" nz-input formControlName="name" placeholder="{{ 'Please enter' | translate }}" />
                            <ng-template #chinaNameError>
                              <ng-container *ngIf="validateContactForm.get('name').hasError('required')">
                                {{ 'Please type in your name!' | translate }}
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label nzFor="surname" nzRequired>{{ 'Last name' | translate }}</nz-form-label>
                          <nz-form-control [nzErrorTip]="chinaNameError">
                            <input type="text" nz-input formControlName="surname" placeholder="{{ 'Please enter' | translate }}" />
                            <ng-template #chinaNameError>
                              <ng-container *ngIf="validateContactForm.get('surname').hasError('required')">
                                {{ 'Please type in your name!' | translate }}
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label>{{ 'Name' | translate }}({{ 'Local' | translate }})</nz-form-label>
                          <nz-form-control>
                            <input type="text" nz-input formControlName="nameLocalization" placeholder="{{ 'Please enter' | translate }}" />
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="12">
                        <nz-form-item>
                          <nz-form-label nzFor="mail" nzRequired>{{ 'Email' | translate }}</nz-form-label>
                          <nz-form-control [nzErrorTip]="mailError">
                            <input nz-input formControlName="mail" />
                            <ng-template #mailError>
                              <ng-container
                                *ngIf="
                                  validateContactForm.get('mail').hasError('required') || validateContactForm.get('mail').hasError('email')
                                "
                              >
                                {{ 'Please input the correct email address!' | translate }}
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div nz-col [nzSpan]="24" style="text-align: center;">
                        <button nz-button (click)="isAddContacts = false" style="margin-right: 12px;">
                          {{ 'Cancel' | translate }}
                        </button>
                        <button nz-button nzType="primary" (click)="contactForm()">
                          {{ 'New' | translate }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="postalCode">{{ 'Zip code' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Zip code cannot be empty!' | translate }}">
              <input type="text" nz-input formControlName="postalCode" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="portCode">{{ 'Port code' | translate }}</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="portCode" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24" class="address">
          <nz-form-label nzRequired>{{ 'Address' | translate }}</nz-form-label>
          <div style="display: flex;">
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-control nzErrorTip="{{ 'Country / region cannot be empty!' | translate }}">
                  <nz-select
                    nzShowSearch
                    [appSearchByExtraKey]="['chineseName', 'name']"
                    nzAllowClear
                    nzPlaceHolder=""
                    formControlName="country"
                    nzPlaceHolder="{{ 'Country / region' | translate }}"
                    (ngModelChange)="selectedCountry($event)"
                  >
                    <nz-option
                      [appNzOptionExtra]="option"
                      *ngFor="let option of regions"
                      [nzLabel]="option.nameLocalization"
                      [nzValue]="option.id"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-control nzErrorTip="{{ 'Provinces cannot be empty!' | translate }}">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder=""
                    formControlName="province"
                    [appSearchByExtraKey]="['chineseName', 'name']"
                    nzPlaceHolder="{{ 'Province' | translate }}"
                    (ngModelChange)="selectedCity($event)"
                  >
                    <nz-option
                      *ngFor="let option of provinces"
                      [appNzOptionExtra]="option"
                      [nzLabel]="option.nameLocalization"
                      [nzValue]="option.id"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8">
              <nz-form-item>
                <nz-form-control nzErrorTip="{{ 'The city cannot be empty!' | translate }}">
                  <nz-select
                    nzShowSearch
                    nzAllowClear
                    [appSearchByExtraKey]="['chineseName', 'name']"
                    nzPlaceHolder="{{ 'City' | translate }}"
                    formControlName="city"
                  >
                    <nz-option
                      [appNzOptionExtra]="option"
                      *ngFor="let option of citys"
                      [nzLabel]="option.nameLocalization"
                      [nzValue]="option.id"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please enter the address!' | translate }}">
                <textarea
                  nz-input
                  placeholder="{{ 'Example: Shentian Avenue, Futian District' | translate }}"
                  [nzAutosize]="{ minRows: 3, maxRows: 3 }"
                  formControlName="address"
                  [nzAutocomplete]="auto"
                  (input)="searchPlace($event)"
                ></textarea>
                <nz-autocomplete #auto>
                  <nz-auto-option *ngFor="let item of placeList" [nzValue]="item.description" (click)="bindGoogleMapData(item.description)">
                    <span>{{ item.description }}</span>
                  </nz-auto-option>
                </nz-autocomplete>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="24">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{ 'Please enter the address detial!' | translate }}">
                <input type="text" nz-input formControlName="address2" placeholder="{{ 'Example: Aerospace Building, 22' | translate }}" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="locationAddress">{{ 'Detailed address-local language' | translate }}</nz-form-label>
            <nz-form-control>
              <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }" formControlName="locationAddress"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="remarks">{{ 'Remark' | translate }}</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="remarks" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>

  <footer class="drawer_footer">
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="loading">{{ 'Save' | translate }}</button>
  </footer>

  <nz-resize-handle nzDirection="left">
    <div class="right-wrap">
      <div class="triangle"></div>
    </div>
  </nz-resize-handle>
</div>
