<nz-layout style="height: 100%;">
  <nz-header>
    <div class="customerInfo-header">
      <div style="display: flex; height: 32px; font-weight: 800; line-height: 32px;">
        <p style="font-weight: 400; font-size: 20px;">{{ customerInfo?.localizationName }}</p>
        <div class="edit-customer" style="display: flex; align-items: center;">
          <nz-tag *ngIf="customerInfo?.isRegistered" class="customerInfo-registered">
            <img src="apps/crm/assets/images/csp-certification.png" width="25px" />
            <span class="customer-title">{{ 'CSP certification passed' | translate }}</span>
          </nz-tag>
          <nz-tag
            (click)="!customerInfo?.isDeleted && cspAccountConfig()"
            *ngIf="!customerInfo?.isRegistered"
            class="customerInfo-unRegistered"
          >
            <img src="apps/crm/assets/images/un-csp-certification.png" width="25px" />
            <span class="customer-title">{{ 'CSP not certified' | translate }}</span>
          </nz-tag>
        </div>
        <div class="edit-customer" style="display: flex; align-items: center;">
          <nz-tag *ngIf="customerInfo?.examineState == 2" class="customerInfo-registered">
            <img src="apps/crm/assets/images/enterpris-certification.png" width="25px" />
            <span class="customer-title">{{ 'Enterprise certification passed' | translate }}</span></nz-tag
          >
          <nz-tag
            *ngIf="customerInfo?.examineState == 3 || customerInfo?.examineState == 0"
            (click)="!customerInfo?.isDeleted && applyCode()"
            class="customerinfo-noCertified"
          >
            <img src="apps/crm/assets/images/enterpris-certification-ing.png" width="25px" />
            <span class="customer-title">{{ 'Enterprise not certified' | translate }}</span>
          </nz-tag>
          <nz-tag *ngIf="customerInfo?.examineState == 1" class="customerinfo-certificing">
            <img src="apps/crm/assets/images/enterpris-certification-ing.png" width="25px" />
            <span class="customer-title">{{ 'Enterprise certificationing' | translate }}</span></nz-tag
          >
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <!--          勿删，暂未实现-->
        <!--        <button nz-button>{{ 'View customer organization structure' | translate }}</button>-->
        <button nz-button nz-dropdown [nzDropdownMenu]="moreOperateButton" nzType="default">
          {{ 'New' | translate }}
        </button>
        <nz-dropdown-menu #moreOperateButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="addContact()">
              {{ 'New Contact' | translate }}
            </li>
            <li nz-menu-item (click)="addLocation()">
              {{ 'Add Location' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
        <i class="button-more" nz-dropdown [nzDropdownMenu]="moreButton" nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <nz-dropdown-menu #moreButton="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              *ngIf="customerInfo?.examineState != 1 && !customerInfo?.code && !customerInfo?.isDeleted"
              (click)="applyCode()"
            >
              {{ 'Apply Code' | translate }}
            </li>
            <li nz-menu-item *ngIf="!customerInfo?.isRenaming && !customerInfo?.isDeleted" (click)="applyName()">
              {{ 'Apply Name' | translate }}
            </li>
            <li nz-menu-item *ngIf="!customerInfo?.isDeleted && !customerInfo?.isRegistered" (click)="cspAccountConfig()">
              {{ 'CSP account configuration' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isDeleted" nz-menu-item (click)="transferCustomer()">
              {{ 'Transfer' | translate }}
            </li>
            <li
              *ngIf="!customerInfo?.isDeleted"
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="bulkTurnCustomerSea()"
            >
              {{ 'Transfer to the high seas' | translate }}
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="setVoid()"
              *ngIf="!customerInfo?.isDeleted"
            >
              {{ 'Void' | translate }}
            </li>
            <li *ngIf="customerInfo?.isDeleted" nz-menu-item (click)="recoverDelete()">
              {{ 'Enable' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <div style="margin-top: 8px;">
      <span style="margin-right: 10px; color: #999;">{{ 'Customer Type' | translate }}</span>
      <span style="margin-right: 40px;">
        <span>{{ CustomerType[customerInfo?.customerType] | translate }}</span>
      </span>
      <span style="margin-right: 10px; color: #999;">{{ 'Customer code' | translate }}</span>
      <span style="margin-right: 40px;">{{ customerInfo?.code || '--' }}</span>

      <span style="margin-right: 10px; color: #999;">{{ 'Customer owned' | translate }}</span>
      <span nz-popover [nzPopoverTitle]="null" [nzPopoverContent]="ownerUserListTemplate">{{
        (customerInfo?.ownerUserList)[0]?.allowUserName
      }}</span>
      <ng-template #ownerUserListTemplate>
        <div *ngFor="let item of customerInfo?.ownerUserList">
          {{ item?.allowUserName }}
        </div>
      </ng-template>
      <span
        nz-popover
        *ngIf="!customerInfo?.isDeleted"
        (click)="transferCustomer()"
        [nzPopoverTitle]="null"
        [nzPopoverContent]="'Transfer customer' | translate"
        style="margin-left: 8px; color: #1890ff;"
        nz-icon
        [nzIconfont]="'icon-zhuanyi'"
        class="iconfont icon-zhuanyi"
      ></span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-content>
      <nz-spin [nzSpinning]="isLoading">
        <div nz-row [nzGutter]="32">
          <div nz-col nzSpan="24" class="taskCenter" style="margin: 0 0 8px 8px; padding: 0 16px; background: rgb(255, 255, 255);">
            <nz-spin [nzSpinning]="stepLoading">
              <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index - 1">
                <nz-step
                  (click)="onIndexChange(1)"
                  [nzDisabled]="customerInfo?.isDeleted"
                  [nzTitle]="initialcontact"
                  [nzIcon]="initialcontactIcon"
                ></nz-step>
                <nz-step
                  (click)="onIndexChange(2)"
                  [nzDisabled]="customerInfo?.isDeleted"
                  [nzTitle]="demanddetermination"
                  [nzIcon]="demanddeterminationIcon"
                ></nz-step>
                <nz-step
                  (click)="onIndexChange(3)"
                  [nzDisabled]="customerInfo?.isDeleted"
                  [nzTitle]="quotation"
                  [nzIcon]="quotationIcon"
                ></nz-step>
                <nz-step
                  (click)="onIndexChange(4)"
                  [nzDisabled]="customerInfo?.isDeleted"
                  [nzTitle]="negotiation"
                  [nzIcon]="negotiationIcon"
                ></nz-step>
                <nz-step nzDisabled [nzTitle]="win" [nzIcon]="winIcon"></nz-step>
                <nz-step nzDisabled [nzTitle]="loseorder" [nzIcon]="loseorderIcon" style="margin-right: 30px !important;"></nz-step>
                <ng-template #initialcontactIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #demanddeterminationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #quotationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #negotiationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #winIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #loseorderIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
              </nz-steps>

              <ng-template #initialcontact>
                <div class="step-bar">
                  <div class="Check">初步接洽</div>
                  <div class="Check">
                    <i
                      nz-icon
                      [style.color]="index >= 1 && index >= 1 ? '#1890ff' : '#00000050'"
                      [nzIconfont]="index >= 1 && index >= 1 ? 'icon-gouxuan' : 'icon-quan'"
                    ></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #demanddetermination>
                <div class="step-bar">
                  <div class="Check">需求确定</div>
                  <div class="Check">
                    <i
                      nz-icon
                      [style.color]="index >= 2 ? '#1890ff' : '#00000050'"
                      [nzIconfont]="index >= 2 ? 'icon-gouxuan' : 'icon-quan'"
                    ></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #quotation>
                <div class="step-bar">
                  <div class="Check">报价</div>
                  <div class="Check">
                    <i
                      nz-icon
                      [style.color]="index >= 3 ? '#1890ff' : '#00000050'"
                      [nzIconfont]="index >= 3 ? 'icon-gouxuan' : 'icon-quan'"
                    ></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #negotiation>
                <div class="step-bar">
                  <div class="Check">谈判</div>
                  <div class="Check">
                    <i
                      nz-icon
                      [style.color]="index >= 4 ? '#1890ff' : '#00000050'"
                      [nzIconfont]="index >= 4 ? 'icon-gouxuan' : 'icon-quan'"
                    ></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #win>
                <div class="step-bar">
                  <div class="Check">赢单</div>
                  <div class="Check"><i nz-icon *ngIf="index >= 5" [style.color]="'#1890ff'" nzIconfont="icon-gouxuan"></i></div>
                </div>
              </ng-template>
              <ng-template #loseorder>
                <div class="step-bar">
                  <div class="Check">输单</div>
                  <div class="Check"><i nz-icon *ngIf="index >= 6" [style.color]="'#1890ff'" nzIconfont="icon-gouxuan"></i></div>
                </div>
              </ng-template>
            </nz-spin>
          </div>
        </div>
        <div nz-row [nzGutter]="32" style="height: 100%;">
          <div nz-col class="gutter-row" [nzSpan]="16" style="height: calc(100% - 50px);">
            <nz-tabset nzAnimated="false" style="height: 100%; padding-left: 16px; background: #fff;">
              <nz-tab [nzTitle]="'Contact list' | translate">
                <crm-contact-list [customerInfo]="customerInfo"></crm-contact-list>
              </nz-tab>
              <nz-tab [nzTitle]="'Location list' | translate">
                <crm-location-list [customerInfo]="customerInfo"></crm-location-list>
              </nz-tab>
              <nz-tab [nzTitle]="'Invoice' | translate">
                <crm-invoice-list [customerInfo]="customerInfo"></crm-invoice-list>
              </nz-tab>
              <nz-tab [nzTitle]="'Document' | translate">
                <crm-attachment-list [customerId]="customerId"></crm-attachment-list>
              </nz-tab>
              <nz-tab [nzTitle]="'Details' | translate">
                <crm-potentailcustomer-detail
                  #customerDetail
                  [customerInfo]="customerInfo"
                  (actionChange)="onActionChange($event)"
                  (onSubmitted)="getDetail($event)"
                ></crm-potentailcustomer-detail>
              </nz-tab>
            </nz-tabset>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="8" style="height: calc(100% - 50px); background: #fff;">
            <div style="display: flex; flex-direction: column; height: 100%; padding-left: 16px; background: #fff;">
              <nz-tabset [ngStyle]="{ flex: recordExpand ? '1' : 'none', height: recordExpand ? '50%' : 'auto' }" nzAnimated="false">
                <nz-tab [nzTitle]="'Follow up record' | translate">
                  <crm-follow-up-record
                    (onExpand)="onExpand($event)"
                    (onSuccess)="onRecordSuccess($event)"
                    [customerId]="customerId"
                  ></crm-follow-up-record>
                </nz-tab>
              </nz-tabset>
              <crm-follow-up-record-list
                style="overflow: hidden;"
                [ngStyle]="{ flex: recordExpand ? '1' : 'unset', height: recordExpand ? '50%' : 'auto' }"
                [customerId]="customerId"
                #recordList
              ></crm-follow-up-record-list>
            </div>
          </div>
        </div>
      </nz-spin>
    </nz-content>
  </nz-layout>
</nz-layout>
