<nz-layout style="height: 100%;">
  <nz-header>
    <div class="customerInfo-header">
      <div style="display: flex; height: 32px; font-weight: 800; line-height: 32px;">
        <p style="font-weight: 400; font-size: 20px;">{{ customerInfo?.name }}</p>
        <div class="edit-customer">
          <img src="apps/crm/assets/images/csp-certification.png" width="100px" *ngIf="customerInfo?.isRegistered"/>
          <img src="apps/crm/assets/images/un-csp-certification.png" width="100px" *ngIf="!customerInfo?.isRegistered"/>
        </div>
        <div class="edit-customer">
          <img src="apps/crm/assets/images/enterpris-certification.png" width="100px"
               *ngIf="customerInfo?.isEnterpriseAuth"/>
          <img src="apps/crm/assets/images/un-enterpris-certification.png" width="100px"
               *ngIf="!customerInfo?.isEnterpriseAuth"/>
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <!--          勿删，暂未实现-->
        <!--        <button nz-button>{{ '查看客户组织结构' | translate }}</button>-->
        <i class="button-more" nz-dropdown [nzDropdownMenu]="moreButton" nz-icon nzType="unordered-list"
           nzTheme="outline"></i>
        <nz-dropdown-menu #moreButton="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngIf="customerInfo?.examineState!=1 && !customerInfo?.code && !customerInfo?.isDeleted"
                (click)="applyCode()">
              {{ 'Apply Code' | translate }}
            </li>
            <li nz-menu-item *ngIf="customerInfo?.examineState!=1 && !customerInfo?.isDeleted"
                (click)="applyName()">
              {{ 'Apply Name' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isDeleted && !customerInfo?.isRegistered" nz-menu-item
                (click)="cspAccountConfig()">
              {{ '申请CSP认证' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isDeleted" nz-menu-item (click)="transferCustomer()">
              {{ 'Transfer' | translate }}
            </li>
            <li *ngIf="!customerInfo?.isDeleted" nz-menu-item nz-popconfirm
                [nzPopconfirmTitle]="'Are you sure?' | translate"
                [nzOkText]="'Confirm' | translate" [nzCancelText]="'Cancel' | translate"
                (nzOnConfirm)="bulkTurnCustomerSea()">
              {{ 'Transfer to the high seas' | translate }}
            </li>
            <li nz-menu-item
                *ngIf="(customerInfo?.state==0 || customerInfo?.state==1 || customerInfo?.state==4) &&!customerInfo?.isDeleted"
                (click)="cspAccountConfig()">
              {{ 'CSP account configuration' | translate }}
            </li>
            <li
              nz-menu-item
              nz-popconfirm
              [nzPopconfirmTitle]="'Are you sure?' | translate"
              [nzOkText]="'Confirm' | translate"
              [nzCancelText]="'Cancel' | translate"
              (nzOnConfirm)="setVoid()"
              *ngIf="!customerInfo?.isDeleted"
            >
              {{ 'Void' | translate }}
            </li>
            <li *ngIf="customerInfo?.isDeleted" nz-menu-item (click)="recoverDelete()">
              {{ 'Enable' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
    <div style="margin-top: 8px;">
      <span style="margin-right: 10px; color: #999;">客户类型</span>
      <span style="margin-right: 40px;">
        <span *ngIf="customerInfo?.customerType == 1">
          {{ 'Carrier' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 2">
          {{ 'AirLine' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 3">
          {{ 'Forwarding' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 4">
          {{ 'CrmCustomer.DirectClient' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 5">
          {{ 'Trucker' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 6">
          {{ 'CustomsBroker' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 7">
          {{ 'WareHouse' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 8">
          {{ 'Storage' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 9">
          {{ 'RailWay' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 10">
          {{ 'Express' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 17">
          {{ 'Terminal' | translate }}
        </span>
        <span *ngIf="customerInfo?.customerType == 12">
          {{ 'Other' | translate }}
        </span>
      </span>
      <span style="margin-right: 10px; color: #999;">客户代码</span>
      <span style="margin-right: 40px;">{{ customerInfo?.code || '--' }}</span>

      <span style="margin-right: 10px; color: #999;">客户所有人</span>
      <span nz-popover [nzPopoverTitle]="null" [nzPopoverContent]="ownerUserListTemplate">{{
        (customerInfo?.ownerUserList)[0].allowUserName
        }}</span>
      <ng-template #ownerUserListTemplate>
        <div *ngFor="let item of customerInfo?.ownerUserList">
          {{ item.allowUserName }}
        </div>
      </ng-template>
      <span nz-icon [nzIconfont]="'icon-zhuanyi'" class="iconfont icon-zhuanyi"></span>
    </div>
  </nz-header>
  <nz-layout>
    <nz-content>
      <nz-spin [nzSpinning]="isLoading">
        <div nz-row [nzGutter]="32">
          <div nz-col nzSpan="24" class="taskCenter"
               style="margin: 0 0 8px 8px;background: rgb(255, 255, 255);padding: 0 16px;">
            <nz-spin [nzSpinning]="stepLoading">
              <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index-1">
                <nz-step (click)="onIndexChange(1)" [nzDisabled]="customerInfo?.isDeleted" [nzTitle]="initialcontact"
                         [nzIcon]="initialcontactIcon"></nz-step>
                <nz-step (click)="onIndexChange(2)" [nzDisabled]="customerInfo?.isDeleted"
                         [nzTitle]="demanddetermination"
                         [nzIcon]="demanddeterminationIcon"></nz-step>
                <nz-step (click)="onIndexChange(3)" [nzDisabled]="customerInfo?.isDeleted" [nzTitle]="quotation"
                         [nzIcon]="quotationIcon"></nz-step>
                <nz-step (click)="onIndexChange(4)" [nzDisabled]="customerInfo?.isDeleted" [nzTitle]="negotiation"
                         [nzIcon]="negotiationIcon"></nz-step>
                <nz-step nzDisabled [nzTitle]="win" [nzIcon]="winIcon"></nz-step>
                <nz-step nzDisabled [nzTitle]="loseorder" [nzIcon]="loseorderIcon"
                         style="margin-right: 30px !important;"></nz-step>
                <ng-template #initialcontactIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #demanddeterminationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #quotationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #negotiationIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #winIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
                <ng-template #loseorderIcon><i nz-icon nzIconfont="icon-zhangdan"></i></ng-template>
              </nz-steps>

              <ng-template #initialcontact>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">初步接洽</div>
                  <div class="Check"><i nz-icon [style.color]="index>=1 && index>=1?'#1890ff':'#00000050'"
                                        [nzIconfont]="index>=1 && index>=1?'icon-gouxuan':'icon-quan'"></i></div>
                </div>
              </ng-template>
              <ng-template #demanddetermination>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">需求确定</div>
                  <div class="Check"><i nz-icon [style.color]="index>=2?'#1890ff':'#00000050'"
                                        [nzIconfont]="index>=2?'icon-gouxuan':'icon-quan'"></i></div>
                </div>
              </ng-template>
              <ng-template #quotation>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">报价</div>
                  <div class="Check"><i nz-icon [style.color]="index>=3?'#1890ff':'#00000050'"
                                        [nzIconfont]="index>=3?'icon-gouxuan':'icon-quan'"></i></div>
                </div>
              </ng-template>
              <ng-template #negotiation>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">谈判</div>
                  <div class="Check"><i nz-icon [style.color]="index>=4?'#1890ff':'#00000050'"
                                        [nzIconfont]="index>=4?'icon-gouxuan':'icon-quan'"></i></div>
                </div>
              </ng-template>
              <ng-template #win>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">赢单</div>
                  <div class="Check"><i nz-icon *ngIf="index>=5" [style.color]="'#1890ff'"
                                        nzIconfont="icon-gouxuan"></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #loseorder>
                <div style="display: flex; justify-content: space-between;">
                  <div class="Check">输单</div>
                  <div class="Check"><i nz-icon *ngIf="index>=6" [style.color]="'#1890ff'"
                                        nzIconfont="icon-gouxuan"></i>
                  </div>
                </div>
              </ng-template>
            </nz-spin>
          </div>
        </div>
        <div nz-row [nzGutter]="32" style="height: 100%;">
          <div nz-col class="gutter-row" [nzSpan]="24" style="height: 100%;">
            <nz-tabset nzAnimated="false" style="height: 100%; padding-left: 16px; background: #fff;">
              <!--          勿删，暂未实现-->
              <!--              <nz-tab [nzTitle]="'电子邮件' | translate"></nz-tab>-->
              <!--              <nz-tab [nzTitle]="'跟进记录' | translate"></nz-tab>-->
              <!--              <nz-tab [nzTitle]="'日程' | translate"></nz-tab>-->
              <nz-tab [nzTitle]="'详情' | translate">
                <crm-potentailcustomer-detail #customerDetail [customerInfo]="customerInfo"
                                              (actionChange)="onActionChange($event)"
                                              (onSubmitted)="getDetail($event)"></crm-potentailcustomer-detail>
              </nz-tab>
            </nz-tabset>
          </div>
          <!--          勿删，暂未实现-->
          <!--          <div nz-col class="gutter-row" [nzSpan]="8" style="background: #fff;">-->
          <!--            <div class="inner-box">col-6</div>-->
          <!--          </div>-->
        </div>
      </nz-spin>
    </nz-content>
  </nz-layout>
</nz-layout>
