.table-title {
  display        : flex;
  justify-content: space-between;
  padding        : 14px 0;
}


.table-content {
  border-radius  : 10px;
  display        : flex;
  justify-content: space-between;
  background     : #F5F5F5;
  padding        : 20px;
  margin-top     : 20px;

  div {
    padding       : 10px 0;
    color         : #00000085;
    display       : flex;
    flex-direction: column;

    div {
      padding        : 10px 20px 10px 0;
      display        : flex;
      flex-direction : row;
      justify-content: space-between;
    }

    span {
      color: #00000045;
    }
  }
}

.noCustomer {
  display   : flex;
  width     : 80%;
  margin    : 0 auto;
  text-align: center;
  height    : 100%;
  overflow  : auto;

  img {
    height: 250px;
  }

  .noCustomer-right {
    margin : 0 auto;
    display: flex;

    div {
      margin: 20px;
    }

    .title {
      color      : #00000045;
      font-size  : 45px;
      font-weight: 800;
    }
  }
}

.customerAuth-content {
  height  : 100%;
  overflow: auto;
}