<div class="customerAuth-content" *ngIf="state === 3 && isRegistered; else noCustomer">
  <div class="table-title">
    <button nz-button nzSize="small" nzType="primary" (click)="onCreate()" [disabled]="!isOwner || (!partnerIsOwner && partnerId)">
      {{ 'Edit' | translate }}
    </button>
  </div>
  <div class="customerAuth-content-operation">
    <nz-alert
      nzType="info"
      nzMessage="{{
        'Tip: After the customer level configuration is released, customers who have already opened the tenant can log in to the CSP platform to view the freight rate after the addition'
          | translate
      }}"
      nzShowIcon
    ></nz-alert>
  </div>

  <div class="table-content">
    <div style="width: 40%; border-right: 1px solid #00000015;">
      <div>
        {{ 'Username' | translate }}:<span>{{ clientMsg?.userName }}</span>
      </div>
      <div>
        {{ 'Role' | translate }}:<span>{{ clientMsg?.editionRoleName }}</span>
      </div>
      <div>
        {{ 'Contact information' | translate }}:<span>{{ clientMsg?.contactFullName || '--' }}</span>
      </div>
      <div>
        {{ 'Customer configuration level' | translate }}:
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 0">
          {{ 'Customize' | translate }}
        </span>
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 1">
          T1 {{ 'range' | translate }}:(<span style="color: #faad14;">50-99.99</span>)
        </span>
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 2">
          T2 {{ 'range' | translate }}:(<span style="color: #faad14;">100-199.99</span>)
        </span>
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 3">
          T3 {{ 'range' | translate }}:(<span style="color: #faad14;">200-299.99)</span>)
        </span>
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 4">
          T4 {{ 'range' | translate }}:(<span style="color: #faad14;">300-499.99)</span>)
        </span>
        <span *ngIf="clientMsg?.customerConfigure.customerLevel == 5">
          T5 {{ 'range' | translate }}:(<span style="color: #faad14;">≥500)</span>)
        </span>
      </div>
    </div>
    <div style="flex: 1; margin-left: 20px;">
      <div>
        {{ 'Profit' | translate }}:<span>{{ clientMsg?.customerConfigure.oceanAttachFee }}</span>
      </div>
      <div>
        {{ 'Price plus interval' | translate }}:
        <span class="price-range" *ngIf="clientMsg?.customerConfigure.customerLevel == 1">50~99 <span>USD</span></span>
        <span class="price-range" *ngIf="clientMsg?.customerConfigure.customerLevel == 2">100~199 <span>USD</span></span>
        <span class="price-range" *ngIf="clientMsg?.customerConfigure.customerLevel == 3">200~299 <span>USD</span></span>
        <span class="price-range" *ngIf="clientMsg?.customerConfigure.customerLevel == 4">300~499 <span>USD</span></span>
        <span class="price-range" *ngIf="clientMsg?.customerConfigure.customerLevel == 5">≥ 500 <span>USD</span></span>
      </div>
    </div>
  </div>
</div>

<ng-template #noCustomer>
  <div class="noCustomer">
    <div class="noCustomer-right">
      <div>
        <img src="apps/crm/assets/images/customer/noCustomer.png" />
      </div>
      <div style="text-align: left;">
        <div class="title">
          <span *ngIf="state == 3">{{ 'No master account' | translate }}</span>
          <span *ngIf="state == 2">{{ 'In the authentication' | translate }}</span>
          <span *ngIf="state != 2 && state != 3">{{ 'Customer is not certified' | translate }}</span>
        </div>
        <div class="message">
          <span *ngIf="state == 3">{{ 'Sorry, the main account has not been opened' | translate }}</span>
          <span *ngIf="state == 2">{{ 'Financial review, please wait patiently' | translate }}</span>
          <span *ngIf="state != 2 && state != 3">{{ 'Sorry, you have not performed client authentication' | translate }}</span>
        </div>
        <div class="message" style="color: #e55354;" *ngIf="!isCanBind">
          {{ 'Sorry, the partner is not bound to the customer' | translate }}
        </div>

        <div *ngIf="state === 3">
          <button nz-button nzSize="small" nzType="primary" (click)="onCreate()" [disabled]="!isOwner || (!partnerIsOwner && partnerId)">
            {{ 'Open the main account' | translate }}
          </button>
        </div>

        <div *ngIf="state != 2 && state != 3">
          <button
            nz-button
            nzSize="small"
            nzType="primary"
            (click)="editCustomer()"
            [disabled]="!isOwner || (!partnerIsOwner && isPartner)"
          >
            <span class="certification">
              {{ 'Certify now' | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div
  class="review-shipment-dialog"
  nz-resizable
  (nzResize)="onResize($event)"
  [style.width.px]="width"
  [ngStyle]="{ display: isVisible == true ? 'flex' : 'none' }"
>
  <header class="drawer_head">
    <div>
      <span style="font-weight: 600;">{{ 'Customer certification' | translate }}</span>
    </div>
    <span (click)="handleCancel()" class="txt-close"><i nz-icon nzType="close" nzTheme="outline"></i></span>
  </header>
  <footer class="drawer_footer">
    <button nz-button nzSize="small" nzType="primary" (click)="handleOk()" [nzLoading]="loading">{{ 'Save' | translate }}</button>
  </footer>
  <div style="display: flex; flex: 1; flex-direction: column; overflow: hidden;">
    <nz-alert
      style="margin-bottom: 20px;"
      nzType="warning"
      [nzMessage]="
        'After the customer level configuration is released, customers who have opened tenants can log in to the CSP platform to view the added ocean freight rates'
          | translate
      "
      nzShowIcon
    ></nz-alert>

    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="userName" nzRequired>{{ 'Username' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="userNameError">
              <input
                type="text"
                nz-input
                formControlName="userName"
                [disabled]="clientMsg?.userName ? true : false"
                [attr.disabled]="clientMsg?.userName ? 'disabled' : null"
              />
            </nz-form-control>
            <ng-template #userNameError>
              {{ 'Please input the correct email address!' | translate }}
            </ng-template>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="editionRoleId" nzRequired>{{ 'Role' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please choose' | translate }}">
              <nz-select nzShowSearch nzPlaceHolder="{{ 'Please select' | translate }}" nzAllowClear formControlName="editionRoleId">
                <nz-option *ngFor="let item of rolesList" [nzLabel]="item.name" [nzValue]="item.id"> </nz-option>
                ></nz-select
              >
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="customerLevel"
              >{{ 'Customer configuration level' | translate }}
              <i
                nz-icon
                nzType="info-circle"
                nzTheme="outline"
                nz-tooltip
                [nzTooltipTitle]="
                  'Set the customer\'s price level, the customer can see the reserve price + the added price after configuring the price in the CSP'
                    | translate
                "
                class="tips"
              ></i>
              <span
                style="
                  color: #ff4d4f;
                  margin-left: 4px;
                  margin-right: 4px;
                  font-size: 14px;
                  font-family: SimSun, sans-serif;
                  line-height: 1;
                "
                >*</span
              >
            </nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please choose' | translate }}">
              <nz-select
                nzShowSearch
                nzPlaceHolder="{{ 'Please select' | translate }}"
                nzAllowClear
                formControlName="customerLevel"
                [nzCustomTemplate]="multipleTemplate"
                (ngModelChange)="changeCustomerLevel($event)"
              >
                <nz-option [nzValue]="1" nzCustomContent>
                  T1{{ 'range' | translate }}:(<span style="color: #faad14;">50-99.99</span>)
                </nz-option>
                <nz-option [nzValue]="2" nzCustomContent>
                  T2{{ 'range' | translate }}:(<span style="color: #faad14;">100-199.99</span>)
                </nz-option>
                <nz-option [nzValue]="3" nzCustomContent>
                  T3{{ 'range' | translate }}:(<span style="color: #faad14;">200-299.99)</span>)
                </nz-option>
                <nz-option [nzValue]="4" nzCustomContent>
                  T4{{ 'range' | translate }}:(<span style="color: #faad14;">300-499.99)</span>)
                </nz-option>
                <nz-option [nzValue]="5" nzCustomContent>
                  T5{{ 'range' | translate }}:(<span style="color: #faad14;">≥500)</span>)
                </nz-option>
                <nz-option [nzValue]="0" nzCustomContent>
                  {{ 'customize' | translate }}
                </nz-option>
              </nz-select>

              <ng-template #multipleTemplate let-selected>
                <div class="ant-select-selection-item-content" *ngIf="validateForm.get('customerLevel').value != 0">
                  T{{ validateForm.get('customerLevel').value }}({{ 'range' | translate }}：<span style="color: #faad14;"
                    ><span *ngIf="!maxPrice">≥</span>{{ minPrice }}<span *ngIf="maxPrice">-{{ maxPrice }}</span></span
                  >)
                </div>

                <div class="ant-select-selection-item-content" *ngIf="validateForm.get('customerLevel').value == 0">
                  {{ 'customize' | translate }}
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="oceanAttachFee">{{ 'Profit' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="errortips">
              <nz-input-group nzAddOnAfter="USD">
                <input type="number" nz-input formControlName="oceanAttachFee" placeholder="{{ 'Please enter' | translate }}" />
              </nz-input-group>
            </nz-form-control>
            <ng-template #errortips>
              {{ 'Please enter the price in the price range' | translate }}
            </ng-template>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="isCreateContact">&nbsp;</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              {{ 'Whether to create a contact' | translate }}?
              <nz-radio-group formControlName="isCreateContact" nzButtonStyle="solid" style="margin-left: 5px;">
                <label nz-radio-button [nzValue]="true">{{ 'Open' | translate }}</label>
                <label nz-radio-button [nzValue]="false">{{ 'Close' | translate }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="contactId">{{ 'Contact' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              <nz-select
                nzShowSearch
                nzPlaceHolder="{{ 'Please choose' | translate }}"
                nzAllowClear
                formControlName="contactId"
                [nzDisabled]="validateForm.get('isCreateContact').value === true"
              >
                <nz-option *ngFor="let item of contactList" [nzLabel]="item.name + (item.surname ? item.surname : '')" [nzValue]="item.id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12" *ngIf="validateForm.get('isCreateContact').value === true">
          <nz-form-item>
            <nz-form-label nzFor="contactId" nzRequired>{{ 'First name' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              <input type="text" nz-input formControlName="contactName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12" *ngIf="validateForm.get('isCreateContact').value === true">
          <nz-form-item>
            <nz-form-label nzFor="contactId" nzRequired>{{ 'Last name' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              <input type="text" nz-input formControlName="contactSurName" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12" *ngIf="validateForm.get('isCreateContact').value === true">
          <nz-form-item>
            <nz-form-label nzFor="contactId" nzRequired>{{ 'Phone' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              <input type="text" nz-input formControlName="contactPhone" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="isMasterContact">&nbsp;</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
              {{ 'Main contact' | translate }}
              <nz-radio-group formControlName="isMasterContact" nzButtonStyle="solid" style="margin-left: 5px;">
                <label nz-radio-button [nzValue]="true">{{ 'Yes' | translate }}</label>
                <label nz-radio-button [nzValue]="false">{{ 'No' | translate }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>

  <nz-resize-handle nzDirection="left">
    <div class="right-wrap">
      <div class="triangle"></div>
    </div>
  </nz-resize-handle>
</div>

<nz-modal
  [(nzVisible)]="noRZModal"
  [nzTitle]="'Customer is not certified' | translate"
  (nzOnCancel)="noRXModalhandleCancel()"
  [nzCancelText]="null"
  [nzOkText]="'Yes' | translate"
  (nzOnOk)="noRXModalhandleOk()"
>
  <p>{{ 'Please provide the tax number and apply for the certification from the finance department' | translate }}</p>
  <p>{{ 'CSP account can only be opened after financial audit' | translate }}</p>
</nz-modal>
