:host ::ng-deep {
  .co-page-layout {
    padding: 0 !important;
  }

  .bank-search {
    .co-search-area-item .ant-form-item {
      display: flex !important;
      align-items: center !important;
    }
  }

  .bill-top {
    .co-page-layout__toolbar,
    .co-page-layout__searchArea {
      margin-bottom: 0 !important;
    }
  }

  .m-top {
    .ant-tabs-bar {
      margin: 0 !important;
    }
  }
}

.search-header {
  input {
    min-width: 320px;
  }
}

.detial_msg {
  width: 200px;
}

nz-tabset {
  nz-tabs-nav {
    padding: 0 20px;
  }
}

.button-more {
  margin-left: 8px;
  color: #00000085;
  font-size: 24px;

  &:hover {
    color: #1890ff;
  }
}

.jy-ocean-StartingPlace {
  position: relative;
  z-index: 2;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  font-weight: 600;
  font-size: 16px;
  font-family: Tahoma, Helvetica, Arial, '宋体', sans-serif;
  line-height: 10px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-radius: 100%;
}

.primary {
  color: #1890ff;
  background-color: #1890ff;
}

.danger {
  color: #f6573a;
  background-color: #f6573a;
}

.dangerWord {
  color: #f6573a;
}
