<div style="display: flex; flex-direction: column; height: 100%; overflow: hidden; background: #fff;">
  <form nz-form [formGroup]="searchForm" nzLayout="inline">
    <div class="login-form">
      <div class="track">
        <!-- <nz-form-item>
          <nz-form-label>{{ 'trailer' | translate }}</nz-form-label>
          <nz-form-control style="width: 270px;">
            <nz-radio-group formControlName="Type" (ngModelChange)="onSelectTrailerTabs($event)">
              <label nz-radio [nzValue]="1">{{ 'Origin Truck' | translate }}</label>
              <label nz-radio [nzValue]="2">{{ 'Destination Truck' | translate }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>
            <span *ngIf="searchForm.get('Type').value == '1'">{{ 'Receiving place' | translate }}</span>
            <span *ngIf="searchForm.get('Type').value == '2'">{{ 'Delivery' | translate }}</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select an address' | translate }}">
            <nz-select
              style="width: 200px;"
              formControlName="From"
              nzPlaceHolder="{{ 'Please select' | translate }}"
              nzShowSearch
              nzServerSearch
              nzAllowClear
              (nzOnSearch)="getPlace($event)"
              [appSearchByExtraKey]="['chineseName', 'name']"
              *ngIf="searchForm.get('Type').value == '1'"
            >
              <nz-option
                *ngFor="let option of placeList"
                [appNzOptionExtra]="option"
                [nzLabel]="option.nameLocalization"
                [nzValue]="option.id"
              ></nz-option>
            </nz-select>

            <nz-select
              style="width: 200px;"
              formControlName="From"
              nzPlaceHolder="{{ 'Please select' | translate }}"
              nzShowSearch
              nzServerSearch
              nzAllowClear
              *ngIf="searchForm.get('Type').value == '2'"
              (nzOnSearch)="getBasicPortList($event)"
            >
              <nz-option *ngFor="let option of basicPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>
            <span *ngIf="searchForm.get('Type').value == '1'">{{ 'POL' | translate }}</span>
            <span *ngIf="searchForm.get('Type').value == '2'">{{ 'Delivery place' | translate }}</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-select
              style="width: 200px;"
              formControlName="To"
              nzPlaceHolder="{{ 'Please select' | translate }}"
              nzShowSearch
              nzServerSearch
              nzAllowClear
              (nzOnSearch)="getPlace($event)"
              [appSearchByExtraKey]="['chineseName', 'name']"
              *ngIf="searchForm.get('Type').value == '2'"
            >
              <nz-option
                *ngFor="let option of placeList"
                [appNzOptionExtra]="option"
                [nzLabel]="option.nameLocalization"
                [nzValue]="option.id"
              ></nz-option>
            </nz-select>

            <nz-select
              style="width: 200px;"
              formControlName="To"
              nzPlaceHolder="{{ 'Please select' | translate }}"
              nzShowSearch
              nzServerSearch
              nzAllowClear
              [appSearchByExtraKey]="['chineseName', 'name']"
              *ngIf="searchForm.get('Type').value == '1'"
              (nzOnSearch)="getBasicPortList($event)"
            >
              <nz-option
                *ngFor="let option of basicPortList"
                [appNzOptionExtra]="option"
                [nzLabel]="option.nameLocalization"
                [nzValue]="option.id"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item> -->
        <nz-form-item class="search-item">
          <nz-form-label>{{ 'From' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select
              style="width: 200px;"
              nzAllowClear
              nzShowSearch
              nzServerSearch
              (nzOnSearch)="getAddress($event, 0)"
              [nzPlaceHolder]="'Input location/port' | translate"
              formControlName="From"
            >
              <nz-option *ngFor="let item of countryLists" origin [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="search-item">
          <nz-form-label>{{ 'To' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select
              style="width: 200px;"
              nzAllowClear
              nzShowSearch
              nzServerSearch
              [nzPlaceHolder]="'Input location/port' | translate"
              (nzOnSearch)="getAddress($event, 1)"
              formControlName="To"
              class="select"
            >
              <nz-option *ngFor="let item of portList" [nzValue]="item.id" [nzLabel]="item.name"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>{{ 'Zip code' | translate }}</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="zipCode" placeholder="{{ 'Zip code' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control style="width: 320px;">
            <button nz-button [nzType]="'primary'" (click)="onSearch()">
              {{ 'Search' | translate }}
            </button>

            <button nz-button [nzType]="'default'" (click)="onClear()">{{ 'Reset' | translate }}</button>

            <button nz-button nzType="link" (click)="onShowMoreSearch()" style="align-self: center;">
              {{ 'Advanced search' | translate }}
              <i nz-icon nzType="down" *ngIf="!showMoreSearch" nzTheme="outline"></i>
              <i nz-icon nzType="up" *ngIf="showMoreSearch" nzTheme="outline"></i>
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="from-button">
        <button nz-button nzType="primary" (click)="onShowModal()" *ngIf="showInquiryBtn">
          {{ 'Inquiry' | translate }}
        </button>
      </div>
    </div>

    <div class="login-form2" *ngIf="showMoreSearch">
      <div class="track">
        <nz-form-item>
          <nz-form-label style="padding-right: 24px;">{{ 'Expiration date' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select time' | translate }}" style="width: 220px;">
            <nz-range-picker formControlName="DurationStart"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'Trucker' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select Trucker' | translate }}">
            <nz-select formControlName="Carrier" nzPlaceHolder="{{ 'Please select Trucker' | translate }}" nzShowSearch nzAllowClear>
              <!-- (nzOnSearch)="getCRMCarrierList($event)" -->
              <nz-option *ngFor="let option of carrierCustomerList" [nzLabel]="option.name" [nzValue]="option.id"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'Status' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="Please select status!">
            <nz-select formControlName="Status" nzPlaceHolder="{{ 'Please select' | translate }}" nzAllowClear>
              <nz-option nzValue="1" nzLabel="{{ 'invalid' | translate }}"></nz-option>
              <nz-option nzValue="0" nzLabel="{{ 'effective' | translate }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'NO' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please input your NO' | translate }}">
            <input type="text" nz-input formControlName="No" placeholder="{{ 'Please enter the quote number' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item [hidden]="searchForm.value?.Type == 1">
          <nz-form-label>{{ 'ZIP code' | translate }}</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="zipCode" placeholder="{{ 'ZIP code' | translate }}" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div class="inquiry-right">
    <!-- <nz-table #basicTable [nzData]="dataOfList?.items" [nzLoading]="loading" [nzFrontPagination]="false"
      nzShowPagination="false" nzTableLayout="fixed" calcScroll>
      <thead>
        <tr>
          <th nzWidth="100px">
            {{ 'Attention' | translate }}
          </th>

          <th nzWidth="160px">
            {{ 'From' | translate }}
          </th>
          <th nzWidth="160px">
            {{ 'To' | translate }}
          </th>
          <th nzWidth="90px">{{ 'Zip code' | translate }}</th>
          <th nzWidth="100px" nzShowSort [(nzSort)]="mapOfSort.rate" (nzSortChange)="onSort('rate', $event)">
            {{ 'Rate' | translate }}
          </th>
          <th nzWidth="80px">
            {{ 'Fuel' | translate }}
          </th>
          <th nzWidth="80px" nzShowSort (nzSortChange)="onSort('total', $event)">
            {{ 'Total' | translate }}
          </th>
          <th nzWidth="100px">
            {{ 'Currerncy' | translate }}
          </th>
          <th nzWidth="80px">
            {{ 'Status' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Duration' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Trucker' | translate }}
          </th>
          <th nzWidth="140px">
            {{ 'business type' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'NO' | translate }}
          </th>
          <th nzWidth="150px">
            {{ 'Update By' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="showDetial(data, i)" *ngFor="let data of basicTable.data; let i = index"
          [ngClass]="{ ou: i % 2 == 0, ji: i % 2 != 0, 'list-selected': data.selected }">
          <td nzEllipsis>
            <div class="detial_msg" style="width: 75px;">

              <i nz-icon nzType="star" nzTheme="outline" (click)="$event.stopPropagation(); onFollowChange(data)"
                *ngIf="!data.isFavorite"></i>

              <i nz-icon nzType="star" nzTheme="fill" (click)="$event.stopPropagation(); onFollowChange(data)"
                *ngIf="data.isFavorite"></i>
            </div>
          </td>

          <td nzEllipsis>
            <div *ngIf="data.businessType == 2">
              <span *ngIf="data.truckType == 1" [title]="data.truckAddress">{{ data.truckAddress }}</span>
              <span *ngIf="data.truckType == 2" [title]="data.truckPort">{{ data.truckPort }}</span>
            </div>

            <div *ngIf="data.businessType == 3">
              <span *ngIf="data.truckType == 1" [title]="data.truckAddress">{{ data.truckAddress }}</span>
              <span *ngIf="data.truckType == 2" [title]="data.truckPort">{{ data.truckPort }}</span>
            </div>
          </td>
          <td nzEllipsis>
            <div *ngIf="data.businessType == 2">
              <span *ngIf="data.truckType == 1" [title]="data.truckPort">{{ data.truckPort }}</span>
              <span *ngIf="data.truckType == 2" [title]="data.truckAddress">{{ data.truckAddress }}</span>
            </div>

            <div *ngIf="data.businessType == 3">
              <span *ngIf="data.truckType == 1" [title]="data.truckPort">{{ data.truckPort }}</span>
              <span *ngIf="data.truckType == 2" [title]="data.truckAddress">{{ data.truckAddress }}</span>
            </div>
          </td>
          <td>
            {{ data.zipCode || '--' }}
          </td>
          <td nzEllipsis>
            {{ data.rate?.toFixed(2) }}
          </td>
          <td nzEllipsis>{{ data.fuel }}%</td>
          <td nzEllipsis>
            {{ ((data.rate * data.fuel) / 100 + data.rate).toFixed(2) }}
          </td>
          <td nzEllipsis>
            {{ data.currency }}
          </td>
          <td nzEllipsis>
            <span *ngIf="data.status == '0'">{{ 'effective' | translate }}</span>
            <span *ngIf="data.status == '1'">{{ 'invalid' | translate }}</span>
          </td>
          <td nzEllipsis>
            <div>
              {{ data.validStart | date: 'yyyy-MM-dd' || '--' }}
            </div>
            <div>
              {{ data.validEnd | date: 'yyyy-MM-dd' || '--' }}
            </div>
          </td>
          <td nzEllipsis>
            {{ data.carrier }}
          </td>
          <td nzEllipsis>
            <span *ngIf="data.businessType == 2">{{ 'Contract price' | translate }}</span>
            <div *ngIf="data.businessType == 3">
              <span *ngIf="data.status == null">{{ 'Inquiry-to be quoted' | translate }}</span>
              <span *ngIf="data.status == 0">{{ 'Inquiry-Quoted' | translate }}</span>
              <span *ngIf="data.status == 1">{{ 'Inquiry-Invalid quote' | translate }}</span>
            </div>
          </td>
          <td nzEllipsis>
            {{ data.no || '--' }}
          </td>
          <td nzEllipsis>
            {{ data.users }}
          </td>
        </tr>
      </tbody>
    </nz-table> -->

    <!-- <co-st class="list-table" [columns]="columns" [data]="bookingList" [showCheckbox]="false" [showFilters]="false"
      calcScroll disableCalcX style="height: 100%;"> -->

    <co-st
      #st
      style="height: 100%;"
      [loading]="loading"
      [data]="dataOfList?.items"
      [columns]="columns"
      [scroll]="{ x: '2000px' }"
      [showFilters]="false"
      disableCalcX
      (change)="checkChange($event)"
      calcScroll
    >
      <ng-template st-row="Attention" let-data>
        <div class="detial_msg" style="width: 75px;">
          <i nz-icon nzType="star" nzTheme="outline" (click)="$event.stopPropagation(); onFollowChange(data)" *ngIf="!data.isFavorite"></i>

          <i nz-icon nzType="star" nzTheme="fill" (click)="$event.stopPropagation(); onFollowChange(data)" *ngIf="data.isFavorite"></i>
        </div>
      </ng-template>

      <ng-template st-row="Rate" let-data>
        {{ data.rate?.toFixed(2) }}
      </ng-template>

      <ng-template st-row="Total" let-data>
        {{ ((data.rate * data.fuel) / 100 + data.rate).toFixed(2) }}
      </ng-template>

      <ng-template st-row="From" let-data>
        <div *ngIf="data.businessType == 2">
          <span *ngIf="data.truckType == 1" [title]="data.truckAddress">{{ data.truckAddress }}</span>
          <span *ngIf="data.truckType == 2" [title]="data.truckPort">{{ data.truckPort }}</span>
        </div>

        <div *ngIf="data.businessType == 3">
          <span *ngIf="data.truckType == 1" [title]="data.truckAddress">{{ data.truckAddress }}</span>
          <span *ngIf="data.truckType == 2" [title]="data.truckPort">{{ data.truckPort }}</span>
        </div>
      </ng-template>

      <ng-template st-row="To" let-data>
        <div *ngIf="data.businessType == 2">
          <span *ngIf="data.truckType == 1" [title]="data.truckPort">{{ data.truckPort }}</span>
          <span *ngIf="data.truckType == 2" [title]="data.truckAddress">{{ data.truckAddress }}</span>
        </div>

        <div *ngIf="data.businessType == 3">
          <span *ngIf="data.truckType == 1" [title]="data.truckPort">{{ data.truckPort }}</span>
          <span *ngIf="data.truckType == 2" [title]="data.truckAddress">{{ data.truckAddress }}</span>
        </div>
      </ng-template>

      <ng-template st-row="Duration" let-data>
        <div>
          {{ data.validStart | date: 'yyyy-MM-dd' || '--' }}
        </div>
        <div>
          {{ data.validEnd | date: 'yyyy-MM-dd' || '--' }}
        </div>
      </ng-template>

      <ng-template st-row="action" let-data>
        <a *ngIf="data.reject" (click)="onEdit(data, $event)">
          {{ 'Edit' | translate }}
        </a>
      </ng-template>
    </co-st>
  </div>

  <div style="padding: 0 24px 24px 24px; text-align: right;">
    <nz-pagination
      [nzPageIndex]="skipCount"
      [nzPageSize]="maxResultCount"
      [nzTotal]="dataOfList?.totalCount"
      [nzShowTotal]="totalTemplate"
      (nzPageIndexChange)="onPageIndexChanged($event)"
    >
    </nz-pagination>
    <!-- <span>{{ 'Total' | translate }}:{{ dataOfList?.totalCount }}</span> -->
    <ng-template #totalTemplate let-total> {{ 'Total' | translate }}:{{ dataOfList?.totalCount }} </ng-template>
  </div>
</div>

<crm-inquiry-truck-quote
  *ngIf="modalVisible"
  [id]="inquiryId"
  (close)="modalVisible = false; inquiryId = null; $event && onSearch()"
></crm-inquiry-truck-quote>

<!-- <nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="detialVisible"
  (nzOnCancel)="detialVisible = false"
  nzWidth="70%"
  nzTitle="{{ 'Detial' | translate }}"
  [nzFooter]="null"
>
  <app-track-detial #detial></app-track-detial>
</nz-modal> -->

<nz-drawer
  [nzClosable]="false"
  [nzWidth]="'1'"
  [nzBodyStyle]="drawerStyle"
  [nzVisible]="detialVisible"
  nzPlacement="right"
  [nzTitle]="drawerTitle"
  (nzOnClose)="closeDrawerModal()"
  [nzMaskStyle]="maskStyle"
>
  <app-track-detial #detial mouseMoveEvent (mousedown)="down($event)" (mousemove)="move($event)" (mouseUp)="up()"> </app-track-detial>
</nz-drawer>

<ng-template #drawerTitle>
  <span style="margin-left: 14px;">{{ 'Detial' | translate }}</span>
  <span *ngIf="busType?.businessType == 2" class="drawer-tag">{{ 'Contract price' | translate }}</span>
  <span *ngIf="busType?.businessType == 3">
    <span *ngIf="busType?.status == null" class="drawer-tag tag-orange">{{ 'Inquiry-to be quoted' | translate }}</span>
    <span *ngIf="busType?.status == 0" class="drawer-tag tag-green">{{ 'Inquiry-Quoted' | translate }}</span>
    <span *ngIf="busType?.status == 1" class="drawer-tag tag-red">{{ 'Inquiry-Invalid quote' | translate }}</span>
  </span>
  <i class="iconfont icon-guanbi icon-close" (click)="detialVisible = false"></i>
</ng-template>
