<div style="overflow: auto; height: 100%;">
  <div class="addButton">
    <button nz-button nzType="primary" (click)="addOrUpdateData(1, null)" [disabled]="!isOwner">
      {{ 'New' | translate }}
    </button>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [placeholder]="'Input search text' | translate"
        [(ngModel)]="searchObj.content"
        (ngModelChange)="getList()"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <nz-table
    #basicTable
    [nzShowPagination]="showPage"
    nzShowSizeChanger
    [nzData]="listOfData"
    [nzTotal]="total"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    [nzFrontPagination]="false"
    (nzPageIndexChange)="pageIndexChange($event)"
    (nzPageSizeChange)="nzPageSizeChange($event)"
  >
    <tbody class="tbody">
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td class="imgWidth" width="50px">
          <img
            *ngIf="data.traceLogItems.length > 0"
            [src]="url + '/Storage/File/GetDownLoadFile?FileId=' + (data?.traceLogItems)[0]?.fileId + '&Handler=image'"
            (click)="showImgModal(i)"
          />
        </td>

        <td class="setWidth">
          <div class="toFlex">
            <span>{{ data.followUpRecord | date: 'yyyy-MM-dd' }}</span>
            <div class="dv">
              {{ data.content }}
            </div>
          </div>
        </td>

        <td>
          <div class="toFlex">
            <span>{{ 'Follower' | translate }}</span>
            <div>{{ data.creatorUser }}</div>
          </div>
        </td>
        <td>
          <div class="toFlex">
            <span>{{ 'Follow-up method' | translate }}</span>
            <div>{{ data.traceLogType }}</div>
          </div>
        </td>
        <td class="aStyle">
          <a (click)="addOrUpdateData(2, data.id)">{{ 'Modify' | translate }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="addOrUpdateData(3, data.id)">{{ 'View' | translate }}</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<customer-show-image></customer-show-image>
<customer-record-edit (getList)="getList()" style="display: block;"></customer-record-edit>
