<div class="inner-content py-20" id="table">
  <div class="list-content main-container">
    <div class="index-header-title">
      <div class="index-header-title-filter">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="{{ 'Please select the customer name, the inquiry person' | translate }}"
          class="index-header-title-filter-perple"
          [(ngModel)]="quoteInputParams.dynamicQuery.id"
          (ngModelChange)="(quoteInputParams.skipCount == 0); search()"
        >
          <nz-option
            *ngFor="let item of customerAndUser"
            [nzValue]="item.customerId == null ? item.userId : item.customerId"
            [nzLabel]="item.name"
          ></nz-option>
        </nz-select>
        <nz-select
          nzAllowClear
          nzPlaceHolder="{{ 'QuotesStatus' | translate }}"
          class="index-header-title-filter-status"
          [(ngModel)]="quoteInputParams.dynamicQuery.status"
          (ngModelChange)="(quoteInputParams.skipCount == 0); search()"
        >
          <nz-option [nzValue]="null" nzLabel="{{ 'All' | translate }}"></nz-option>
          <nz-option *ngFor="let item of quoteState" [nzValue]="item" [nzLabel]="QuoteState[item] | translate"> </nz-option>
        </nz-select>
        <div class="icon-all">
          <nz-select
            nzAllowClear
            nzPlaceHolder="{{ 'Trade Type' | translate }}"
            class="index-header-title-filter-status"
            [(ngModel)]="quoteInputParams.dynamicQuery.tradeTypes"
            (ngModelChange)="searchByTradeType($event)"
          >
            <nz-option nzValue="1,2,3" nzLabel="{{ 'All' | translate }}"></nz-option>
            <nz-option nzValue="1" nzLabel="{{ 'General' | translate }}"></nz-option>
            <nz-option nzValue="2,3" nzLabel="{{ 'FBA/FBM' | translate }}"></nz-option>
          </nz-select>
          <nz-input-group class="index-header-title-filter-status" [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              [placeholder]="'Quote No' | translate"
              appDebounceInput="300"
              (debounceInput)="search()"
              [(ngModel)]="quoteInputParams.dynamicQuery.quoteNo"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i
              *ngIf="quoteInputParams.dynamicQuery.quoteNo"
              nz-icon
              nzType="close-circle"
              (click)="quoteInputParams.dynamicQuery.quoteNo = ''; search()"
              style="color: #aaa; cursor: pointer;"
            ></i>
          </ng-template>
          <button nz-button nzType="default" (click)="clearSearch()">{{ 'Clear' | translate }}</button>
        </div>

        <div class="list-content-action">
          <button nz-button nzType="primary" (click)="createinitiativequotes()">{{ 'Add Quotes' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="content-list">
      <co-st
        #st
        style="height: 100%;"
        [data]="'/CRM/EsQuery/GetAllForES'"
        [req]="{
          params: quoteInputParams
        }"
        [showCheckbox]="false"
        [showFilters]="false"
        [columns]="columns"
        [scroll]="{ x: '1700px' }"
        [total]="quotetotal"
        [page]="{ front: false }"
        calcScroll
      >
        <ng-template st-row="quoteNo" let-data>
          <span class="colorBlue">{{ data.quoteNo }}</span>
        </ng-template>
        <ng-template st-row="fType" let-data>
          <div *ngIf="data.freightMethodType === 1" class="colorBlue">
            <span class="iconfont icon-Ocean" nz-icon nzIconfont="icon-ocean"></span>
          </div>
          <div *ngIf="data.freightMethodType === 2">
            <span class="iconfont icon-airplane" nz-icon nzIconfont="icon-airplane"></span>
          </div>
        </ng-template>
        <ng-template st-row="status" let-data>
          <span *ngIf="data.status == 1">
            <span class="jy-ocean-StartingPlace" [ngClass]="{ zise: true }"> </span> {{ 'Active' | translate }}
          </span>
          <span *ngIf="data.status == 2">
            <span class="jy-ocean-StartingPlace" [ngClass]="{ accept: true }"> </span>
            {{ 'Accept' | translate }}
          </span>
          <span *ngIf="data.status == 3">
            <span class="jy-ocean-StartingPlace" [ngClass]="{ expired: true }"> </span>
            {{ 'Expired' | translate }}
          </span>
          <span *ngIf="data.status == 4">
            <span class="jy-ocean-StartingPlace" [ngClass]="{ reject: true }"> </span>
            {{ 'Reject' | translate }}
          </span>
        </ng-template>
      </co-st>
    </div>
    <!-- <div class="d-flex justify-content-end">
      <nz-pagination
        style="text-align: right;"
        #nzpage
        [nzPageIndex]="quoteInputParams.pageIndex"
        [nzShowSizeChanger]="true"
        [nzTotal]="quotetotal"
        (nzPageSizeChange)="nzpage.nzPageIndex = 1; currentPageSizeChange($event)"
        [nzPageSize]="quoteInputParams.nzPageSize"
        (nzPageIndexChange)="pageIndexChange($event)"
        [nzShowQuickJumper]="false"
      >
      </nz-pagination>
    </div> -->
  </div>
</div>

<quotes-createquotes
  [quoteinfo]="quoteinfo"
  *ngIf="isShowcreatequotes"
  (isClosed)="isClosed = $event"
  (isQuoteStatus)="isQuoteStatus = $event"
  (close)="isSuccessfully($event)"
>
</quotes-createquotes>

<nz-modal nzMaskClosable="false" [(nzVisible)]="isShowcreaterecord" (nzOnCancel)="quotesrecordCancel()" nzWidth="70%">
  <quotes-quotesrecord
    *ngIf="isShowcreaterecord"
    [quoteId]="quoteId"
    [isShowtab]="isShowtab"
    (isSuccessfully)="isCreaterecordSuccessfully($event)"
    (isClosed)="isClosed = $event"
    (selSelectIndex)="selIndexnum($event)"
    (isQuoteRecordStatus)="isQuoteRecordStatus = $event"
  >
  </quotes-quotesrecord>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="quotesrecordCancel()">{{ 'Cancel' | translate }}</button>
    <button nz-button nzType="primary" type="submit" (click)="quotesrecordOk()" *ngIf="selIndex == 1" [nzLoading]="isQuoteRecordStatus">
      {{ 'Add Quotes' | translate }}
    </button>
  </div>
</nz-modal>

<ng-template #shareModalFooter>
  <button
    nz-button
    nzType="default"
    nz-popover
    [copyDomToImage]="shareModalRef?.getContentComponent()?.downToImageRef?.nativeElement"
    [nzPopoverContent]="isIE() ? ('The current browser does not support, use Google or Firefox' | translate) : null"
    [disabled]="isIE()"
  >
    {{ 'Copy image' | translate }}
  </button>
  <button
    nz-button
    nzType="default"
    nz-popover
    [nzPopoverContent]="isIE() ? ('The current browser does not support, use Google or Firefox' | translate) : null"
    [disabled]="isIE()"
    (click)="downloadImage()"
  >
    {{ 'Download image' | translate }}
  </button>
  <button nz-button nzType="primary" (click)="copyLink()">{{ 'Copy link' | translate }}</button>
</ng-template>
