<co-page-layout>
  <co-page-main coMinWidth="500px" style="display: flex; flex-direction: column;">
    <co-page-layout style="padding-top: 0;" class="bill-top">
      <co-toolbar>
        <co-toolbar-item>
          <nz-tabset (nzSelectedIndexChange)="selectedIndexChange($event)">
            <nz-tab [nzTitle]="'Transacted customers' | translate"></nz-tab>
            <nz-tab [nzTitle]="'Potential customers' | translate"></nz-tab>
            <nz-tab [nzTitle]="'High sea Pond' | translate"></nz-tab>
          </nz-tabset>
        </co-toolbar-item>
      </co-toolbar>

      <co-page-main>
        <!-- 成交客户 -->
        <crm-transacted-customers (customerDetail)="onShowCustomerDetail($event)"
                                  [hidden]="selectIndex != 0"></crm-transacted-customers>

        <!-- 潜在客户 -->
        <crm-potential-customers #potentialCustomers (onCreateCustomer)="createCustomer()" (customerDetail)="onShowpotentialCustomerDetail($event)" [hidden]="selectIndex != 1">
        </crm-potential-customers>

        <!--        公海池-->
        <crm-high-seas-pond-customer [hidden]="selectIndex != 2"></crm-high-seas-pond-customer>
      </co-page-main>
    </co-page-layout>
  </co-page-main>

  <co-page-side-drawer
    coWidthResizable
    coMinWidth="800px"
    (coOnClose)="$event.close()"
    [coTitle]="drawerTitle"
    #sideDrawer
  ></co-page-side-drawer>
  <ng-template #drawerTitle>
    <div class="drawerTitle">
      <div class="title" [innerHTML]="title | translate"></div>
    </div>
  </ng-template>
</co-page-layout>
