<form
  nzLayout="horizontal"
  nz-form
  [formGroup]="validateForm"
  style="display: flex; flex-direction: column; height: 100%; margin-bottom: 16px;"
>
  <div style="margin-bottom: 8px;">
    <button nz-button nzSize="small" nzType="primary" [nzLoading]="loading" (click)="save()">{{ 'Save' | translate }}</button>
    <button nz-button nzSize="small" nzType="default" (click)="cancel()">{{ 'Cancel' | translate }}</button>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20" style="display: flex; align-items: center;">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Name(English)' | translate }} </nz-form-label>
        <nz-form-control [nzErrorTip]="surnameErrorTpl">
          <input nz-input [placeholder]="'Please Input' | translate" formControlName="surname" />
          <ng-template #surnameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('pattern')">
              {{ 'Please enter the correct English name' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'Please input' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
        <span style="width: 110px; text-align: center;">-</span>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input nz-input [placeholder]="'Please Input' | translate" formControlName="name" />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('pattern')">
              {{ 'Please enter the correct English name' | translate }}
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              {{ 'Please input' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control style="width: 150px;">
          <label [nzDisabled]="isMainContact && isAdd == 'Add'" nz-checkbox formControlName="isMaster">{{
            'Main contact' | translate
          }}</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Name(LocationName)' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please Input' | translate }}">
          <input nz-input [placeholder]="'Please Input' | translate" formControlName="nameLocalization" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Phone number' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneErrorTpl">
          <input
            nz-input
            formControlName="phone"
            maxlength="11"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />

          <ng-template #phoneErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> {{ 'Please enter' | translate }} ! </ng-container>
            <ng-container *ngIf="control.hasError('existSameCode')">
              {{ 'Please enter the correct phone number!' | translate }} !
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Email' | translate }} </nz-form-label>
        <nz-form-control [nzErrorTip]="emailErrorTpl" nzErrorTip="{{ 'Please Input' | translate }}">
          <!-- userId有值就禁用掉邮箱和开通CSP账号按钮 -->
          <input
            nz-input
            [ngClass]="{ disable: !!validateForm.get('userId').value }"
            placeholder="{{ 'Please enter' | translate }}"
            formControlName="email"
            (ngModelChange)="emailChange()"
          />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> {{ 'Please Input' | translate }}! </ng-container>
            <ng-container *ngIf="control.hasError('email')"> {{ 'Please enter the correct Email!' | translate }} </ng-container>
          </ng-template>
          <div class="error" *ngIf="!isSuccess && isSubmitted">{{ 'Email has been registered' | translate }}</div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control style="width: 150px;">
          <label
            nz-checkbox
            [nzDisabled]="!!validateForm.get('userId').value"
            formControlName="isSignUp"
            (ngModelChange)="isSignUpChange($event)"
            >{{ 'Open a CSP account' | translate }}</label
          >
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8" [hidden]="!validateForm.get('isSignUp').value">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzRequired]="validateForm.get('isSignUp').value">{{ 'Role' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <nz-select formControlName="role" nzAllowClear="true">
            <nz-option [nzValue]="item.localizationName" [nzLabel]="item.localizationName" *ngFor="let item of roleList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ 'Job Capacity' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="position">
            <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of positionList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row style="color: #1890ff;" (click)="isShow = !isShow">
    {{ 'More Information' | translate }}
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ 'Telephone number' | translate }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="tel"
            maxlength="20"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ 'FAX' | translate }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="fax"
            maxlength="20"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ 'Remark' | translate }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Length cannot exceed 250' | translate }}">
          <textarea formControlName="remark" maxlength="1000" nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
