<form
  nzLayout="horizontal"
  nz-form
  [formGroup]="validateForm"
  style="display: flex; flex-direction: column; height: 100%; margin-bottom: 16px;"
>
  <div style="margin-bottom: 8px;">
    <button nz-button nzSize="small" nzType="primary" [nzLoading]="loading" (click)="save()">{{ 'Save' | translate }}</button>
    <button nz-button nzSize="small" nzType="default" (click)="cancel()">{{ 'Cancel' | translate }}</button>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20" style="display: flex; align-items: center;">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '姓名(英文)' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <input nz-input placeholder="Basic usage" formControlName="surname" />
        </nz-form-control>
        <span style="width: 110px; text-align: center;">-</span>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <input nz-input placeholder="Basic usage" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control style="width: 150px;">
          <label nz-checkbox formControlName="isMaster">主联系人</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '姓名(本地语言)' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <input nz-input placeholder="Basic usage" formControlName="nameLocalization" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '手机号码' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneErrorTpl">
          <input
            nz-input
            formControlName="phone"
            maxlength="20"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />

          <ng-template #phoneErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')"> {{ 'Please enter' | translate }} ! </ng-container>
            <ng-container *ngIf="control.hasError('required')"> {{ 'Please enter the correct phone number!' | translate }} ! </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Email' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please Input' | translate }}">
          <input nz-input formControlName="email" placeholder="{{ 'Please enter Email' | translate }}" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-control style="width: 150px;">
          <label nz-checkbox formControlName="isSignUp">开通主账号</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8" [hidden]="!validateForm.get('isSignUp').value">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzRequired]="validateForm.get('isSignUp').value">{{ 'Role' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <nz-select formControlName="role">
            <nz-option [nzValue]="item.localizationName" [nzLabel]="item.localizationName" *ngFor="let item of roleList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ '职位' | translate }}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="position">
            <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of positionList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row style="color: #1890ff;" (click)="isShow = !isShow">
    更多信息
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ '电话号码' | translate }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="tel"
            maxlength="20"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ '传真' | translate }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            formControlName="fax"
            maxlength="20"
            type="string"
            placeholder="{{ 'Please enter' | translate }}"
            style="flex: 1;"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row *ngIf="isShow" [nzGutter]="8">
    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label>{{ '备注' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea formControlName="remark" maxlength="1000" nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
