<div>
  <form nz-form [formGroup]="validateForm">
    <div style="margin-bottom: 8px;">
      <button nz-button nzSize="small" nzType="primary" [nzLoading]="isLoading" (click)="onSave()">{{ 'Save' | translate }}</button>
      <button nz-button nzSize="small" nzType="default" (click)="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="22">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'CRM.Name' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input placeholder="{{ 'Please enter' | translate }}" formControlName="name" [maxLength]="100" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="22">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Address' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <app-search-map #searchMap formControlName="address" country="cn" [placeholder]="'Please enter' | translate"> </app-search-map>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'TFN' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input placeholder="{{ 'Please enter' | translate }}" formControlName="tfn" [maxLength]="20" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Tel' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="telErrorTpl">
            <input coLimitInput replace="notChinese" nz-input placeholder="{{ 'Please enter' | translate }}" formControlName="tel" [maxLength]="20" />
            <ng-template #telErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ 'Please enter' | translate }}
              </ng-container>
              <ng-container *ngIf="control.hasError('existSameCode')">
                {{ 'Please enter the correct phone number!' | translate }} !
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row [nzGutter]="8" style="margin-top: 8px; margin-bottom: 8px; border-bottom: 1px solid#f0f0f0;"></div>

    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="11">
        <nz-form-item>
          <nz-form-label>{{ 'Bank' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please enter' | translate">
            <input nz-input placeholder="{{ 'Please enter' | translate }}" formControlName="bank" [maxLength]="75" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="13">
        <nz-form-item>
          <nz-form-label>{{ 'Invoice type' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="type">
              <label nz-radio [nzValue]="3">{{ 'EVAT' | translate }}</label>
              <label nz-radio [nzValue]="2">{{ 'PaperVAT' | translate }}</label>
              <label nz-radio [nzValue]="1">{{ 'SpecialVAT' | translate }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="8" *ngFor="let item of accountListControl; trackBy: trackByIndex; let i = index">
      <div nz-col nzSpan="11" style="padding: 8px 0 0 0; background: rgba(0, 0, 0, 0.03);">
        <nz-form-item>
          <nz-form-label>{{ 'BankAccount' | translate }}{{ i + 1 }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please Select correct BankAccount'">
            <input
              nz-input
              coLimitInput replace="notChinese"
              placeholder="{{ 'Please enter' | translate }}"
              [formControlName]="item.accountControlInstance"
              [maxLength]="25"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="11" style="padding: 8px 0 0 0; background: rgba(0, 0, 0, 0.03);">
        <nz-form-item>
          <nz-form-label>{{ 'Currency' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please Select correct BankAccount'">
            <nz-select [formControlName]="item.currencyControlInstance" nzAllowClear nzPlaceHolder="{{ 'Choose' | translate }}">
              <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of currencyList"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="2" style="padding: 8px 0 0 0; background: rgba(0, 0, 0, 0.03);">
        <nz-form-item>
          <div style="width: 100%;">
            <nz-form-control>
              <span
                nz-icon
                nzIconfont="icon-guanbi"
                class="icon-guanbi"
                (click)="removeField(item)"
                *ngIf="this.accountListControl.length > 1"
              >
              </span>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
    </div>
    <div
      style="margin-left: 130px; color: #fe443f;"
      *ngIf="isSubmit && !this.validateForm.value.bankAccount1 && !this.validateForm.value.bankAccount2"
    >
      {{ 'Bank account number must be filled in' | translate }}
    </div>
    <div class="invoicetitle-width" style="margin-top: 16px;">
      <button class="invoicetitle-width" nz-button nzType="dashed" *ngIf="accountListControl.length < 2" (click)="onAddLine()">
        <i nz-icon nzType="plus"></i>
        {{ 'Add' | translate }}
      </button>
    </div>
    <div nz-row [nzGutter]="24" class="invoicetitle-new-default">
      <label formControlName="isDefault" nz-checkbox>{{ 'Set as the default invoice header' | translate }}</label>
    </div>
  </form>
</div>
