.co-page-footer {
    padding         : 10px 20px;
    background-color: #e7f3ff;
    border          : 1px solid #dfdfdf;
    border-radius   : 4px;
    text-align      : right;
}

.review-menu {
    width        : 100%;
    background   : #fff;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 8px;
}

:host ::ng-deep {
    .ant-menu-item-selected {
        color        : #1890ff !important;
        border-bottom: 2px solid #1890ff !important;
    }

    .ant-menu-item:hover {
        color        : #1890ff !important;
        border-bottom: 2px solid #1890ff !important;
    }
}

.title {
    display      : flex;
    align-items  : center;
    background   : #fff;
    margin-bottom: 8px;
    flex-wrap    : wrap;

    button {
        margin: 8px 0 8px 8px !important;
    }

    nz-select {
        margin: 8px 0 8px 8px !important;
        width : 200px;
    }
}

.tap {
    display      : inline-block;
    width        : 12px;
    height       : 12px;
    border-radius: 100%;
}