<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
  <div class="button-bind">
    <button nz-button nzSize="small" [nzType]="'primary'" class="currency-button" (click)="bindCustomer()">
      {{ 'Bind new customers' | translate }}
    </button>
  </div>
  <co-st
    #st
    [columns]="columns"
    [data]="listOfData"
    [loading]="loading"
    columnDefaultWidth="100"
    (change)="onTableChange($event)"
    calcScroll
    disableCalcX
    virtualScroll
    [showFilters]="false"
    style="flex: 1;"
  >
    <ng-template st-row="isRegistered" let-data>
      <div *ngIf="data.isRegistered">
        <div class="isopen"></div>
        {{ 'Opened' | translate }}
      </div>
      <div *ngIf="!data.isRegistered">
        <div class="noopen"></div>
        {{ 'Nonactivated' | translate }}
      </div>
    </ng-template>
  </co-st>
</div>
