<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
  <div class="button-bind" style="text-align: right;">
    <button nz-button nzSize="small" [nzType]="'primary'" class="currency-button" (click)="onShowNewCustomer()"
            [disabled]="!isOwner">
      {{ 'Bind new customers' | translate }}
    </button>
  </div>
  <co-st
    #st
    [columns]="columns"
    [data]="listOfData"
    [loading]="loading"
    columnDefaultWidth="100"
    (change)="onTableChange($event)"
    calcScroll
    disableCalcX
    virtualScroll
    [showFilters]="false"
    style="flex: 1;"
  >
    <ng-template st-row="isRegistered" let-data>
      <div *ngIf="data.isRegistered">
        <div class="isopen"></div>
        {{ 'Opened' | translate }}
      </div>
      <div *ngIf="!data.isRegistered">
        <div class="noopen"></div>
        {{ 'Nonactivated' | translate }}
      </div>
    </ng-template>
  </co-st>

<!--  <div *ngIf="false" style="background: #fff; flex: 1; overflow: hidden;">-->
<!--    <nz-table-->
<!--      #filterTable-->
<!--      [nzData]="listOfData"-->
<!--      [nzLoading]="loading"-->
<!--      [nzFrontPagination]="false"-->
<!--      nzShowPagination="false"-->
<!--      nzTableLayout="fixed"-->
<!--      calcScroll-->
<!--      style="height: 100%; overflow: hidden;"-->
<!--    >-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Partner name' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Partner creator' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="250px" [nzShowSort]="false">-->
<!--          {{ 'Account information' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Bind customer' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Owner' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Binding by' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false">-->
<!--          {{ 'Binding time' | translate }}-->
<!--        </th>-->
<!--        <th nzWidth="150px" [nzShowSort]="false" nzRight="0">-->
<!--          {{ 'Operating' | translate }}-->
<!--        </th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let data of filterTable.data; let i = index" [ngClass]="{ ou: i % 2 == 0, ji: i % 2 != 0 }">-->
<!--        <td nzEllipsis>-->
<!--          <a (click)="details(data.id)">{{ data.name }} </a>-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          {{ data.creator }}-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          <div *ngIf="data.isRegistered">-->
<!--            <div class="isopen"></div>-->
<!--            {{ 'Opened' | translate }}-->
<!--          </div>-->
<!--          <div *ngIf="!data.isRegistered">-->
<!--            <div class="noopen"></div>-->
<!--            {{ 'Nonactivated' | translate }}-->
<!--          </div>-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          {{ data.partnerCustomer }}-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          <div class="detial_msg" style="width: 150px;">-->
<!--            <button nz-button nzSize="small" nzType="default" nzSize="small" *ngIf="data.matchCustomers.length > 0"-->
<!--                    (click)="bindCustomer(data)">-->
<!--              +{{ data.matchCustomers.length }}-->
<!--            </button>-->
<!--            <span *ngIf="data.matchCustomers.length == 0">{{ data.partnerCustomerOwner || '&#45;&#45;' }}</span>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          {{ data.bindUserName }}-->
<!--        </td>-->
<!--        <td nzEllipsis>-->
<!--          {{ data.bindTime | date: 'yyy-MM-dd' }}-->
<!--        </td>-->
<!--        <td nzEllipsis style="color: blue;" nzRight="0">-->
<!--          <a (click)="details(data.id)">{{ 'View' | translate }}</a-->
<!--          >&nbsp;&nbsp;-->
<!--          <a *ngIf="data.bindUserName != null" (click)="unBindCustomer(data.id)">{{ 'Unbind' | translate }}</a>-->
<!--          <a *ngIf="data.bindUserName == null && data.matchCustomers.length <= 0"-->
<!--             (click)="transferToCustomer(data.id, data.name)">{{-->
<!--            'Convert to customer' | translate-->
<!--            }}</a>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </nz-table>-->
<!--  </div>-->

<!--  <div class="pagination">-->
<!--    <nz-pagination-->
<!--      [nzPageIndex]="filterPartner.SkipCount"-->
<!--      [nzPageSize]="filterPartner.MaxResultCount"-->
<!--      (nzPageIndexChange)="pageIndexChange($event)"-->
<!--      [nzTotal]="totalCount"-->
<!--      [nzHideOnSinglePage]="true"-->
<!--    ></nz-pagination>-->
<!--  </div>-->
</div>
