<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column;">
  <div class="table-title">
    <div class="card-title">
      <div class="gutter-box" *ngIf="i">
        <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="onBackList()"></i>
      </div>
    </div>
    <button nz-button nzType="primary" (click)="onCreateContact()" [disabled]="!isOwner">
      {{ 'New' | translate }}
    </button>
  </div>

  <div *ngIf="i; else elseTemplate" style="overflow: auto;">
    <div class="userBody" *ngIf="contact; else showLoading">
      <div class="userContent">
        <div
          class="card-body"
          style="background-image: url(apps/crm/assets/images/customer/contact2.png);"
          [ngClass]="contact.userInfo ? 'body-margin' : ''"
        >
          <div class="divBottom" style="display: flex; justify-content: space-between; width: 100%;">
            <div>
              <div>
                <span>{{ contact?.name }} {{ contact?.surname }}</span
                ><span *ngIf="contact?.nameLocalization"> /</span> {{ contact?.nameLocalization }}
                <p>
                  {{ contact?.position }}
                </p>
              </div>
            </div>

            <div class="edit-icon" *ngIf="isOwner">
              <i nz-icon class="del" nzType="form" nzTheme="outline" (click)="onUpdateUser()"></i>
              <i nz-icon class="del" nzType="delete" nzTheme="outline" (click)="onDeleteContacts()"></i>
            </div>
          </div>

          <div class="greenText">{{ isMasterText }}</div>
          <div class="contact-detial">
            <div>
              <span><i nz-icon nzType="tablet" nzTheme="outline"></i>{{ 'Phone number' | translate }}：</span>{{ contact?.phone }}
            </div>
            <div>
              <span><i nz-icon nzType="mail" nzTheme="outline"></i>{{ 'Email' | translate }}：</span>{{ contact?.email }}
            </div>
            <div>
              <span><i nz-icon nzType="phone" nzTheme="outline"></i>{{ 'Telephone number' | translate }}：</span>{{ contact?.tel }}
            </div>
            <div>
              <span><i nz-icon nzType="container" nzTheme="outline"></i>{{ 'Fax' | translate }}：</span>{{ contact?.fax }}
            </div>
            <div style="width: 100%;">
              <span><i nz-icon nzType="check-square" nzTheme="outline"></i>{{ 'Remark' | translate }}：</span>{{ contact?.remark }}
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="contact.userInfo" style="background-image: url(apps/crm/assets/images/customer/contact1.png);">
          <div class="card-body-title divBottom" style="display: flex; justify-content: space-between; align-items: top;">
            <div style="display: flex; align-items: top;">
              <nz-avatar [nzText]="contact.userInfo?.name.substring(0, 2)" style="margin-right: 1em;"></nz-avatar>
              <div class="pName">
                <div class="greenText">{{ contact?.role }}</div>
              </div>
            </div>
            <i nz-icon nzType="delete" nzTheme="outline" class="del" (click)="onUserCancelBind(contact.id)"></i>
          </div>

          <div class="card-body-title">
            <div class="pEmail"><i nz-icon nzType="mail" nzTheme="outline"></i>{{ contact.userInfo?.emailAddress }}</div>
            <div style="margin-bottom: 10px;">
              <i nz-icon nzType="lock" nzTheme="outline"></i>
              <span style="color: #00000085;">{{ 'Password' | translate }}：</span>
              <input
                type="text"
                nz-input
                style="border: none;"
                placeholder="{{ 'Please enter the password' | translate }}"
                readonly
                value="********"
              />
            </div>
            <button nz-button nzType="primary" (click)="onSetPassword(contact.userInfo)">
              {{ 'Reset Password' | translate }}
            </button>
          </div>
        </div>

        <div
          class="card-body"
          style="background-image: url(apps/crm/assets/images/customer/contact1.png); display: flex; justify-content: center;"
          *ngIf="!contact.userInfo"
        >
          <button nz-button nzType="primary" (click)="showCspModal()" style="align-self: center;" [disabled]="!isOwner">
            {{ 'Open account' | translate }}
          </button>
        </div>
      </div>

      <!-- 关联位置 -->
      <div>
        <nz-tabset [nzAnimated]="false" [nzTabBarExtraContent]="tablebutton" style="width: 100%; margin-top: 24px;">
          <nz-tab nzTitle="{{ 'Associated location' | translate }}({{ contact?.name }})">
            <crm-relation-position [locations]="selectedLocations" [contactId]="i" (datas)="refushDetialData()"> </crm-relation-position>
          </nz-tab>
        </nz-tabset>
        <ng-template #tablebutton>
          <button nz-button nzType="primary" (click)="onBindLocations()" [disabled]="!isOwner">
            {{ 'Bind more locations' | translate }}
          </button>
        </ng-template>
      </div>
    </div>

    <ng-template #showLoading>
      <div style="text-align: center; margin-top: 30px;">
        <i nz-icon nzType="loading" nzTheme="outline" style="font-size: 30px; color: #999;"></i>
        <p style="color: #999;">{{ 'loading' | translate }}...</p>
      </div>
    </ng-template>
  </div>

  <ng-template #elseTemplate>
    <div class="table-content">
      <nz-table
        #filterTable
        [nzData]="users"
        [nzLoading]="tabLoading"
        [nzFrontPagination]="false"
        nzShowPagination="false"
        nzTableLayout="fixed"
        calcScroll
      >
        <thead>
          <tr>
            <th nzWidth="150px">
              {{ 'Name' | translate }}
            </th>
            <th nzWidth="150px">{{ 'Name' | translate }}({{ 'Local' | translate }})</th>
            <th nzWidth="150px">
              {{ 'Job Capacity' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Phone' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Email' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Main contact' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Account opening' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Opening time' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Role' | translate }}
            </th>
            <th nzWidth="150px">
              {{ 'Status' | translate }}
            </th>
            <th nzWidth="200px" nzRight="0">
              {{ 'Associated location' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of filterTable.data; let i = index"
            [ngClass]="{ ou: i % 2 == 0, ji: i % 2 != 0 }"
            (dblclick)="onContactsDetails(data.id)"
          >
            <td nzEllipsis style="color: #40a9ff; cursor: pointer;" (click)="onContactsDetails(data.id)">
              {{ (data.name || '') + ' ' + (data.surname || '') }}
            </td>
            <td nzEllipsis>
              {{ data.localizationName || '' }}
            </td>
            <td nzEllipsis>
              {{ data.position }}
            </td>
            <td nzEllipsis>
              {{ data.phone }}
            </td>
            <td nzEllipsis>
              {{ data.email }}
            </td>
            <td nzEllipsis>
              <span style="color: #40a9ff;" *ngIf="data.isMaster">
                {{ 'TrueMainAccount' | translate }}
              </span>

              <span *ngIf="!data.isMaster">
                {{ 'FalseMainAccount' | translate }}
              </span>
            </td>
            <td nzEllipsis>
              <div *ngIf="data.userId">
                <div class="isopen"></div>
                {{ 'Opened' | translate }}
              </div>
              <div *ngIf="!data.userId">
                <div class="noopen"></div>
                {{ 'Nonactivated' | translate }}
              </div>
            </td>
            <td nzEllipsis>
              {{ data.userInfo?.creationTime | date: 'yyyy-MM-dd' }}
            </td>
            <td nzEllipsis>
              <label *ngFor="let item of data.userInfo?.roles">
                {{ item.roleName }}
              </label>
            </td>
            <td nzEllipsis>
              <ng-container *ngIf="data.userInfo; else noInfo">
                <label style="color: #1890ff;" *ngIf="data.userInfo.isActive">{{ 'Activated' | translate }}</label>
                <label style="color: #1890ff;" *ngIf="!data.userInfo.isActive">{{ 'Inactivated' | translate }}</label>
              </ng-container>
              <ng-template #noInfo>
                --
              </ng-template>
            </td>
            <td nzEllipsis nzRight="0">
              <div class="detial_msg" style="width: 130px;">
                <button nz-button nz-popover nzPopoverTitle="" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
                  {{ 'Position' | translate }}:{{ data.locations.length }}
                </button>
                <ng-template #contentTemplate>
                  <div *ngFor="let item of data.locations" style="padding: 1em 0;">
                    <span>{{ item.name }}&nbsp;</span>
                    <span>{{ item.country }}&nbsp;</span>
                    <span>{{ item.province }}</span>
                  </div>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="pagination">
      <nz-pagination
        nzHideOnSinglePage
        [nzPageIndex]="filterContact.SkipCount"
        [nzPageSize]="filterContact.MaxResultCount"
        (nzPageIndexChange)="pageIndexChange($event)"
        [nzTotal]="totalCount"
      ></nz-pagination>
    </div>
  </ng-template>
</div>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isVisible"
  nzTitle="{{ 'Bind more locations' | translate }}"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <nz-select
    [nzMaxTagCount]="1"
    nzMode="multiple"
    nzPlaceHolder="{{ 'Please select a location' | translate }}"
    [(ngModel)]="selectedLocationsListIds"
    style="width: 100%;"
  >
    <nz-option *ngFor="let option of allLocations" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
  </nz-select>
</nz-modal>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isPasswordVisible"
  nzTitle="{{ 'Reset Password' | translate }}"
  (nzOnCancel)="handlePassCancel()"
  [nzFooter]="passModalFooter"
>
  <div style="margin: 10px 0;">
    <div style="margin: 10px 0;">{{ 'New Password' | translate }}</div>
    <div>
      <input type="password" nz-input placeholder="{{ 'Please enter a new password' | translate }}" [(ngModel)]="newPassword" />
    </div>
  </div>

  <div style="margin: 10px 0;">
    <div style="margin: 10px 0;">{{ 'New Password' | translate }}</div>
    <div>
      <input type="password" nz-input placeholder="{{ 'Please enter a new password' | translate }}" [(ngModel)]="newPasswordAgain" />
    </div>
  </div>

  <ng-template #passModalFooter>
    <button nz-button nzType="primary" (click)="handlePassOk()" [nzLoading]="cspLoading">
      {{ 'Save' | translate }}
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="CspModalVisible"
  nzTitle="{{ 'Account information' | translate }}"
  (nzOnCancel)="CspModalCancel()"
  [nzFooter]="CspModalFooter"
>
  <div class="errorMsgForm">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" *ngIf="validateForm">
      <nz-form-item>
        <nz-form-label nzFor="username">{{ 'Username' | translate }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'The user name cannot be empty, and must be a mailbox!' | translate }}">
          <input type="text" nz-input disabled formControlName="username" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="password">{{ 'Password' | translate }}</nz-form-label>
        <nz-form-control
          [nzValidateStatus]="passwordB"
          nzErrorTip="{{ 'Password must be a combination of 8-16 letters and numbers' | translate }}"
        >
          <input type="password" nz-input formControlName="password" (ngModelChange)="passwordChange($event)" maxlength="8" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="roles">{{ 'Role' | translate }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'The character cannot be empty!' | translate }}">
          <nz-select nzShowSearch nzAllowClear formControlName="roles" style="width: 100%;">
            <nz-option [nzLabel]="data.name" [nzValue]="data.name" *ngFor="let data of rolesList"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label
          ><label nz-checkbox formControlName="isEeamil" style="margin-right: 12px;"></label
          >{{ 'E-mail notification' | translate }}</nz-form-label
        >
      </nz-form-item> -->
    </form>

    <ng-template #CspModalFooter>
      <button nz-button nzType="primary" (click)="CspModalOk()" [nzLoading]="loading">{{ 'Save' | translate }}</button>
    </ng-template>
  </div>
</nz-modal>

<create-contacts
  style="display: block;"
  [customerId]="customerId"
  [partnerId]="partnerId"
  (datas)="onAddOrUpdateContacts($event)"
  (resfush)="getContactInfo()"
>
</create-contacts>
