<div class="userMsg">
  <div class="header"><img src="assets/images/customer/company.png" /></div>

  <div class="userMsg-name">{{ customerInfo?.name }}</div>

  <div style="flex: 1;overflow: auto;">
    <div class="userMsg-detial">
      <div>
        <span><i nz-icon nzType="user" nzTheme="outline"></i>{{ 'Contact' | translate }}</span>
        <label
          ><span>{{ customerInfo?.contactCount || '0' }}</span></label
        >
      </div>

      <div style="padding-bottom: 10px">
        <span><i nz-icon nzType="environment" nzTheme="outline"></i>{{ 'Position' | translate }}</span>
        <label
          ><span>{{ customerInfo?.locationCount || '--' }}</span></label
        >
      </div>
    </div>

    <div class="userMsg-moreDetial">
      <div style="padding-top: 15px;">
        <span><i nz-icon nzType="file-word" nzTheme="outline"></i>{{ 'Keyword' | translate }}：</span
        ><label>{{ customerInfo?.keyWord || '--' }}</label>
      </div>

      <div>
        <span><i nz-icon nzType="database" nzTheme="outline"></i>{{ 'Industry' | translate }}：</span
        ><label>{{ customerInfo?.industryDisplay || '--' }}</label>
      </div>
      <div>
        <span><i nz-icon nzType="usergroup-delete" nzTheme="outline"></i>{{ 'Customer type' | translate }}：</span
        ><label>{{ customerType || '--' }}</label>
      </div>

      <div>
        <span><i nz-icon nzType="user-delete" nzTheme="outline"></i>{{ 'Sales customer' | translate }}：</span
        ><label>
          <span *ngIf="customerInfo?.isSalesCustomer"><i nz-icon nzType="check" nzTheme="outline"></i></span>
          <span *ngIf="!customerInfo?.isSalesCustomer">{{ '--' | translate }}</span>
        </label>
      </div>
      <div>
        <span><i nz-icon nzType="solution" nzTheme="outline"></i>{{ 'Common incoterms' | translate }}：</span
        ><label>{{ customerInfo?.incotermsDisplay || '--' }}</label>
      </div>
      <div>
        <span><i nz-icon nzType="team" nzTheme="outline"></i>{{ 'Company information' | translate }}：</span>
        <label>{{ customerInfo?.description || '--' }}</label>
      </div>
    </div>

    <div style="padding-top:24px ;background:#ffffff" *ngIf="customerInfo">
      <div style="margin-bottom: 10px;">
        <strong style="margin-bottom: 16px;">{{ 'Life cycle' | translate }}</strong>
      </div>

      <nz-timeline>
        <nz-timeline-item *ngFor="let item of customerInfo?.customerLifeCycles" nzColor="#8ACAF2">
          <div>{{ item.status | customerLifeCycle: item.remark }}</div>
          <div style="color:#00000065">{{ item.creationTime | date: 'yyyy-MM-dd' }}</div>
          <p *ngIf="item.status == 0">{{ 'Salesperson name' | translate }}:{{ item.remark }}</p>
        </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
</div>
