<section style="height: 100%; overflow: auto; border-bottom: 1px solid #e9e9e9;">
  <div style="margin-bottom: 8px;">
    <button *ngIf="expanded" nz-button nzSize="small" nzType="primary" [nzLoading]="loading" (click)="submit()">
      {{ 'Publish' | translate }}
    </button>
    <button *ngIf="expanded" nz-button nzSize="small" nzType="default" (click)="expanded = false; onExpand.emit(false); cancel()">
      {{ 'Cancel' | translate }}
    </button>
    <button *ngIf="!expanded" nz-button nzSize="small" nzType="default" (click)="expanded = true; onExpand.emit(true)">
      {{ 'Unfold' | translate }}
    </button>
  </div>
  <form *ngIf="expanded" nzLayout="horizontal" #ngForm="ngForm" nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired> {{ '主题' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please Input' | translate">
            <input nz-input formControlName="title" [placeholder]="'Please enter' | translate" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired> {{ '开始时间' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}!">
            <nz-date-picker
              [nzDisabledDate]="disabledDate"
              (ngModelChange)="compareDate(validateForm.get('remindStartTime').value, validateForm.get('remindEndTime').value)"
              formControlName="remindStartTime"
            ></nz-date-picker>
            <div class="red" *ngIf="!isDateMatch">
              {{ 'validStartDate cannot be before validEndDate' | translate }}
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired> {{ '到期时间' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}!">
            <nz-date-picker
              [nzDisabledDate]="disabledDate"
              (ngModelChange)="compareDate(validateForm.get('remindStartTime').value, validateForm.get('remindEndTime').value)"
              formControlName="remindEndTime"
            ></nz-date-picker>
            <div class="red" *ngIf="!isDateMatch">
              {{ 'validStartDate cannot be before validEndDate' | translate }}
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col class="gutter-row" [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired> {{ '被分配人' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Please select' | translate">
            <nz-select
              [nzMaxTagCount]="1"
              nzMode="multiple"
              nzServerSearch
              (nzOnSearch)="onSearch($event)"
              [nzPlaceHolder]="'Please select' | translate"
              formControlName="beAssigned"
            >
              <nz-option *ngFor="let item of listOfOption" [nzLabel]="item.userName" [nzValue]="item.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <nz-form-control>
        <textarea
          nz-input
          formControlName="content"
          [placeholder]="'Please enter' | translate"
          [nzAutosize]="{ minRows: 3, maxRows: 6 }"
        ></textarea>
      </nz-form-control>
    </div>
  </form>
</section>
