<div class="table-title">
  <div></div>
  <div class="card-title">
    <div class="gutter-box">
      <button nz-button nzSize="small" (click)="onShowLegalEdit()" nzType="primary">
        {{ 'Edit' | translate }}
      </button>
    </div>
  </div>
</div>

<div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
      <nz-card [nzTitle]="tabtitle1">
        <p>
          {{ 'Full name' | translate }} : {{ customerInfo?.name || '--' }}
          <span style="margin-left: 10px;">{{ 'Abbreviation' | translate }} : {{ customerInfo?.shortName || '--' }}</span>
        </p>

        <p>{{ 'Address' | translate }} : {{ customerInfo?.address || '--' }}</p>
      </nz-card>
      <ng-template #tabtitle1>
        <strong> {{ 'Customer Information-Local Language' | translate }}</strong>
      </ng-template>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-card [nzTitle]="tabtitle2">
        <p>
          {{ 'Full name' | translate }} : {{ customerInfo?.localizationName || '--' }}
          <span style="margin-left: 10px;">{{ 'Abbreviation' | translate }}: {{ customerInfo?.localizationShortName || '--' }}</span>
        </p>

        <p>{{ 'Address' | translate }} : {{ customerInfo?.localizationAddress || '--' }}</p>
      </nz-card>
      <ng-template #tabtitle2>
        <strong>{{ 'Customer Information-English' | translate }}</strong>
      </ng-template>
    </div>
  </div>
  <nz-card [nzTitle]="contactInfo">
    <p>{{ 'Phone' | translate }} : {{ customerInfo?.tel || '--' }}</p>
    <p>{{ 'Email' | translate }} : {{ customerInfo?.email || '--' }}</p>
    <p>{{ 'Fax' | translate }} : {{ customerInfo?.fax || '--' }}</p>
  </nz-card>
  <ng-template #contactInfo>
    <strong>{{ 'Contact information' | translate }}</strong>
  </ng-template>
</div>

<!-- 客户 -->
<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isCustomer"
  nzTitle="{{ 'Edit' | translate }}"
  [nzFooter]="cusFooter"
  nzWidth="50%"
  (nzOnCancel)="createCancelCustomer()"
  class="customer"
>
  <div #createCustomer></div>
  <ng-template #cusFooter>
    <button nz-button nzSize="small" [nzType]="'primary'" (click)="updateCustomer(true)" [nzLoading]="applicationLoading" [disabled]="cusLoading">
      {{ 'Application' | translate }}
    </button>

    <button nz-button nzSize="small" nzType="primary" (click)="updateCustomer()" [disabled]="applicationLoading" [nzLoading]="cusLoading">
      {{ 'Save' | translate }}
    </button>
  </ng-template>
</nz-modal>
