<nz-spin [nzSpinning]="loading">
  <div>
    <button nzSize="small" nz-button *ngIf="!editing" (click)="editing=!editing"
            nzType="primary">{{"Edit"|translate}}</button>
    <button *ngIf="editing" nzSize="small" nz-button (click)="updateSetting()"
            nzType="primary">{{"Apply"|translate}}</button>
    <button *ngIf="editing" nzSize="small" nz-button (click)="editing = false;getSetting()"
            nzType="default">{{"Cancel"|translate}}</button>
  </div>
  <form nz-form #recycleForm="ngForm" class="define-customer-type">
    <h5><i nz-icon nzType="down-square" nzTheme="fill" style="color:#1890FF;font-size: 16px;margin-right: 4px; "
           [style.transform]="!showBasicInfo?'rotate(180deg)':'unset'"
           (click)="showBasicInfo = !showBasicInfo"></i>公海池基本属性</h5>
    <ng-container *ngIf="showBasicInfo">
      <!--      公海负责人-->
      <nz-form-item>
        <nz-form-label nzRequired class="define-customer-title">公海负责人</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <div style="line-height: 32px;">已选择 {{validateForm.personLiableDeptCount}}
            个部门 {{validateForm.personLiableCount}}个成员
          </div>
          <nz-tree-select #personLiable required style="width: 320px;" nzSize="small"
                          [nzDropdownStyle]="{'max-height':'400px'}"
                          [nzNodes]="personList" nzShowSearch
                          [nzDisabled]="!editing"
                          nzShowLine
                          nzCheckable
                          [nzMaxTagCount]="3"
                          [nzMultiple]="true"
                          [nzMaxTagPlaceholder]="omittedPlaceHolder"
                          [nzAllowClear]="editing" nzHideUnMatched
                          name="personLiableList"
                          [nzExpandedIcon]="multiExpandedIconTpl"
                          [nzPlaceHolder]="'Please select' | translate"
                          [(ngModel)]="validateForm.personLiableList">
            <ng-template #multiExpandedIconTpl let-node let-origin="origin">
              <i nz-icon [nzType]="origin?.dataType==3 ? 'user' : 'plus-square'"
                 class="ant-tree-switcher-line-icon"></i>
            </ng-template>
          </nz-tree-select>
          <ng-template #omittedPlaceHolder let-omittedValues> + {{ omittedValues.length }}...</ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired class="define-customer-title">设置公海类型:</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <nz-radio-group [disabled]="!editing" name="highSeasPondType" [(ngModel)]="validateForm.highSeasPondType">
            <div style="display: flex;align-items: center;">
              <label style="display: block;" nz-radio
                     nzValue="0">系统随机分配型（系统主动推送公海客户给成员，公海成员可见可领取公海客户，也可由公海负责人分配）</label>
              <nz-divider nzType="vertical"></nz-divider>
              <label>随机分配数量:
                <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                 name="highSeasPondType_RandomAllocationNumber"
                                 [(ngModel)]="validateForm.highSeasPondType_RandomAllocationNumber"></nz-input-number>
                条/
                <nz-select [nzDisabled]="!editing" nzSize="small" style="width: 80px;"
                           name="highSeasPondType_RandomAllocationUnit"
                           [(ngModel)]="validateForm.highSeasPondType_RandomAllocationUnit">
                  <nz-option nzValue="天" nzLabel="天"></nz-option>
                  <nz-option nzValue="周" nzLabel="周"></nz-option>
                  <nz-option nzValue="月" nzLabel="月"></nz-option>
                </nz-select>
              </label>
            </div>
            <label style="display: block;" nz-radio nzValue="1">主动领取型公海（公海成员可见可领取公海客户，也可由公海负责人分配）</label>
            <label style="display: block;" nz-radio nzValue="2">人工分配型公海（公海成员不可见公海客户，由公海负责人负责人分配）</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired class="define-customer-title">添加公海成员:</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <div style="line-height: 32px;">已选择 {{validateForm.highSeasPondDeptCount}}
            个部门 {{validateForm.highSeasPondUserCount}}个成员
          </div>
          <nz-tree-select #seasPondUsers required style="width: 320px;" nzSize="small"
                          [nzDropdownStyle]="{'max-height':'400px'}"
                          [nzNodes]="personList" nzShowSearch
                          nzCheckable
                          [nzDisabled]="!editing"
                          [nzMaxTagCount]="3"
                          [nzMultiple]="true"
                          [nzMaxTagPlaceholder]="omittedPlaceHolder1"
                          nzShowLine
                          [nzExpandedIcon]="multiExpandedIconTpl1"
                          [nzAllowClear]="editing" nzHideUnMatched
                          name="highSeasPondUsers"
                          [nzPlaceHolder]="'Please select' | translate"
                          [(ngModel)]="validateForm.highSeasPondUsers">
            <ng-template #multiExpandedIconTpl1 let-node let-origin="origin">
              <i nz-icon [nzType]="origin?.dataType==3 ? 'user' : 'plus-square'"
                 class="ant-tree-switcher-line-icon"></i>
            </ng-template>
          </nz-tree-select>
          <ng-template #omittedPlaceHolder1 let-omittedValues> + {{ omittedValues.length }}...</ng-template>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <h5><i nz-icon nzType="down-square" nzTheme="fill" style="color:#1890FF;font-size: 16px;margin-right: 4px; "
           [style.transform]="!showRecycle?'rotate(180deg)':'unset'"
           (click)="showRecycle = !showRecycle"></i>公海池智能回收规则</h5>
    <ng-container *ngIf="showRecycle">
      <nz-form-item>
        <nz-form-label class="define-customer-title">客资领取上限</nz-form-label>
        <nz-form-control>
          <label>
            <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px" name="customerCapitalNum"
                             [(ngModel)]="validateForm.customerCapitalNum"></nz-input-number>
            个客户/人/
            <nz-select [nzDisabled]="!editing" nzSize="small" style="width: 80px;" name="customerCapitalUnit"
                       [(ngModel)]="validateForm.customerCapitalUnit">
              <nz-option nzValue="天" nzLabel="天"></nz-option>
              <nz-option nzValue="周" nzLabel="周"></nz-option>
              <nz-option nzValue="月" nzLabel="月"></nz-option>
            </nz-select>
            <span class="explanation">（客资包含：成交客户、潜在客户）</span>
            <nz-divider nzType="vertical"></nz-divider>
            累计总数不超过：
            <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px" name="customerCapitalTotal"
                             [(ngModel)]="validateForm.customerCapitalTotal"></nz-input-number>
            个客户/人
          </label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">连续领取规则</nz-form-label>
        <nz-form-control>
          <label>
            <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px" name="dayLimit"
                             [(ngModel)]="validateForm.dayLimit"></nz-input-number>
            天内，不能领取同一个客户
            <span class="explanation">（客户被主动退回或被动回收后一定时间内不能再领取该客户）</span>
          </label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">自动回收规则</nz-form-label>
        <nz-form-control>
          <div style="display: flex;align-items: stretch;">
            <div>
              <article>潜在客户:</article>
              <div style="line-height: 32px;">1.获取之后
                <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                 name="recovery_Potential_NotFollowedDays"
                                 [(ngModel)]="validateForm.recovery_Potential_NotFollowedDays"></nz-input-number>
                天没有持续跟进的客户
                <span class="explanation">（跟进行为包含：新建跟进记录、再系统内发送邮件、线上报价）</span>
              </div>
              <div style="line-height: 32px;">或
                <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                 name="recovery_Potential_NotDealDays"
                                 [nzMin]="validateForm.recovery_Potential_NotFollowedDays"
                                 [(ngModel)]="validateForm.recovery_Potential_NotDealDays"></nz-input-number>
                天没有成交的客户<span
                  class="explanation">（设置天数必须大于上一项）</span>
              </div>
            </div>
            <nz-divider style="height: unset;" nzType="vertical"></nz-divider>
            <div>
              <article>成交客户:</article>
              <div>
                <div style="line-height: 32px;">1.获取之后
                  <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                   name="recovery_Obtain_NotFollowedDays"
                                   [(ngModel)]="validateForm.recovery_Obtain_NotFollowedDays"></nz-input-number>
                  天没有持续跟进的客户<span
                    class="explanation">（跟进行为包含：新建跟进记录、再系统内发送邮件、线上报价）</span>
                </div>
                <div style="line-height: 32px;">或
                  <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                   name="recovery_Obtain_NotDealDays"
                                   [nzMin]="validateForm.recovery_Obtain_NotFollowedDays"
                                   [(ngModel)]="validateForm.recovery_Obtain_NotDealDays"></nz-input-number>
                  天没有成交的客户<span class="explanation">（设置天数必须大于上一项）</span>
                </div>
              </div>
              <div>
                <div style="line-height: 32px;">2.成交之后
                  <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                   name="recovery_Deal_NotFollowedDays"
                                   [(ngModel)]="validateForm.recovery_Deal_NotFollowedDays"></nz-input-number>
                  天没有持续跟进的客户
                </div>
                <div style="line-height: 32px;">或
                  <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px"
                                   name="recovery_Deal_NotDealDays"
                                   [nzMin]="validateForm.recovery_Deal_NotFollowedDays"
                                   [(ngModel)]="validateForm.recovery_Deal_NotDealDays"></nz-input-number>
                  天没有成交的客户<span class="explanation">（设置天数必须大于上一项）</span>
                </div>
              </div>
            </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">设置认领规则</nz-form-label>
        <nz-form-control>
          <label nz-checkbox [disabled]="!editing" (ngModelChange)="chang($event,0)" name="potential"
                 [(ngModel)]="claimRules.potential">潜在客户认领后，潜在客户状态重置；</label>
          <label nz-checkbox [disabled]="!editing" (ngModelChange)="chang($event,1)" name="obtain"
                 [(ngModel)]="claimRules.obtain">已成交客户认领后，保留历史成员的成交记录；</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">设置成交定义</nz-form-label>
        <nz-form-control>
          <nz-radio-group [disabled]="!editing" name="setingDealDefinition"
                          [(ngModel)]="validateForm.setingDealDefinition">
            <label nz-radio [nzValue]="0">生成运单</label>
            <label nz-radio [nzValue]="1">创建订单</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">即将回收提醒</nz-form-label>
        <nz-form-control>
          <label>提前
            <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px" name="recallReminderDays"
                             [(ngModel)]="validateForm.recallReminderDays"></nz-input-number>
            天系统通知客户所有人即将回收客户
          </label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="define-customer-title">客户冻结规则</nz-form-label>
        <nz-form-control>
          <label>连续退回
            <nz-input-number [nzDisabled]="!editing" nzSize="small" style="width: 60px" name="returnTimesFreeze"
                             [(ngModel)]="validateForm.returnTimesFreeze"></nz-input-number>
            次的客户将被冻结<span
              class="explanation">（被冻结客户，解冻前客户不能分配给用户跟进）</span>
          </label>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </form>
</nz-spin>
