<div class="crm-body" id="body-list">
  <div class="search">
    <div>
      <div class="search-header">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="{{ 'Please enter key words' | translate }}"
            [(ngModel)]="searchData"
            (keyup)="onSearch($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" (click)="nowSearch()"></i>
        </ng-template>
      </div>
    </div>

    <div class="button-head">
      <button class="button" nz-button [disabled]="choosedData.length === 0" (click)="transModal()">
        {{ 'Transfer' | translate }}
      </button>

      <button class="button" nz-button [nzType]="'primary'" (click)="showModal()">
        {{ 'New' | translate }}
      </button>
      <button class="button" nz-button [nzType]="'primary'" (click)="showMerge()">
        {{ 'customer merge' | translate }}
      </button>
    </div>
  </div>

  <div class="body-list">
    <co-st
      style="height: 100%;"
      #st
      [data]="listOfData?.items"
      [columns]="columns"
      [showFilters]="false"
      [total]="listOfData?.totalCount"
      [loading]="loading"
      (change)="checkChange($event)"
      [page]="{ front: false }"
      [(ps)]="maxResultCount"
      calcScroll
      disableCalcX
    >
      <ng-template st-row="CustomerTableName" let-data>
        <a (click)="showDetial(data)">
          {{ data.name || '--' }}

          <span *ngIf="data.isMerged">({{ 'merged customers' | translate }})</span></a
        >
      </ng-template>
    </co-st>
  </div>
</div>

<div
  class="review-shipment-dialog"
  nz-resizable
  (nzResize)="onResize($event)"
  [style.width.px]="width"
  [ngStyle]="{ display: isVisibleCreate == true ? 'flex' : 'none' }"
>
  <header class="drawer_head">
    <div>
      <span style="font-weight: 600;">{{ 'New customer' | translate }}</span>
    </div>
    <span (click)="createCancel()" class="txt-close"><i nz-icon nzType="close" nzTheme="outline"></i></span>
  </header>
  <footer class="drawer_footer">
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      (click)="create()"
      [disabled]="applicationLoading || !createCustomer.validateForm.valid"
      [nzLoading]="cusLoading"
    >
      {{ 'Save' | translate }}
    </button>

    <button
      nz-button
      nzSize="small"
      (click)="create(true)"
      [nzLoading]="applicationLoading"
      [disabled]="cusLoading || !createCustomer.validateForm.valid || !createCustomer.requiredCustomerTaxes()"
      [nzType]="'primary'"
    >
      {{ 'Application' | translate }}
    </button>
  </footer>
  <create-customer style="display: flex; flex: 1; overflow: hidden;"></create-customer>

  <nz-resize-handle nzDirection="left">
    <div class="right-wrap">
      <div class="triangle"></div>
    </div>
  </nz-resize-handle>
</div>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isVisibleTrans"
  nzTitle="{{ 'Transfer customer' | translate }}"
  [nzFooter]="tranFooter"
  (nzOnCancel)="cancelTrans()"
  nzOkText="{{ 'Transfer' | translate }}"
  nzCancelText="{{ 'Cancel' | translate }}"
  nzWidth="50%"
>
  <transfer-tocustomer></transfer-tocustomer>
  <ng-template #tranFooter>
    <button nz-button nzSize="small" nzType="primary" (click)="createTrans()" [nzLoading]="tranLoading">
      {{ 'Transfer' | translate }}
    </button>
  </ng-template>
</nz-modal>

<!-- 删除 -->
<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isDelete"
  [nzTitle]="modalOneText"
  (nzOnCancel)="cancelDelete()"
  (nzOnOk)="customerDelete()"
  nzOkText="{{ 'OK' | translate }}"
  [nzOkLoading]="errLoading"
  nzCancelText="{{ 'Cancel' | translate }}"
>
  {{ modalOneContent }}
</nz-modal>

<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="unDelete"
  [nzTitle]="modalTwoText"
  (nzOnCancel)="cancelDeleteCustomer()"
  (nzOnOk)="cancelDeleteCustomer()"
  nzOkText="{{ 'OK' | translate }}"
  [nzFooter]="modalFooter"
  [nzContent]="modalTwoContent"
>
</nz-modal>

<ng-template #modalContent>
  {{ modalTwoContent }}
</ng-template>

<ng-template #modalFooter>
  <button nz-button nzSize="small" nzType="primary" (click)="cancelDeleteCustomer()">{{ 'OK' | translate }}</button>
</ng-template>
<app-customer-merge (getCustomerByPageList)="getCustomerByPageList()"></app-customer-merge>
