:host ::ng-deep {
  .custom-table {
    line-height: 24px;

    .ant-form-item {
      margin-bottom: 0 !important;

      .ant-form-item-control {
        height: 26px;
        line-height: 26px;

        .ant-form-item-control-input {
          min-height: 28px;
        }
      }
    }

    .ant-table table {
      width: 100% !important;
    }

    .ant-table-fixed {
      table-layout: fixed;
      border: 0 !important;
    }

    .ant-table-thead > tr > th {
      padding: 0 8px 0 0 !important;
      line-height: 24px;
      background: #f6fbff !important;
      border: 0 !important;
    }

    .ant-table-tbody > tr > td {
      padding: 2px;
      line-height: 24px;
      border: 0 !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06) !important;
    }

    //鼠标移上去小手样式
    .ant-table-tbody > tr > td:hover {
      cursor: pointer;
    }

    .ant-input {
      width: 96% !important;
      padding: 0 4px;
    }

    .ant-select {
      width: 96% !important;
    }

    .ant-input-number-input {
      width: 96% !important;
      padding: 0 4px;
    }
  }

  button {
    height: 24px;
    padding: 0;
  }
}

.table-error {
  border: 1px solid #ff4d4f;
}
