<nz-spin [nzSpinning]="isSpinning">
  <form nzLayout="horizontal" nz-form [formGroup]="validateForm"
        style="height: 100%; display: flex; flex-direction: column;">
    <div style="margin-bottom: 12px;">
      <button nz-button nzSize="small" nzType="primary" [nzLoading]="loading"
              (click)="submit()">{{ 'Submit' | translate }}</button>
      <button nz-button nzSize="small" nzType="default" (click)="cancel()">{{ 'Cancel' | translate }}</button>
    </div>
    <div formArrayName="customerTaxes">
      <div [formGroupName]="inx"
           *ngFor="let detail of $any(validateForm.get('customerTaxes'))?.controls; let inx = index">
        <div nz-row [nzGutter]="16">
          <!--            税务登记类型-->
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{ 'Tax register type' | translate }}</nz-form-label>
              <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
                <nz-select
                  nzShowSearch
                  formControlName="taxType"
                  nzPlaceHolder="{{ 'Please select' | translate }}"
                  (ngModelChange)="onChangeRegistrationType($event)"
                >
                  <nz-option
                    *ngFor="let item of registrationTypes"
                    [nzLabel]="item.name"
                    [nzValue]="item.value"
                    [nzDisabled]="item.checked"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!--            税务登记号-->
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzRequired>{{ 'Tax register Number' | translate }}</nz-form-label>
              <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
                <div class="flex_between">
                  <input   coLimitInput replace="notChinese"  [id]="'customerTaxes' + inx" nz-input formControlName="taxNo"
                         placeholder="{{ 'Please enter' | translate }}"
                         style="flex: 1;"/>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div nz-row [nzGutter]="16" formArrayName="phone">
      <div nz-col [nzSpan]="12" [formGroupName]="inx"
           *ngFor="let detail of $any(validateForm.get('phone'))?.controls; let inx = index">
        <!--            号码-->
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Phone' | translate }}
            <a *ngIf="validateForm.controls['phone'].controls.length === 1" (click)="addPhone()">
              <i style="margin-left: 6px; font-size: 20px;" nz-icon nzType="plus" nzTheme="outline"></i>
            </a>
            <a>
              <i
                *ngIf="inx !== 0"
                style="margin-left: 6px; font-size: 20px;"
                nz-icon
                nzType="delete"
                nzTheme="outline"
                (click)="delete('phone', inx)"
              ></i>
            </a></nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please enter the correct phone number!' | translate }}">
            <div class="flex_between">
              <input  coLimitInput replace="notChinese" [id]="'tel' + inx" nz-input formControlName="tel"
                     placeholder="{{ 'Please enter' | translate }}"
                     style="flex: 1;"/>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-spin>
