<div class="drawer-dialog" nz-resizable (nzResize)="onResize($event)" [style.width.px]="width">
  <header class="drawer_head">
    <div>
      <span style="font-weight: 600;">{{ 'Inquiry' | translate }}</span>
    </div>
    <span (click)="closeView()" class="txt-close">X</span>
    <!-- <i class="iconfont icon-guanbi icon-close" ></i> -->
  </header>

  <section class="drawer_content">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical" style="margin: 0 0 0 24px;">
      <strong>{{ 'Route information' | translate }}</strong>
      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'POL' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}!">
            <nz-select formControlName="originPortId" nzPlaceHolder="{{ 'Please select' | translate }}"
                       [nzShowSearch]="true" nzAllowClear nzServerSearch (nzOnSearch)="getBasicPortList($event)">
              <nz-option *ngFor="let option of basicPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{ 'POD' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}!">
            <nz-select formControlName="destinationPortId" nzPlaceHolder="{{ 'Please select' | translate }}"
                       nzShowSearch nzAllowClear nzServerSearch (nzOnSearch)="getBasicPortList($event)">
              <nz-option *ngFor="let option of basicPortList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label>{{ 'Delivery' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-select formControlName="deliveryAddressId" nzPlaceHolder="{{ 'Please select' | translate }}"
                       nzShowSearch nzServerSearch nzAllowClear (nzOnSearch)="getBasicPortList($event)">
              <nz-option *ngFor="let option of deliveryList" [nzLabel]="option.nameLocalization" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Shipping terms' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-select formControlName="transportClauseId" nzPlaceHolder="{{ 'Please select' | translate }}"
                       nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of transportList" [nzLabel]="option.description" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <strong>{{ 'Inquiry cabinet type, product' | translate }}</strong>
      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Container Type' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-select nzMode="multiple" nzPlaceHolder="{{ 'Please select' | translate }}" [nzMaxTagCount]="4"
                       style="width: 100%;" nzShowSearch nzAllowClear formControlName="containerType">
              <nz-option *ngFor="let option of ratesList" [nzLabel]="option.code" [nzValue]="option.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Commodity' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please enter' | translate }}">
            <input type="text" nz-input formControlName="commodity" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Choose a bidder' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-select nzPlaceHolder="{{ 'Please select' | translate }}" style="width: 100%;" nzShowSearch nzAllowClear
                       formControlName="replyUserId">
              <nz-option *ngFor="let option of unitUsers" [nzLabel]="option.name" [nzValue]="option.userId"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <strong>{{ 'Business information (optional)' | translate }}</strong>
      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label>{{ 'Inquiry customer' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="{{ 'Please select' | translate }}" style="width: 100%;"
                       formControlName="ownerCustomerId" nzShowSearch nzAllowClear
                       (ngModelChange)="onCustomerListChange($event)">
              <nz-option *ngFor="let option of customerList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'Inquirer' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select nzPlaceHolder="{{ 'Please select' | translate }}" style="width: 100%;"
                       formControlName="ownerContactId" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of customerUserList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label>{{ 'cargo ready date' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-date-picker (ngModelChange)="onStartChange()" [nzDisabledDate]="disabledStartDate"
                            formControlName="cargoReadyDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'Expected delivery date' | translate }}</nz-form-label>
          <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
            <nz-date-picker [nzDisabledDate]="disabledEndDate" formControlName="deliveryDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="flex-form-four">
        <nz-form-item style="width: 33.33%;">
          <nz-form-label>{{ 'Pieces' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="quantityErrorTpl">
            <nz-input-group [nzAddOnAfter]="za">
              <nz-input-number style="width: 100%; border-radius: 4px 0 0 4px;" formControlName="quantity" [nzMin]="1"
                               [nzStep]="1"></nz-input-number>
              <ng-template #quantityErrorTpl>
                <ng-container *ngIf="validateForm.get('volume').hasError('existSameCode')">
                  {{ 'Data must be greater than 0' | translate }}
                </ng-container>
              </ng-template>
            </nz-input-group>
            <ng-template #za>
              <nz-select formControlName="quantityUnitCode" style="width: 100px;" nzShowSearch nzAllowClear>
                <nz-option nzLabel="{{ 'bale' | translate }}" nzValue="bale"> </nz-option>
                <nz-option nzLabel="{{ 'barrel' | translate }}" nzValue="barrel"> </nz-option>
                <nz-option nzLabel="{{ 'bundle' | translate }}" nzValue="bundle"> </nz-option>
                <nz-option nzLabel="{{ 'crate' | translate }}" nzValue="crate"> </nz-option>
                <nz-option nzLabel="{{ 'drum' | translate }}" nzValue="drum"> </nz-option>
                <nz-option nzLabel="{{ 'package' | translate }}" nzValue="package"> </nz-option>
                <nz-option nzLabel="{{ 'pallet' | translate }}" nzValue="pallet"> </nz-option>
                <nz-option nzLabel="{{ 'roll' | translate }}" nzValue="roll"> </nz-option>
                <nz-option nzLabel="{{ 'ctn' | translate }}" nzValue="ctn"> </nz-option>
                <nz-option nzLabel="{{ 'box' | translate }}" nzValue="box"> </nz-option>
                <nz-option nzLabel="{{ 'bag' | translate }}" nzValue="bag"> </nz-option>
              </nz-select>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item style="width: 33.33%;">
          <nz-form-label>{{ 'Gross weight' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="weightErrorTpl">
            <nz-input-group [nzAddOnAfter]="zb" class="group-addon-nopadding">
              <nz-input-number style="width: 100%; border-radius: 4px 0 0 4px;" formControlName="weight" [nzMin]="1"
                               [nzStep]="1"></nz-input-number>
              <ng-template #weightErrorTpl>
                <ng-container *ngIf="validateForm.get('weight').hasError('existSameCode')">
                  {{ 'Data must be greater than 0' | translate }}
                </ng-container>
              </ng-template>
            </nz-input-group>
            <ng-template #zb>
              <nz-radio-group class="nz-radio-group-normal" style="padding: 0;" formControlName="weightUnitCode">
                <span nz-radio-button [nzValue]="WeightUnitCode.KGS">{{ 'kg' | translate }}</span>
                <span nz-radio-button [nzValue]="WeightUnitCode.LBS">{{ 'lb' | translate }}</span>
              </nz-radio-group>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item style="width: 33.33%;">
          <nz-form-label>{{ 'Volume' | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="volumeErrorTpl">
            <nz-input-group [nzAddOnAfter]="zc" class="group-addon-nopadding">
              <nz-input-number style="width: 100%; border-radius: 4px 0 0 4px;" formControlName="volume" [nzMin]="1"
                               [nzStep]="1"></nz-input-number>
              <ng-template #volumeErrorTpl>
                <ng-container *ngIf="validateForm.get('weight').hasError('existSameCode')">
                  {{ 'Data must be greater than 0' | translate }}
                </ng-container>
              </ng-template>
            </nz-input-group>
            <ng-template #zc>
              <nz-radio-group style="padding: 0;" class="nz-radio-group-normal" formControlName="volumeUnitCode">
                <span nz-radio-button [nzValue]="VolumeUnitCode.CBM">{{ 'cbm' | translate }}</span>
                <span nz-radio-button [nzValue]="VolumeUnitCode.CFT">{{ 'cft' | translate }}</span>
              </nz-radio-group>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="flex-form-four">
        <nz-form-item>
          <nz-form-label>{{ 'Remark' | translate }}</nz-form-label>
          <nz-form-control>
            <input type="text" nz-input formControlName="description" placeholder="{{ 'Please enter' | translate }}" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>{{ 'Expected shipowner' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="carrierCustomerId" style="width: 100%;"
                       nzPlaceHolder="{{ 'Please select' | translate }}" nzAllowClear nzShowSearch>
              <nz-option *ngFor="let option of carrierCustomerList" [nzLabel]="option.name" [nzValue]="option.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </section>
  <footer class="drawer_footer">
    <div class="line"></div>
    <div class="drawer_footer_btn">
        <button nz-button nzType="default" (click)="closeView()" >{{ 'Reset' | translate }}</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="okLoading">{{ 'Submit' | translate }}</button>
    </div>
  </footer>

  <nz-resize-handle nzDirection="left">
    <div class="right-wrap">
      <div class="triangle">
      </div>
    </div>
  </nz-resize-handle>
</div>
