<div class="main-container">
  <div class="booking-outer-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../../']">{{ 'Quote listing' | translate }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ 'Create Quote' | translate }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <form nz-form class="booking" [formGroup]="validateForm" style="overflow: auto;">
    <!-- 采购订单 和 模板按钮 -->
    <div class="form-box d-flex align-items-center" style="padding-top: 12px; position: sticky; top: 0; background: #fff; z-index: 99;">
      <div class="d-flex align-items-center">
        <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()" *ngIf="!isTemplate">
          {{ 'Create Quote' | translate }}
        </button>
      </div>
    </div>

    <!-- 基本信息 -->
    <div class="form-box" [class.hide-not-title]="!showBasic">
      <div class="title">
        <i nz-icon nzType="up-square" nzTheme="fill" style="color: #178ffe;" *ngIf="showBasic" (click)="showBasic = !showBasic"></i>
        <i nz-icon nzType="down-square" nzTheme="fill" style="color: #178ffe;" *ngIf="!showBasic" (click)="showBasic = !showBasic"></i>
        {{ 'BASIC' | translate }}
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <!-- 询价客户 -->
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Inquiry customer' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                style="width: 100%;"
                nzShowSearch
                required
                formControlName="ownerCustomerId"
                nzAllowClear
                nzPlaceHolder="{{ 'Choose' | translate }}"
                [nzDropdownClassName]="historylist === customerlist ? 'empty-class' : 'hide-nz-group'"
                (ngModelChange)="selCustomer($event); handlequotesComponent.init()"
                nzOptionHeightPx="120"
              >
                <nz-option-group nzLabel="Recently used">
                  <nz-option nzCustomContent [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of customerlist; let i = index">
                    <div>
                      <!-- <div class="company-name" *ngIf="i == 0 && historylist.length > 0">最近使用过的公司</div> -->
                      <div class="company-name">{{ item.name }}</div>
                      <div style="display: flex;">
                        <div style="width: 50%;">{{ item.contacts.length }} {{ 'Contact person' | translate }}</div>
                        <div style="width: 50%;">
                          <span class="iconfont icon-dingwei" nz-icon nzIconfont="icon-location"></span>{{ item.locations.length }}
                          {{ 'Position' | translate }}
                        </div>
                      </div>
                    </div>
                  </nz-option>
                </nz-option-group>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <!-- 询价人 -->
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Inquirer' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                style="width: 100%;"
                nzShowSearch
                required
                formControlName="ownerUserId"
                nzAllowClear
                nzPlaceHolder="{{ 'Choose' | translate }}"
                nzOptionHeightPx="120"
              >
                <nz-option [nzValue]="item.userId" [nzLabel]="item.name" *ngFor="let item of contacts"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <!-- 贸易类型 -->
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Trade type' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-radio-group
                [nzButtonStyle]="'solid'"
                class="nz-radio-group-button"
                formControlName="tradeType"
                (ngModelChange)="onTradeTypeChange($event)"
                style=""
              >
                <label nz-radio-button [nzValue]="TradeType.Normal">{{ 'booking.Normal' | translate }}</label>
                <label nz-radio-button [nzValue]="TradeType.EC">{{ 'booking.EC' | translate }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- 运输方式 -->
        <div *ngIf="validateForm.value.tradeType === TradeType.Normal" nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Freight Method' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-radio-group [nzButtonStyle]="'solid'" class="nz-radio-group-button" formControlName="freightMethodType">
                <label nz-radio-button [nzValue]="TransportationMode.Ocean">{{ 'Ocean' | translate }}</label>
                <label nz-radio-button [nzValue]="TransportationMode.Air">{{ 'Air' | translate }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- 渠道 -->
        <div *ngIf="validateForm.value.tradeType === TradeType.EC" nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Channel' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select nzAllowClear formControlName="channelId" nzShowSearch [nzPlaceHolder]="'Please enter' | translate">
                <nz-option [nzValue]="i.id" [nzLabel]="i.name" *ngFor="let i of channelList"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- 装运类型 -->
        <div
          *ngIf="!(validateForm.value.tradeType === TradeType.Normal && validateForm.value.freightMethodType === TransportationMode.Air)"
          nz-col
          [nzSpan]="8"
        >
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Shipment Type' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-radio-group [nzButtonStyle]="'solid'" class="nz-radio-group-button" formControlName="containerLoadingType">
                <label nz-radio-button [nzValue]="ContainerLoadingType.FCL">{{ 'FCL' | translate }}</label>
                <label nz-radio-button [nzValue]="ContainerLoadingType.LCL">{{ 'LCL' | translate }}</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <!-- 品名 -->
          <nz-form-item>
            <nz-form-label nzRequired> {{ 'Commodity' | translate }} </nz-form-label>
            <nz-form-control>
              <co-commodity-picker
                [coValueMember]="'name'"
                coMaxMultipleCount="10"
                coMode="tags"
                style="width: 100%;"
                formControlName="commodity"
                [coPlaceHolder]="'Please enter' | translate"
              >
              </co-commodity-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <!-- HS CODE -->
          <nz-form-item>
            <nz-form-label> {{ 'HS CODE' | translate }} </nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="hsCodes" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-label nzRequired>{{ 'Special goods' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-radio-group
              [nzButtonStyle]="'solid'"
              class="nz-radio-group-button"
              nzSize="small"
              formControlName="hasSpecialGoods"
              style="width: 110px;"
            >
              <label nz-radio-button [nzValue]="false">{{ '无' | translate }}</label>
              <label nz-radio-button [nzValue]="true">{{ '有' | translate }}</label>
            </nz-radio-group>
            <nz-checkbox-group
              [(ngModel)]="checkOptionsTwo"
              name="spcCheck"
              [nzDisabled]="validateForm.value.hasSpecialGoods === false"
              (ngModelChange)="optionChangeTwo()"
              [ngModelOptions]="{ standalone: true }"
              style="margin-left: 24px;"
            >
            </nz-checkbox-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="form-box" [class.hide-not-title]="!showSR">
      <div class="title">
        <i nz-icon nzType="up-square" nzTheme="fill" style="color: #178ffe;" *ngIf="showSR" (click)="showSR = !showSR"></i>
        <i nz-icon nzType="down-square" nzTheme="fill" style="color: #178ffe;" *ngIf="!showSR" (click)="showSR = !showSR"></i>
        {{ '发货 收货' | translate }}
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="9">
          <nz-form-item [hidden]="validateForm.value.tradeType === TradeType.EC">
            <nz-form-control>
              <nz-radio-group
                [nzButtonStyle]="'solid'"
                class="nz-radio-group-button"
                nzSize="small"
                formControlName="_ori"
                style="width: 110px;"
              >
                <label nz-radio-button [nzValue]="'CY'">CY</label>
                <label nz-radio-button [nzValue]="'DOOR'">Door</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <!-- 提货方式 -->
          <nz-form-item *ngIf="validateForm.value._ori === 'DOOR'">
            <nz-form-label nzRequired> {{ 'Pick up method' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="fbaPickUpMethodType" [nzPlaceHolder]="'Choose' | translate">
                <nz-option [nzValue]="FbaPickUpMethodType.Self" [nzLabel]="'Delivery Goods By Myself' | translate"></nz-option>
                <nz-option [nzValue]="FbaPickUpMethodType.Cityocean" [nzLabel]="'Pick Up By Cityocean' | translate"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 提货地址 -->
          <nz-form-item
            *ngIf="validateForm.value._ori === 'DOOR' && validateForm?.value?.fbaPickUpMethodType === FbaPickUpMethodType.Cityocean"
          >
            <nz-form-label nzRequired> {{ 'Pick up address' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="originAddressId" [nzPlaceHolder]="'Choose' | translate">
                <nz-option *ngFor="let o of sendLocationList" [nzLabel]="o.streetAddress" [nzValue]="o.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 交货日期 -->
          <nz-form-item *ngIf="validateForm.value._ori === 'DOOR'">
            <nz-form-label nzRequired> {{ 'booking.Delivery date' | translate }} </nz-form-label>
            <nz-form-control>
              <co-datetime-range-picker formControlName="pickUpTimeRange"> </co-datetime-range-picker>
            </nz-form-control>
          </nz-form-item>
          <!-- 交货仓库 -->
          <nz-form-item *ngIf="validateForm.value._ori === 'DOOR'">
            <nz-form-label [nzRequired]="validateForm?.value?.fbaPickUpMethodType === FbaPickUpMethodType.Self">
              {{ 'Delivery warehouse' | translate }}
            </nz-form-label>
            <nz-form-control>
              <nz-select nzAllowClear nzShowSearch formControlName="originWarehouseId" [nzPlaceHolder]="'Choose' | translate">
                <nz-option *ngFor="let item of originWarehouseList" [nzValue]="item.id" [nzLabel]="item.name"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 起运港 -->
          <nz-form-item>
            <nz-form-label [nzRequired]="validateForm.value._ori === 'CY'"> {{ 'Port of departure' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                class="main-interactive-element-width"
                nzShowSearch
                nzServerSearch
                (nzOnSearch)="portOriginsearch($event)"
                (ngModelChange)="portChange()"
                formControlName="originPortId"
                [nzPlaceHolder]="'Choose' | translate"
                [nzDropdownClassName]="recentlyUsed?.originPorts === OriginPortList ? 'empty-class' : 'hide-nz-group'"
                nzOptionHeightPx="86"
                style="width: 100%;"
              >
                <nz-option-group [nzLabel]="'Recently used'">
                  <nz-option
                    nzCustomContent
                    [nzValue]="item.id"
                    [nzLabel]="item.name + ',' + item.regionName"
                    *ngFor="let item of OriginPortList"
                  >
                    <div class="port-info" (click)="comparePort($event, item.id, 'origin')">
                      <div class="port-name">
                        <span>{{ item.name }}</span>
                        <i nz-icon [nzIconfont]="'icon-vessel'" *ngIf="item.isOcean == true"></i>
                        <i nz-icon [nzIconfont]="'icon-airplane'" *ngIf="item.isAir == true"></i>
                      </div>
                      <div class="port-code"><span class="port-code-UN">UN:</span> {{ item.code }}</div>
                      <div class="port-region">{{ item.regionName }}</div>
                    </div>
                  </nz-option>
                </nz-option-group>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 货好日期 -->
          <nz-form-item *ngIf="validateForm.value._ori === 'CY'">
            <nz-form-label nzRequired> {{ 'Cargo ready date' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-date-picker formControlName="cargoReadyDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <!-- 报关服务 -->
          <nz-form-item *ngIf="validateForm.value._ori === 'CY'">
            <nz-form-control>
              <label nz-checkbox formControlName="wantsExportCustomsService">{{ 'Custom declaration' | translate }}</label>
              <label nz-checkbox formControlName="wantsInsuranceService">{{ 'Insurance' | translate }}</label>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="4"></div>

        <div nz-col [nzSpan]="9">
          <nz-form-item [hidden]="validateForm.value.tradeType === TradeType.EC">
            <nz-form-control>
              <nz-radio-group
                [nzButtonStyle]="'solid'"
                class="nz-radio-group-button"
                nzSize="small"
                formControlName="_dest"
                style="width: 110px;"
              >
                <label nz-radio-button [nzValue]="'CY'">CY</label>
                <label nz-radio-button [nzValue]="'DOOR'">Door</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <!-- 目的国 -->
          <nz-form-item *ngIf="validateForm.value._dest === 'DOOR'">
            <nz-form-label nzRequired> {{ 'Destination country' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                nzAllowClear
                nzShowSearch
                (nzOnSearch)="getCountry($event)"
                (ngModelChange)="clearAddress($event)"
                formControlName="countryId"
              >
                <nz-option *ngFor="let item of countryList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 目的港 -->
          <nz-form-item>
            <nz-form-label [nzRequired]="validateForm.value._dest === 'CY'"> {{ 'Destination port' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                class="main-interactive-element-width"
                nzShowSearch
                nzServerSearch
                (ngModelChange)="portChange()"
                formControlName="destinationPortId"
                (nzOnSearch)="portDesinationsearch($event)"
                [nzPlaceHolder]="'Choose' | translate"
                nzOptionHeightPx="86"
                style="width: 100%;"
                [nzDropdownClassName]="recentlyUsed?.destinationPorts === DesinationPortList ? 'empty-class' : 'hide-nz-group'"
              >
                <nz-option-group [nzLabel]="">
                  <nz-option
                    nzCustomContent
                    [nzValue]="item.id"
                    [nzLabel]="item.name + ',' + item.regionName"
                    *ngFor="let item of DesinationPortList"
                  >
                    <div class="port-info" (click)="comparePort($event, item.id, 'destination')">
                      <div class="port-name">
                        <span>{{ item.name }}</span>
                        <i nz-icon [nzIconfont]="'icon-vessel'" *ngIf="item.isOcean == true"></i>
                        <i nz-icon [nzIconfont]="'icon-airplane'" *ngIf="item.isAir == true"></i>
                      </div>
                      <div class="port-code">
                        <span>{{ 'customs' | translate }} :</span>
                        {{ item.code }}
                      </div>
                      <div class="port-region">{{ item.regionName }}</div>
                    </div>
                  </nz-option>
                </nz-option-group>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 交货方式 -->
          <nz-form-item *ngIf="validateForm.value.tradeType === TradeType.EC">
            <nz-form-label nzRequired> {{ 'Delivery method' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select formControlName="fbaDeliveryMethodType" (ngModelChange)="methodTypeChange($event)">
                <nz-option [nzLabel]="'FBA warehouse' | translate" [nzValue]="FbaDeliveryMethodType.FBA"></nz-option>
                <nz-option [nzLabel]="'Cityocean overseas' | translate" [nzValue]="FbaDeliveryMethodType.Overseas"></nz-option>
                <nz-option [nzLabel]="'Specified address' | translate" [nzValue]="FbaDeliveryMethodType.Customer"></nz-option>
                <!--                <nz-option nzLabel="LAZADA" [nzValue]="3"></nz-option>-->
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 交货地址 -->
          <nz-form-item *ngIf="validateForm.value._dest === 'DOOR'">
            <nz-form-label> {{ 'Delivery address' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-select
                *ngIf="validateForm.value.tradeType === TradeType.Normal"
                [nzShowSearch]="true"
                formControlName="destinationAddressId"
              >
                <nz-option *ngFor="let o of getLocationList" [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
              </nz-select>
              <nz-select
                *ngIf="validateForm.value.tradeType === TradeType.EC"
                (nzOnSearch)="getCustomerLocationAndFBALocations($event)"
                [nzShowSearch]="true"
                formControlName="destinationAddressId"
              >
                <nz-option *ngFor="let o of addressList" [nzLabel]="o.name" [nzValue]="o.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <!-- 交付日期 -->
          <nz-form-item>
            <nz-form-label> {{ 'Delivery date' | translate }} </nz-form-label>
            <nz-form-control>
              <nz-date-picker formControlName="deliveryDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
          <!-- 清关服务 -->
          <nz-form-item *ngIf="validateForm.value._dest === 'CY'">
            <nz-form-control>
              <label nz-checkbox formControlName="wantsCustomsClearanceService">{{ 'Custom clearance' | translate }}</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="quote-fee">
      <crm-handlequotes-of-create
        *ngIf="validateForm"
        [_quoteinfo]="processForm()"
        [basiccost]="basiccost"
        [endplace]="endplace"
        [startingplace]="startingplace"
        (containerHand)="handContainer($event)"
        (endPlaceHand)="endplace = $event"
        (basicdataHand)="basiccost = $event"
        (startPlaceHand)="startingplace = $event"
      ></crm-handlequotes-of-create>
    </div>
  </form>

</div>
