<nz-modal
  nzMaskClosable="false"
  [(nzVisible)]="isVisible"
  nzTitle="{{ 'customer merge' | translate }}"
  (nzOnCancel)="cancelFun()"
  nzOkText="{{ 'merge ' | translate }}"
  nzCancelText="{{ 'Cancel' | translate }}"
  nzWidth="70%"
  (nzOnOk)="mergeCommit()"
>
  <div class="search">
    <span>{{ 'Find customers' | translate }}</span>
    <nz-select
      [nzMaxTagCount]="1"
      nzShowSearch
      nzServerSearch
      nzAllowClear
      nzPlaceHolder="{{ 'Query customer name / code / abbreviation / telephone / fax' | translate }}"
      (nzOnSearch)="onSearch($event)"
      [(ngModel)]="customerId"
      (appNzOptionExtraChange)="addLine($event)"
      (ngModelChange)="clearData()"
    >
      <nz-option [appNzOptionExtra]="o" *ngFor="let o of customerList" [nzLabel]="o?.name" [nzValue]="o.id">
      </nz-option>
    </nz-select>
  </div>
  <nz-table
    #basicTable
    [nzData]="dataSet"
    [nzShowPagination]="false"
    [nzPageSize]="dataSet.length"
    nzTableLayout="fixed"
    [nzScroll]="{ x: '2210px' }"
  >
    <thead>
      <tr>
        <th nzWidth="80px">{{ 'retain' | translate }}</th>
        <th nzWidth="80px">{{ 'Code' | translate }}</th>
        <th nzWidth="150px">{{ 'Created by' | translate }}</th>
        <th nzWidth="150px">{{ 'Types of' | translate }}</th>
        <th nzWidth="150px">{{ 'Chinese name' | translate }}</th>
        <th nzWidth="150px">{{ 'English name' | translate }}</th>
        <th nzWidth="100px">{{ 'Keyword' | translate }}</th>
        <th nzWidth="200px">{{ 'Chinese abbreviation' | translate }}</th>
        <th nzWidth="200px">{{ 'English abbreviation' | translate }}</th>
        <th nzWidth="200px">{{ 'Telephone' | translate }}</th>
        <th nzWidth="250px">{{ 'Country' | translate }}-{{ 'Province' | translate }}-{{ 'City' | translate }}</th>
        <th nzWidth="150px">{{ 'Create time' | translate }}</th>
        <th nzWidth="250px">{{ 'Open CSP account or not' | translate }}</th>

        <th nzRight="0" nzWidth="100px">{{ 'Operating' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>
          <label
            nz-radio
            [(ngModel)]="data.id === KeepCustomerId"
            (click)="choseData(data, i)"
            [nzDisabled]="count === 1"
          ></label>
        </td>
        <td>{{ data.code }}</td>
        <td nzEllipsis>{{ data.creator }}</td>
        <td nzEllipsis>{{ data.customerType }}</td>
        <td nzEllipsis>{{ data.name }}</td>
        <td nzEllipsis>{{ data.localizationName }}</td>
        <td nzEllipsis>{{ data.keyWord }}</td>
        <td nzEllipsis>{{ data.shortName }}</td>
        <td nzEllipsis>{{ data.localizationShortName }}</td>
        <td nzEllipsis>{{ data.tel }}</td>
        <td nzEllipsis>{{ data.country + '-' + data.province + '-' + data.city }}</td>
        <td nzEllipsis>{{ data.creationTime | date: 'yyyy-MM-dd' }}</td>
        <td>
          <span *ngIf="data.isRegistered"> {{ 'YES' | translate }}</span>
          <span *ngIf="!data.isRegistered">{{ 'No opened' | translate }}</span>
        </td>

        <td nzRight>
          <i class="iconfont icon-delete" nz-icon nzIconfont="icon-delete" (click)="deleteLine(i)"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-modal>
