.search_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;

  nz-input-group {
    width: 40%;
  }
}

.event_log {
  &__content {
    border-bottom: 1px solid #E9E9E9;
    padding: 8px 0;
    font-size: 12px;


    p {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h5 {
      margin: 0;
      font-weight: bold;
    }

    &__title {
      color: rgba(0, 0, 0, 0.65);
      display: flex;
      align-items: center;

      i {
        margin-right: 2px;
      }
    }
  }

  &__more {
    border: none;
    width: 98%;
    padding: 0;
    margin: 0;
  }

  .trace_log__content {
    display: flex;
    flex-direction: column;

    i {
      font-size: 20px;
      color: #1890FF60;
    }

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
}
