<nz-divider style="margin: 2px"></nz-divider>
<section style="height: calc(100% - 17px);padding: 16px;background: #fff;">
  <div class="search_area">
    <nz-input-group nzSize="small" [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="param.searchKey" (enterKeydown)="searchLog()" nz-input
             [placeholder]="'Search keyword' | translate"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon (click)="searchLog()" nzType="search"></i>
    </ng-template>
    <div>
      <button
        [nzLoading]="refreshLogLoading"
        (click)="refreshLogLoading = true; param.searchKey = null; searchLog()"
        nz-button
        nzSize="small"
        nzType="default"
      >
        {{ 'Refresh' | translate }}
      </button>
      <button *ngIf="fromDetail!==null" (click)="showAll()" nz-button nzSize="small"
              nzType="default">{{ '查看全部' | translate }}</button>
    </div>
    <div class="search_area__filter">
      <ng-container [ngSwitch]="param.offsetDay">
        <span *ngSwitchCase="0">全部日期</span>
        <span *ngSwitchCase="-7">过去7天</span>
        <span *ngSwitchCase="-30">过去30天</span>
        <span *ngSwitchCase="7">未来7天</span>
      </ng-container>
      <ng-container *ngIf="param.businessTypes[0] == 0">
        <span>全部活动</span>
      </ng-container>
      <ng-container *ngFor="let i of param.businessTypes">
        <ng-container [ngSwitch]="i">
          <span *ngSwitchCase="1">团队成员</span>
          <span *ngSwitchCase="2">事件</span>
          <span *ngSwitchCase="3">跟进记录</span>
          <span *ngSwitchCase="4">日程</span>
          <span *ngSwitchCase="5">电子邮件</span>
        </ng-container>
      </ng-container>
      <i
        nz-popover
        [(nzPopoverVisible)]="visible"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate"
        nz-icon
        class="search_area__filter__icon"
        nzType="filter"
        nzTheme="outline"
      ></i>
      <ng-template #contentTemplate>
        <h5>日期范围</h5>
        <nz-radio-group [(ngModel)]="offsetDay">
          <label nz-radio [nzValue]="0">全部</label>
          <label nz-radio [nzValue]="-7">过去7天</label>
          <label nz-radio [nzValue]="-30">过去30天</label>
          <label nz-radio [nzValue]="7">未来7天</label>
        </nz-radio-group>
        <h5>活动类型</h5>
        <div>
          <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                 [nzIndeterminate]="indeterminate">全部</label>
          <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
        </div>
        <div class="search_area__filter__button">
          <button nz-button (click)="cancel()" nzSize="small" nzType="default">{{ '取消' | translate }}</button>
          <button (click)="apply()" nz-button nzSize="small" nzType="primary">{{ '应用' | translate }}</button>
        </div>
      </ng-template>
    </div>
  </div>
  <nz-spin [nzSpinning]="refreshLogLoading" class="event_log"
           style="height: calc(100% - 62px) !important;overflow: auto;">
    <div class="event_log" style=" height: calc(100% - 62px);overflow: auto;">
      <h2>
        <span (click)="isShow=!isShow;" class="month__title">
          <i
          tyle="    font-size: 14px;
          font-weight: 400;"
            [style.transform]="!isShow ? 'rotate(90deg)' : 'unset'" nz-icon
            nzType="right"
            nzTheme="outline"></i>{{'日程*即将到来和逾期'|translate}}</span>
      </h2>
      <crm-schedule-list [hidden]="!isShowSchedule||!isShow" [customerId]="customerId" [searchParam]="param"
                         #scheduleList></crm-schedule-list>
      <nz-empty *ngIf="traceLogList.length==0&&scheduleList.scheduleList?.length==0"
                nzNotFoundImage="simple"></nz-empty>
      <ng-container *ngFor="let key of groupedLogKeys">
        <h2>
          <span (click)="hideKey(key)" class="month__title">
            <i
              [style.transform]="!hiddenKey[key] ? 'rotate(90deg)' : 'unset'" nz-icon
              nzType="right"
              nzTheme="outline"></i>{{key}}</span>
          <span style="font-size: 14px;" *ngIf="checkMonth(key)">本月</span>
        </h2>
        <div class="event_log__content" [hidden]="hiddenKey[key]"
             *ngFor="let item of groupedLogList[key]">
          <nz-spin [nzSpinning]="item.loading">
            <ng-container [ngSwitch]='item.businessType'>
              <ng-container *ngSwitchCase='5'>
                <ng-container *ngTemplateOutlet="EmailTpl; context: {$implicit: item}"></ng-container>
              </ng-container>
              <ng-container *ngSwitchCase='3'>
                <ng-container *ngTemplateOutlet="TrackRecordTpl; context: {$implicit: item}"></ng-container>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <ng-container *ngTemplateOutlet="MessageTpl; context: {$implicit: item}"></ng-container>
              </ng-container>
            </ng-container>
          </nz-spin>
        </div>
      </ng-container>
      <button
        (click)="getNextLog()"
        [nzLoading]="logLoading"
        *ngIf="param.totalCount > traceLogList.length"
        class="event_log__more"
        nz-button
        nzType="text"
        nzBlock
      >
        {{ 'Show More' | translate }}
      </button>
    </div>
  </nz-spin>
</section>

<nz-modal [nzVisible]="previewVisible" [nzWidth]="1000" [nzContent]="modalContent" [nzFooter]="null"
          (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ width: '100%' }"/>
  </ng-template>
</nz-modal>

<ng-template #MessageTpl let-item>
  <ng-container [ngSwitch]='item.businessType'>
    <h5 *ngSwitchCase='1'>{{ 'Team member' | translate }}</h5>
    <h5 *ngSwitchCase='2'>{{ 'Customer information' | translate }}</h5>
    <h5 *ngSwitchCase='4'>{{ 'Schedule' | translate }}</h5>
  </ng-container>
  <p>
    <span class='event_log__content__title'>{{ item.contentLocalizationText }}</span>
    <span>{{ item.creationTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
  </p>
</ng-template>

<ng-template #TrackRecordTpl let-item>
  <h5>{{ 'Follow up record' | translate }}</h5>
  <p>
    <span (click)='item.businessType == 3 && getLogDetail(item)' class='event_log__content__title'>
      <i nz-icon nzType='down' [style.transform]="item.isShow ? 'rotate(180deg)' : 'unset'" nzTheme='outline'></i>
      {{ item.contentLocalizationText }}
    </span>
    <span>{{ item.creationTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
  </p>
  <div *ngIf='item.isShow' class='trace_log__content'>
    <span style='display: flex; align-items: center;'>
      <i nz-icon [nzIconfont]="'icon-youxiang'" *ngIf="item.detail?.traceLogTypeCode == 'Email'"></i>
      <i nz-icon [nzIconfont]="'icon-weixin2'" *ngIf="item.detail?.traceLogTypeCode == 'WeChat'"></i>
      <i nz-icon [nzIconfont]="'icon-qq'" *ngIf="item.detail?.traceLogTypeCode == 'QQ'"></i>
      <i nz-icon [nzIconfont]="'icon-qitalingyu'" *ngIf="item.detail?.traceLogTypeCode == 'Other'"></i>
      <i nz-icon [nzIconfont]="'icon-hezuo'" *ngIf="item.detail?.traceLogTypeCode == 'Visit'"></i>
      <i nz-icon [nzIconfont]="'icon-shouji1'" *ngIf="item.detail?.traceLogTypeCode == 'Phone'"></i>
      {{ item.detail?.followUpRecord | date: 'yyyy-MM-dd HH:mm:ss' }}
    </span>
    <span>{{ item.detail?.content }}</span>
    <div *ngIf='item?.detail?.traceLogItems?.length'>
      <div *ngFor='let pic of item?.detail?.traceLogItems'
           style='float: left; margin: 0 8px 8px 0; padding: 8px; border: 1px solid #d9d9d9; border-radius: 2px;'>
        <img (click)='handlePreview(pic)' [src]='getImgUrl(pic)' alt=''/>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #EmailTpl let-item>
  <h5>{{ 'Email' | translate }}</h5>
  <p>
    <span (click)='item.isShow = !item.isShow' class='event_log__content__title'>
      <i nz-icon nzType='down' [style.transform]="item.isShow ? 'rotate(180deg)' : 'unset'" nzTheme='outline'></i>
      {{ item.contentLocalizationText }}
    </span>
    <span>{{ item.creationTime | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
  </p>
  <div *ngIf='item.isShow' class='email-content'>
    <div class='header'>
      <div class='item'>
        <div class='line label'>发件人:</div>
        <div class='line value'>jackypeng@cityocean.com [mailto:jackypeng@cityocean.com]</div>
      </div>
      <div class='item'>
        <div class='line label'>发送时间:</div>
        <div class='line value'>2021-01-09 15:49</div>
      </div>
      <div class='item'>
        <div class='line label'>收件人:</div>
        <div class='line value'>'poppyhu'; lilyyan</div>
      </div>
      <div class='item'>
        <div class='line label'>抄送:</div>
        <div class='line value'>lisaluo@cityocean.com</div>
      </div>
      <div class='item'>
        <div class='line label'>主题:</div>
        <div class='line value'>客户代码审核</div>
      </div>
    </div>
    <div class='email-body'>好的，非常感谢。</div>
    <!--
    <div class='email-func'>
      <button nz-button>回复</button>
      <button nz-button>转发</button>
    </div>
    -->
  </div>
</ng-template>
