<button nz-button nzType="primary" style="margin-bottom: 16px;" (click)="onAdd()">{{ '新增' | translate }}</button>
<co-st
  #st
  [columns]="columns"
  [data]="contacts"
  columnDefaultWidth="100"
  (change)="onTableChange($event)"
  calcScroll
  disableCalcX
  virtualScroll
  [showFilters]="false"
  style="flex: 1;"
>
  <ng-template st-row="xm" let-data>
    {{ data.surname }}
    {{ data.name }}
  </ng-template>
  <ng-template st-row="xml" let-data>
    {{ data.surnameLocalization }}
    {{ data.nameLocalization }}
  </ng-template>
</co-st>
