<button nz-button nzType="primary" style="margin-bottom: 16px;" (click)="onAdd('Add')">{{ '新增' | translate }}</button>
<co-st
  #st
  [columns]="columns"
  [data]="contacts"
  columnDefaultWidth="100"
  (change)="onTableChange($event)"
  [loading]="loading"
  [rowClassName]="getRowClassName"
  calcScroll
  disableCalcX
  virtualScroll
  [showFilters]="false"
  style="flex: 1;"
>
  <ng-template st-row="isMaster" let-data>
    <ng-container *ngIf="data.isMaster; else elseIsMasterTemplate">
      {{ 'CustomerList.Yes' | translate }}
    </ng-container>
    <ng-template #elseIsMasterTemplate>
      {{ 'CustomerList.No' | translate }}
    </ng-template>
  </ng-template>

  <ng-template st-row="xm" let-data>
    <span nz-popover [nzPopoverTitle]="null" [nzPopoverContent]="contentTemplate">
      {{ data.surname }}
      {{ data.name }}
    </span>
    <ng-template #contentTemplate>
<div class="contact-title" >
  <span style="color: #1890ff;" nz-icon [nzIconfont]="'icon-user-login'"></span>
联系人
</div>
<div>
<p class="contact-p" ><span style="font-weight: bold;">{{data.localizationName}}/{{data.name}}</span><span style="font-weight: bold;">{{data.position}}</span> </p>
<div style="margin-bottom: 14px;">
  <div class="contact-info" ><div style="flex: 1;">手机号码:{{data.phone||'---'}} </div> <div style="flex: 2;">电话号码:{{data.tel||'---'}}</div></div>
  <div class="contact-info"><div style="flex: 1;">邮箱:{{data.eamil||'---'}} </div> <div style="flex: 2;">传真:{{data.fax||'---'}}</div></div>
  <div>备注:{{data.remark||'---'}} </div>

</div>
<div class="contact-title">
  <span style="color: #1890ff;" nz-icon [nzIconfont]="'icon-user-login'"></span>
CSP账户信息
</div>
<div>
  <p class="contact-p"><span style="font-weight: bold;">{{data.email||'---'}}</span><span style="font-weight: bold;">{{data.role}}</span> </p>
</div>
</div>

    </ng-template>
  </ng-template>
  <ng-template st-row="xml" let-data>
    {{ data.localizationSurname }}
    {{ data.localizationName }}
  </ng-template>

  <ng-template st-row="role" let-data>
    <ng-container *ngIf="data.userId; else elseRoleTemplate">
      <ng-container *ngIf="data?.userInfo?.roles.length > 0; else elseRoleInfoActiveTemplate">
        {{ (data?.userInfo?.roles)[0].roleName }}
      </ng-container>
      <ng-template #elseRoleInfoActiveTemplate>
        — —
      </ng-template>
    </ng-container>
    <ng-template #elseRoleTemplate>
      — —
    </ng-template>
  </ng-template>

  <ng-template st-row="userId" let-data>
    <ng-container *ngIf="data.userId; else elseUserIdTemplate">
      {{ 'Open account' | translate }}
    </ng-container>
    <ng-template #elseUserIdTemplate> {{ 'Nonactivated' | translate }} </ng-template>
  </ng-template>
  <ng-template st-row="creationTime" let-data>
    <ng-container *ngIf="data.userId; else elseCreationTimeTemplate">
      {{ data?.userInfo?.creationTime | date: 'yyyy-MM-dd' }}
    </ng-container>
    <ng-template #elseCreationTimeTemplate> -- </ng-template>
  </ng-template>

  <ng-template st-row="isActive" let-data>
    <ng-container *ngIf="data.userId; else elseIsActiveTemplate">
      <ng-container *ngIf="data?.userInfo?.isActive; else elseUserInfoActiveTemplate">
        {{ 'Activated' | translate }}
      </ng-container>
      <ng-template #elseUserInfoActiveTemplate> {{ 'Inactivated' | translate }}</ng-template>
    </ng-container>
    <ng-template #elseIsActiveTemplate> -- </ng-template>
  </ng-template>

  <ng-template st-row="locations" let-data>
    <div class="detial_msg" style="width: 130px;">
      <button nz-button nzSize="small" nz-popover nzPopoverTitle="" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom">
        {{ 'Position' | translate }}:{{ data.locations.length }}
      </button>
      <ng-template #contentTemplate>
        <div *ngFor="let item of data.locations" style="padding: 1em 0;">
          <div>
            <div style="display: flex; justify-content: space-between;">
              <div>
                <span style="margin-right: 20px;">{{ 'Registered address' | translate }}:</span>
                <span>{{ item.counry }}&nbsp;</span>
                <span>{{ item.province }}&nbsp;</span>
                <span>{{ item.city }}&nbsp;</span>
                <span>{{ item.streetAddress }}&nbsp;</span>
              </div>
              <div>
                <button nzType="default" nz-button (click)="deleteLocation(item,data)">{{ 'Remove' | translate }}</button>
              </div>
            </div>
            <div>
              <span style="margin-right: 20px;">{{ 'Address name' | translate }}:</span>
              <span>{{ item.name }}&nbsp;</span>
            </div>
          </div>
        </div>
        <div style="color: #1890ff; text-align: center;" [ngClass]="{ disable: data.isDeleted }" (click)="bingLocation('Add', data)">
          {{ 'Bind more locations' | translate }}
        </div>
      </ng-template>
    </div>
  </ng-template>
</co-st>
