<div
  class="review-shipment-dialog"
  nz-resizable
  (nzResize)="onResize($event)"
  [style.width.px]="width"
  [ngStyle]="{ display: isVisible == true ? 'flex' : 'none' }"
>
  <header class="drawer_head">
    <div>
      <span style="font-weight: 600;">{{ title }}</span>
    </div>
    <span (click)="handleCancel()" class="txt-close"><i nz-icon nzType="close" nzTheme="outline"></i></span>
  </header>

  <div class="contacts">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'" *ngIf="validateForm">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="name" nzRequired>{{ 'First name' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please type in your name!' | translate }}">
              <input type="text" nz-input formControlName="name" placeholder="{{ 'Please enter' | translate }}" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="surname" nzRequired>{{ 'Last name' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please type in your name!' | translate }}">
              <input type="text" nz-input formControlName="surname" placeholder="{{ 'Please enter' | translate }}" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label>{{ 'Name' | translate }}({{ 'Local' | translate }})</nz-form-label>
            <nz-form-control>
              <input type="text" nz-input formControlName="nameLocalization" placeholder="{{ 'Please enter' | translate }}" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="phone" nzRequired>{{ 'Phone number' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="phoneError">
              <input type="text" nz-input formControlName="phone" placeholder="{{ 'Please enter' | translate }}" />
              <ng-template #phoneError>
                <ng-container *ngIf="validateForm.get('phone').hasError('required')">
                  {{ 'Please enter phone number!' | translate }}
                </ng-container>
                <ng-container *ngIf="validateForm.get('phone').hasError('existSameCode')">
                  {{ 'Please enter a valid phone number!' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="mail" nzRequired>{{ 'Email' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="mailError">
              <input
                nz-input
                formControlName="mail"
                placeholder="{{ 'Please enter' | translate }}"
                (ngModelChange)="onSetUserName($event)"
                [disabled]="data?.id"
                [attr.disabled]="data?.id ? 'disabled' : null"
              />
              <ng-template #mailError>
                <ng-container *ngIf="validateForm.get('mail').hasError('required') || validateForm.get('mail').hasError('email')">
                  {{ 'Please input the correct email address!' | translate }}
                </ng-container>
                <ng-container *ngIf="validateForm.get('mail').hasError('existSameCode')">
                  {{ mailErrorMsg }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="Post">{{ 'Job Capacity' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Post!">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'Please select' | translate }}" formControlName="position">
                <nz-option *ngFor="let option of positionList" [nzLabel]="option.name" [nzValue]="option.name">
                  {{ option.name }}</nz-option
                >
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="fax">{{ 'Fax' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="{{ 'Please enter the correct fax!' | translate }}">
              <input type="text" nz-input formControlName="fax" placeholder="{{ 'Please enter' | translate }}" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="tel">{{ 'Telephone number' | translate }}</nz-form-label>
            <nz-form-control [nzErrorTip]="telError">
              <input type="text" nz-input formControlName="tel" placeholder="{{ 'Please enter' | translate }}" />
              <ng-template #telError>
                <ng-container *ngIf="validateForm.get('tel').hasError('required')">
                  {{ 'Please enter your telephone number!' | translate }}
                </ng-container>
                <ng-container *ngIf="validateForm.get('tel').hasError('existSameCode')">
                  {{ 'Please enter the correct telephone number!' | translate }}
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24">
          <nz-form-item>
            <nz-form-label nzFor="remark">{{ 'Remark' | translate }}</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Remark!">
              <textarea
                formControlName="remark"
                nz-input
                placeholder="{{ 'Please enter' | translate }}"
                [nzAutosize]="{ minRows: 3, maxRows: 3 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24" *ngIf="!data?.userInfo">
          <nz-form-item>
            <nz-form-label nzFor="isCspAccountOpen">
              <label
                nz-checkbox
                formControlName="isCspAccountOpen"
                style="margin-right: 20px;"
                [nzDisabled]="
                  (validateForm.get('mail').errors ? true : false) || (data?.isMainAccount ? true : false) || (editionRoleId ? false : true)
                "
              ></label
              >{{ 'Whether to open account' | translate }}
            </nz-form-label>
          </nz-form-item>
        </div>
      </div>

      <div *ngIf="validateForm.get('isCspAccountOpen').value == true">
        <div style="padding: 24px 0; border-top: 1px solid #f2f2f2; display: flex; justify-content: space-between;">
          <strong>{{ 'Account information' | translate }}</strong>
          <button
            nz-button
            (click)="onDelete()"
            nzType="primary"
            nzSize="small"
            *ngIf="data?.userInfo && validateForm.get('isCspAccountOpen').value == true"
          >
            {{ 'Sign Out' | translate }}
          </button>
        </div>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzFor="username" nzRequired>{{ 'Username' | translate }}</nz-form-label>
              <nz-form-control nzErrorTip="{{ 'Username can not be empty!' | translate }}">
                <input type="text" nz-input formControlName="username" readonly />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <nz-form-label nzFor="roles" nzRequired>{{ 'Role' | translate }}</nz-form-label>
              <nz-form-control nzErrorTip="{{ 'The character cannot be empty!' | translate }}">
                <nz-select nzShowSearch nzAllowClear formControlName="roles">
                  <nz-option [nzLabel]="data.name" [nzValue]="data.name" *ngFor="let data of rolesList"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzFor="isMaster"
            ><label nz-checkbox formControlName="isMaster" style="margin-right: 20px;" [nzDisabled]="mainContact"></label
            >{{ 'Whether the main contact' | translate
            }}<span *ngIf="mainContact">{{ 'Primary contact already exists' | translate }}</span></nz-form-label
          >
        </nz-form-item>
      </div>
    </form>
  </div>

  <footer class="drawer_footer">
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="loading">{{ 'Save' | translate }}</button>
  </footer>

  <nz-resize-handle nzDirection="left">
    <div class="right-wrap">
      <div class="triangle"></div>
    </div>
  </nz-resize-handle>
</div>
