<div class="inner-content py-20" id="table">
  <div class="list-content main-container">
    <div class="index-header-title">
      <!-- <form nz-form #formData="ngForm"> -->
      <div class="index-header-title-filter">
        <nz-select nzAllowClear
          [nzPlaceHolder]="'Please search for the booking operator / booking business name' | translate"
          (modelWithGroupChange)="bookingInputParams.bookingNoOrName = $event.groupValue"
          class="index-header-title-filter-perple" [(ngModel)]="bookingInputParams.bookingNoOrName" nzShowSearch>
          <nz-option [groupValue]="item" *ngFor="let item of bookingNoList" [nzValue]="item"
            [nzLabel]="item.searchContent"></nz-option>
        </nz-select>
        <nz-select nzAllowClear nzShowSearch [nzPlaceHolder]="'Search for entrusted customers / contacts' | translate"
          (modelWithGroupChange)="bookingInputParams.customerOrContact = $event.groupValue"
          class="index-header-title-filter-perple" [(ngModel)]="bookingInputParams.customerOrContact">
          <nz-option [groupValue]="item" *ngFor="let item of customerOrContactList" [nzValue]="item"
            [nzLabel]="item.searchContent"></nz-option>
        </nz-select>
        <nz-select nzAllowClear [nzPlaceHolder]="'Status' | translate" class="index-header-title-filter-status"
          [(ngModel)]="bookingInputParams.Status">
          <nz-option *ngFor="let item of bookingStateList" [nzValue]="item" [nzLabel]="bookingState[item] | translate">
          </nz-option>
        </nz-select>
        <div class="icon-all">
          <!-- <label>{{ 'Company' | translate }}：</label> -->
          <nz-radio-group [nzButtonStyle]="'solid'" class="tradeTypeGroup nz-radio-group-button"
            [(ngModel)]="bookingInputParams.IsDistributeServiceCompany">
            <label class="tradeTypeInfo" nz-radio-button [nzValue]="false">{{ 'Pending assign' | translate }}</label>
            <label class="tradeTypeInfo" nz-radio-button [nzValue]="true">{{ 'Assigned' | translate }}</label>
          </nz-radio-group>
        </div>
        <button nz-button nzType="primary" [disabled]="isDisabled" (click)="search()">
          {{ 'Search' | translate }}
        </button>
        <button nz-button nzType="Default" (click)="bookingInputParams = {}">
          {{ 'Clear' | translate }}
        </button>
      </div>
      <!-- </form> -->
      <div class="list-content-action">
        <button nz-button nzType="primary" [disabled]="isDisabled" (click)="addBooking()">
          {{ 'Create Booking' | translate }}
        </button>
      </div>
    </div>
    <div class="content-list">
      <nz-spin [nzSpinning]="loading" nzTip="Loading..." style="flex: 1; overflow: hidden">
        <co-st class="list-table"
          [columns]="columns"
               [data]="bookingList"
               [showCheckbox]="false"
               [showFilters]="false"
               calcScroll
               disableCalcX
               style="height: 100%;"
        >
          <ng-template st-row="no" let-data>
            <span style="display: inline-block; min-width: 30px;">
                  <i *ngIf="data.isCustomerUpdate" [title]="'客户修改了订舱申请,详见详情页'" class="iconfont icon-gengxin" nz-icon [nzIconfont]="'icon-gengxin'"></i>
                </span>
            {{ data.bookingNo }}
          </ng-template>
          <!-- 运输方式 -->
          <ng-template st-row="freightMethodType" let-data>
            <ng-container
              *ngIf="data.freightMethodType == freightMethodTypeValue.Ocean; else freighttypeElseTemplate">
              {{ 'ocean' | translate }}
            </ng-container>
            <ng-template #freighttypeElseTemplate>
              {{ 'air' | translate }}
            </ng-template>
          </ng-template>
          <!-- 货好日期 -->
          <ng-template st-row="cargoReadyDate" let-data>
            <ng-container *ngIf="data.cargoReadyDate; else elsecargoReadyDateTemplate">
              {{ data.cargoReadyDate | date: 'yyy-MM-dd' }}
            </ng-container>
            <ng-template #elsecargoReadyDateTemplate>
              ---
            </ng-template>
          </ng-template>
          <!-- 发货人 -->
          <ng-template st-row="originAddress" let-data>
            <ng-template [ngTemplateOutlet]="addressTemplate" [ngTemplateOutletContext]="{ $implicit: data.originAddress }"></ng-template>
          </ng-template>
          <!-- 收货人 -->
          <ng-template st-row="destinationAddress" let-data>
            <ng-template [ngTemplateOutlet]="addressTemplate" [ngTemplateOutletContext]="{ $implicit: data.destinationAddress }"></ng-template>
          </ng-template>
          <!-- 货物信息 -->
          <ng-template st-row="totalWeightDisplay" let-data>
            <ng-container *ngIf="data.totalWeightDisplay && data.totalVolumeDisplay; else elseWeightTemplate">
              <ul class="ellipse-ul">
                <li>{{ data.totalWeightDisplay }}</li>
                <li>{{ data.totalVolumeDisplay }}</li>
              </ul>
            </ng-container>
            <ng-template #elseWeightTemplate>
              ---
            </ng-template>
          </ng-template>
          <!-- 状态 -->
          <ng-template st-row="status" let-data>
<span *ngIf="data.status == 0">
                  {{ 'Dreft' | translate }}
                </span>
            <span *ngIf="data.status == 1">
                  {{ 'Pending cancel' | translate }}
                </span>
            <span *ngIf="data.status == 7">
                  {{ 'Cancelled' | translate }}
                </span>
            <span *ngIf="data.status == 2">
                  {{ 'BookingSubmitted' | translate }}
                </span>
            <span *ngIf="data.status == 3">
                  {{ 'Booked' | translate }}
                </span>
            <span *ngIf="data.status == 4">
                  {{ 'Waiting for price' | translate }}
                </span>
            <span *ngIf="data.status == 5">
                  {{ 'Waiting for the customer to confirm the price' | translate }}
                </span>
            <span *ngIf="data.status == 6">
                  {{ 'Waiting for the customer to confirm the price' | translate }}
                </span>
          </ng-template>
          <!-- 出货口岸 -->
          <ng-template st-row="serviceCompanyDisplay" let-data>
            <span *ngIf="data.serviceCompanyId">
                  {{ data.serviceCompanyDisplay }}
                </span>
            <div *ngIf="!data.serviceCompanyId" style="min-width: 80px;">
              <nz-select style="width: 80%;" [(ngModel)]="data.serviceCompanyId" nzAllowClear nzShowSearch
                         [appSearchByExtraKey]="['displayNameLocalization','displayName']" [nzCustomTemplate]="companyCustom"
                         nzPlaceHolder="{{ 'Choose' | translate }}" (nzOpenChange)="getServiceCompany(data)"
                         (ngModelChange)="SureServiceCompany(data)">
                <nz-option [appNzOptionExtra]="item" [nzValue]="item.id" [nzLabel]="item.displayNameLocalization"
                           *ngFor="let item of companylist"></nz-option>
              </nz-select>
              <ng-template #companyCustom let-selected>
                <div>
                  {{ selected.template._appExtra.displayNameLocalization }}
                </div>
              </ng-template>
            </div>
          </ng-template>
          <!-- 发货人收货人模板 -->
          <ng-template #addressTemplate let-address>
            <ng-container *ngIf="address; else elsedestinationAddressTemplate">
              <ul *ngIf="address" class="ellipse-ul">
                <li [title]="address?.customerName || address?.name">
                  <ng-container *ngIf="address.customerName; else elsedestinationTemplate">
                    {{ address?.customerName }}
                  </ng-container>
                  <ng-template #elsedestinationTemplate>
                    {{ address?.name }}
                  </ng-template>
                </li>
                <li [title]="[address?.streetAddress, address?.city, address?.country] | arrayJoin">
                      <span *ngIf="address">
                        {{ address?.streetAddress }}

                        {{ address?.city }}
                        <span *ngIf="address.city">,</span>{{ address?.country }}
                      </span>
                </li>
              </ul>
            </ng-container>
            <ng-template #elsedestinationAddressTemplate>
              --
            </ng-template>
          </ng-template>
        </co-st>
      </nz-spin>
    </div>
    <div class="d-flex justify-content-end">
      <nz-pagination style="text-align: right;" #nzpage [nzPageIndex]="pageinationParams.pageIndex"
        [nzShowSizeChanger]="true" [nzTotal]="bookingtotal"
        (nzPageSizeChange)="nzpage.nzPageIndex = 1; currentPageSizeChange($event)"
        [nzPageSize]="pageinationParams.nzPageSize" (nzPageIndexChange)="pageIndexChange($event)"
        [nzShowQuickJumper]="false">
      </nz-pagination>
    </div>
  </div>
</div>
