<form
  nzLayout="horizontal"
  nz-form
  [formGroup]="validateForm"
  style="display: flex; flex-direction: column; height: 100%; margin-bottom: 16px;"
>
  <div style="margin-bottom: 8px;">
    <button nz-button nzSize="small" nzType="primary" [nzLoading]="loading" (click)="save()">{{ 'Save' | translate }}</button>
    <button nz-button nzSize="small" nzType="default" (click)="cancel()">{{ 'Cancel' | translate }}</button>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '位置名称' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please input' | translate }}">
          <input nz-input placeholder="Basic usage" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>{{ '选择联系人' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please select' | translate }}">
          <nz-select
            #contact
            nzMode="multiple"
            style="width: 100%;"
            formControlName="contactIds"
            [nzMaxTagCount]="1"
            nzShowSearch
            nzAllowClear
            [nzPlaceHolder]="'Search Contact' | translate"
            [nzCustomTemplate]="custom"
            [nzDropdownRender]="render"
            (nzOnSearch)="originLocationsearch($event)"
            (appNzOptionExtraChange)="clearLocation($event, 'origin')"
            nzOptionHeightPx="54"
          >
            <nz-option
              nzCustomContent
              [nzValue]="item.id"
              [nzLabel]="item.surname"
              *ngFor="let item of contactList; let i = index"
              [appNzOptionExtra]="item"
            >
              <div>
                <div>{{ item.surname }}</div>
                <div>{{ item.email }}</div>
              </div>
            </nz-option>
          </nz-select>
          <ng-template #custom let-selected>
            {{ selected.template._appExtra.surname }}
          </ng-template>
          <ng-template #render>
            <nz-divider></nz-divider>
            <div style="display: flex; align-items: center; padding-left: 16px;" (click)="('')">
              <span
                style="margin-right: 8px; color: #1890ff; font-size: 18px;"
                nz-icon
                [nzIconfont]="'icon-add-fill'"
                class="iconfont icon-add-fill"
              ></span>
              <span> {{ 'Add Contact' | translate }}</span>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>{{ '邮政编码' | translate }} </nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Please input' | translate }}">
          <input nz-input placeholder="Basic usage" formControlName="zip" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>{{ '港口代码' | translate }} </nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Basic usage" formControlName="portCode" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Address' | translate }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Country / region cannot be empty!' | translate }}">
          <co-cascader
            style="width: 100%;"
            [nzValueProperty]="'id'"
            [nzOptionRender]="renderTpl"
            [nzLabelRender]="labelTpl"
            formControlName="country"
            nzPlaceHolder="{{ 'Please select country-province-city' | translate }}"
            [nzLoadData]="loadData.bind(this)"
            [nzLabelProperty]="'nameLocalization'"
            (ngModelChange)="onCascaderChanges($event)"
          ></co-cascader>
          <ng-template #renderTpl let-option let-index="index">{{ option.nameLocalization }}</ng-template>
          <ng-template #labelTpl>{{ getCountryName }}</ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <!--        详细地址(英文)-->
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label nzRequired>{{ 'Address(english)' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="addressErrorTpl">
          <nz-input-group [nzSuffix]="inputClearTpl4">
            <input
              id="address"
              (blur)="checkRepeatData('streetAddress')"
              nz-input
              placeholder="{{ 'Please enter' | translate }}"
              formControlName="streetAddress"
              [nzAutocomplete]="auto"
              (input)="searchPlace($event)"
            />
            <ng-template #inputClearTpl4
              ><i
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                *ngIf="validateForm.get('streetAddress').value"
                (click)="validateForm.get('streetAddress').reset(); hide()"
              ></i
            ></ng-template>
          </nz-input-group>
          <nz-autocomplete #auto>
            <nz-auto-option *ngFor="let item of placeList" [nzValue]="item.description" (click)="bindGoogleMapData(item.description)">
              <span>{{ item.description }}</span>
            </nz-auto-option>
          </nz-autocomplete>
          <ng-template #addressErrorTpl>
            <ng-container *ngIf="validateForm.get('streetAddress').hasError('required')">
              {{ 'Address cannot be empty!' | translate }}
            </ng-container>
            <ng-container *ngIf="validateForm.get('streetAddress').hasError('existSame')">
              {{ 'Address cannot be same!' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <!--        详细地址(本地语言)-->
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>{{ 'Address' | translate }}({{ 'Local' | translate }})</nz-form-label>
        <nz-form-control [nzErrorTip]="localAddressErrorTpl">
          <nz-input-group [nzSuffix]="inputClearTpl5">
            <input
              (blur)="checkRepeatData('streetAddressLocalization')"
              id="streetAddressLocalization"
              nz-input
              placeholder="{{ 'Please enter' | translate }}"
              formControlName="streetAddressLocalization"
            />
            <ng-template #inputClearTpl5
              ><i
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                *ngIf="validateForm.get('streetAddressLocalization').value"
                (click)="validateForm.get('streetAddressLocalization').reset(); hide()"
              ></i
            ></ng-template>
          </nz-input-group>
          <ng-template #localAddressErrorTpl>
            <ng-container *ngIf="validateForm.get('streetAddressLocalization').hasError('required')">
              {{ 'Address cannot be empty!' | translate }}
            </ng-container>
            <ng-container *ngIf="validateForm.get('streetAddressLocalization').hasError('existSame')">
              {{ 'Address cannot be same!' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label>{{ '备注' | translate }}</nz-form-label>
        <nz-form-control>
          <textarea formControlName="reamrk" nz-input [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
